body {
  margin: 0;
  padding: 0;
  background-color: #121918;
  word-wrap: break-word;
  overflow-x: hidden;
}

#site-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: #ECECEC;
}

.logosarea {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 25px 0px;
  width: 100%;
  text-align: center;
  color: #ECECEC;
  z-index: 1;
  position: absolute;
  top: -10px;
}

.logo {
  margin: 0px 10px 0px 10px;
  transition: 0.2s;
  height: 50px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.logo:hover {
  filter: brightness(1.18);
}

.logo-title-label {
  width: 100%;
  font-size: 18px;
  height: 8px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family: DIN Bold, Arial, sans-serif;
  animation-name: animParallaxEventTitleLabel;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.25s;
  animation-fill-mode: both;
  opacity: 0;
}

.logosarea img {
  width: 100%;
  max-width: 800px;
  animation-name: animParallaxEventTitleLabel;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes animParallaxEventTitleLabel {
  from {
    transform: scaleX(.95);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes animParallaxEventTitle {
  0% {
    letter-spacing: 0px;
    opacity: 0%;
  }
  50% {
    letter-spacing: 2.5px;
    opacity: 50%;
  }
  100% {
    letter-spacing: 5px;
    opacity: 100%;
  }
}

.logosarea img {
  width: 100%;
  max-width: 800px;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

#day-selector {
  width: 100%;
  margin: 10px 0px 0px 0px;
  list-style: none;
  text-align: center;
  font-family: DIN Black, Arial, sans-serif;
}

.day-selector-day {
  background-color: #081F2B;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  margin: 0 10px;
  font-size: 35px;
  color: #ECECEC;
  transition: 0.2s;
  border-radius: 25px 0px 0px 0px;
}

.day-selector-day:hover {
  background-color: #B95215;
  color: #222;
  cursor: pointer;
}

.day-selector-day-selected {
  background-color: #B95215;
  color: #222;
  cursor: pointer;
}

.day-selector-day-selected:hover {
  color: #ECECEC;
}

.day-selector-day-locked {
  opacity: 38%;
  color: #555;
  transition: 0.2s;
}

.day-selector-day-locked:hover {
  background-color: #081F2B;
  color: #555;
}

#parallax-area {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 1300px;
  height: 1570px;
  overflow: hidden;
}

#noParallax-area, #parallax-area {}

#parallax-bg {
  background-image: url(/images/tf_pages/hazardousenvironments/parallax_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 1000px;
  position: absolute;
  top: -200px;
  left: 0%;
  z-index: -6;
}

#parallax-alyx2 {
  background-image: url(/images/tf_pages/hazardousenvironments/parallax_citadel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 950px;
  position: absolute;
  top: -411px;
  left: 0;
  z-index: -5;
  filter: blur(0.75px);
}

#parallax-alyx3 {
  background-image: url(/images/tf_pages/hazardousenvironments/parallax_trees.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 660px;
  position: absolute;
  top: 250px;
  left: 0%;
  z-index: -4;
  filter: blur(0.55px);
}

#parallax-alyx4 {
  background-image: url(/images/tf_pages/hazardousenvironments/parallax_citadelwallsclasslineup.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  height: 920px;
  position: absolute;
  top: 300px;
  left: 0;
  z-index: -3;
  filter: blur(0.5px);
}

#parallax-alyx5 {
  background-image: url(/images/tf_pages/hazardousenvironments/parallax_rocksL.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
  height: 695px;
  position: absolute;
  top: 880px;
  left: 0;
  z-index: -1;
  filter: blur(1.1px);
}

#noParallax-area {
  z-index: 10;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background-image: url(/images/tf_pages/hazardousenvironments/noparallax.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.containerBox {
  background-color: #ECECEC;
  padding: 25px;
  margin: 0px auto 35px auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerBox img {
  width: 100%;
}

.containerTitles {
  width: 100%;
  font-size: 42px;
  line-height: 55px;
  font-family: DIN Black, Arial, sans-serif;
  color: #212529;
  text-transform: uppercase;
}

.containerTitlesBig {
  width: 100%;
  margin: 0px 0px 10px 0px;
  font-size: 60px;
  line-height: 55px;
  font-family: DIN Black, Arial, sans-serif;
  color: #212529;
  text-transform: uppercase;
}

.containerDescriptions {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  line-height: 25px;
  font-family: DIN Regular, Arial, sans-serif;
  color: #212529;
}

.containerDescriptions a {
  color: #005EEE;
  text-decoration: none;
}

.containerDescriptionsBold {
  margin: 0px 0px 10px 0px;
  font-size: 19px;
  font-family: DIN Bold, Arial, sans-serif;
  color: #212529;
}

.marginnDescription {
  margin: 8px;
}

.button {
  margin: 9px;
  padding: 10px 25px 10px 25px;
  font-family: DIN Bold, Arial, sans-serif;
  font-size: 22px;
  color: #E6E6E6;
  border-color: #B35215;
  border-style: solid;
  border-width: thin;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.button:before {
  content: "";
  background-color: #B35215;
  position: absolute;
  width: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -31px;
  transition: 0.15s;
  z-index: -1;
  transform: skewX(-28deg);
}

.button:hover:before {
  width: 150%;
}

.button-workshop {
  margin: -9% 3% 0px 3%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.button-workshop:hover {
  background-color: #00000099;
}

.noPaddings {
  padding: 0px;
}

.cosmetic {
  width: 100%;
  overflow: hidden;
}

.communityPreview {
  width: 100%;
  border-style: solid;
  border-top-style: none;
  border-color: #D35215;
  border-width: 2px;
}

.cosmeticPreview img {
  width: 100%;
}

.peopleBox {
  margin: 0px auto;
}

.people {
  margin: 5px;
  padding: 5px;
  border-color: #B35215;
  border-style: solid;
  border-width: thin;
  color: #121918;
  overflow: hidden;
  transition: 0.25s;
  z-index: 1;
}

.people:before {
  content: "";
  background-color: #B35215;
  position: absolute;
  width: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -55px;
  transition: 0.25s;
  transform: skewX(-35deg);
  z-index: -1;
}

.people:hover {
  color: #E6E6E6;
}

.people:hover:before {
  width: 155%;
  z-index: -1;
}

.people img {
  width: 100%;
  border-color: #E6E6E6;
  border-style: solid;
  border-width: thin;
}

.peoplePic {
  width: 57px;
  height: 57px;
  float: left;
}

.peopleName {
  padding: 0px 0px 0px 7px;
  font-family: DIN Medium, Arial, sans-serif;
  font-size: 23px;
  overflow: hidden;
}

.peopleDescription {
  margin: -3px;
  padding: 0px 0px 0px 7px;
  font-family: DIN Regular, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

/* FOOTER STYLE START */

#footer {
  margin: 25px auto 5px auto;
  width: 100%;
  color: #666;
  font-size: 13px;
  line-height: 16px;
}

#footer img {
  margin-right: 10px;
  width: 105px;
  height: 35px;
  float: left;
  filter: grayscale(1);
  opacity: 25%;
  transition: 0.1s;
}

#footer img:hover {
  filter: grayscale(0);
  opacity: 100%;
}

#footer-day-table {
  width: 100%;
  list-style: none;
  padding-left: 11px;
  margin-bottom: 0;
  border-left-style: solid;
  border-color: #333;
  border-width: 1px;
  line-height: 22px;
  font-size: 22px;
  font-family: DIN Light, Arial, sans-serif;
}

#footer-day-table hr {
  margin: 5px 0px 5px 0px;
  background-color: #222;
}

#footer-day-table a {
  text-decoration: none;
  color: #666666;
}

.footer-day {
  transition: 0.2s;
}

.footer-day:hover {
  color: #ECECEC;
}

.footer-day-selected {
  color: #ECECEC;
}

.footer-day-locked {
  color: #333;
}

/* FOOTER STYLE END */

@media only screen and (max-width: 600px) {
  #noParallax-area {
    display: block;
  }
  #parallax-area {
    display: none;
  }
  .row {
    margin: 0;
  }
  .containerTitlesBig {
    font-size: 43px;
    line-height: 36px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .logo-title-label {
    width: 100%;
    font-size: 18px;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 601px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

.video {
  position: relative;
  padding: 0 0 56.25% 0;
}

.video-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* DAY 3 PAGE */

.weaponShowcase {
  word-wrap: break-word;
  /*    background-color: #12191F99;*/
  margin: 0 auto;
  width: 95%;
}

.weaponShowcase-img {
  min-width: 28%;
  width: 41%;
  max-width: 50%;
}

.weaponShowcase-divisor {
  margin: 0px 15px 0px 15px;
  width: 1px;
  height: 375px;
  background-color: #222;
}

.weaponShowcase-info {
  width: 100%;
  color: #222;
}

.weaponShowcase-colorName {
  width: 100%;
  font-family: DIN Black, Arial, sans-serif;
  font-size: 74px;
  line-height: 58px;
}

.weaponShowcase-colorDescription {
  width: 100%;
  font-family: DIN Bold, Arial, sans-serif;
  font-size: 25px;
  line-height: 23px;
  margin: 5px 0px 10px 0px;
}

.weaponShowcase-info a {
  width: 100%;
  color: #111;
  transition: 0.2s;
}

.weaponShowcase-info a:hover {
  text-decoration: none;
  color: #333;
}

.weaponShowcase-atributes {
  width: 100%;
  font-family: DIN Light, Arial, sans-serif;
  font-size: 22px;
  line-height: 25px;
  display: inline-grid;
}

.weaponShowcase-goodSide {
  color: #5555FF;
}

.weaponShowcase-badSide {
  color: #D83636;
}

@media only screen and (max-width: 800px) {
  .weaponShowcase-colorName {
    font-size: 45px;
    line-height: 35px;
  }
  .weaponShowcase-atributes {
    font-size: 18px;
    line-height: 20px;
    font-family: DIN Regular, Arial, sans-serif;
  }
  .weaponShowcase-img {
    min-width: 80%;
    width: 95%;
    max-width: 100%;
  }
}

/* DAY 3 PAGE END */

/* DAY 4 PAGE */

#patch-notes {
  margin: 0 auto;
  width: 95%;
  font-family: DIN Bold, Arial, sans-serif;
  font-size: 20px;
}

.sub-patch-notes {
  font-family: DIN Regular, Arial, sans-serif;
}

@media only screen and (max-width: 800px) {
  #patch-notes {
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
  }
}

/* DAY 4 PAGE END */