body {
    margin: 0;
    padding: 0;
    background: #040404;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

a {
    color: #ce7545;
    text-decoration: none;
}

.bg-wrapper {
    position: relative;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}

.container {
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 810px;
    box-sizing: border-box;
}

.noborder {
    border: none;
}

.noshadow {
    box-shadow: none;
}

#bg2, #container_2 {
    height: 350px;
    background-image: url(/images/tf_pages/promo/about.png);
}

#bg4, #container_4 {
    height: 400px;
    background-image: url(/images/tf_pages/promo/servers.png);
}

#container_2 {
    padding-top: 140px;
}

#container_4 {
    padding-top: 150px;
}

#container_6 {
    padding-top: 150px;
}

#container_8 {
    padding-top: 150px;
}

.text {
    width: 740px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    line-height: 20px;
}

#bg3, #container_3 {
    height: 300px;
    background-image: url(/images/tf_pages/promo/separator_server_location.png);
}

#bg5, #container_5 {
    height: 300px;
    background-image: url(/images/tf_pages/promo/separator_workshop_content.png);
}

#bg6, #container_6 {
    height: 950px;
    background-image: url(/images/tf_pages/promo/updates.png);
}

#bg7, #container_7 {
    height: 750px;
    background-image: url(/images/tf_pages/promo/footer.png);
}

#bg8, #container_8 {
    background-image: url(/images/tf_pages/promo/join.png);
}

input[type=submit] {
    cursor: pointer;
    box-shadow: 0px 2px 7px 0 black;
    transition: all .2s ease;
}

input[type=submit]:active {
    box-shadow: none;
    transform: translateY(2px);
}

input, select, textarea {
    display: block;
    width: 100%;
    height: 40px;
    background: #171717;
    padding-left: 10px;
    box-sizing: border-box;
    border: #0c0c0c 1px solid;
    border-radius: 5px;
    color: #ddd;
    margin-bottom: 10px;
    outline: none;
}

textarea {
    padding: 10px;
    resize: none;
    height: 200px;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}

select {
    background: #1d1d1d;
}

#form_request {
    width: 600px;
    margin: 50px auto 0;
}

#bg1, #container_1 {
    height: 600px;
    background-image: url(/images/tf_pages/promo/header.png);
}

#container_1 {
    position: relative;
}

#timer {
    position: absolute;
    top: 232px;
    left: 142px;
    width: 526px;
    height: 227px;
    display: flex;
    justify-content: space-between;
    transform: rotate(0.4deg);
}

.timer_element {
    width: 113px;
    height: 227px;
    background-size: cover;
}

.timer_0 {
    background-image: url(/images/tf_pages/promo/timer_zero.png);
}

.timer_1 {
    background-image: url(/images/tf_pages/promo/timer_one.png);
}

.timer_2 {
    background-image: url(/images/tf_pages/promo/timer_two.png);
}

.timer_3 {
    background-image: url(/images/tf_pages/promo/timer_three.png);
}

.timer_4 {
    background-image: url(/images/tf_pages/promo/timer_four.png);
}

.timer_5 {
    background-image: url(/images/tf_pages/promo/timer_five.png);
}

.timer_6 {
    background-image: url(/images/tf_pages/promo/timer_six.png);
}

.timer_7 {
    background-image: url(/images/tf_pages/promo/timer_seven.png);
}

.timer_8 {
    background-image: url(/images/tf_pages/promo/timer_eight.png);
}

.timer_9 {
    background-image: url(/images/tf_pages/promo/timer_nine.png);
}

.box-language {
    width: 200px !important;
    position: absolute;
}

.infobox {
    box-shadow: 0px 2px 7px 0 black;
}

.language select {
    height: 20px;
}