@font-face {
    font-family: "TF2";
    src: url("/fonts/tf2.ttf") format('truetype');
}

@font-face {
    font-family: "TF2 Build";
    src: url("/fonts/tf2.ttf") format('truetype');
}

body {
    background-color: #000000;
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: #53F55F;
}

a:hover {
    color: #99F99F;
}

#container01bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/1.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container01 {
    background-image: url(/images/tf_pages/selfmadesmissmas/1.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 1151px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#links-holder {
    margin: 0 auto;
    width: 280px;
}

#teamfortresslogo {
    margin: 0 auto;
    background-image: url(/images/tf2logo_higher.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 185px;
    height: 39px;
    position: relative;
    top: 37px;
    left: -29px;
}

#teamfortresslogo:hover {
    filter: brightness(1.15);
}

#creatorstflogo {
    margin: 0 auto;
    background-image: url(/images/tf2_square_event_winter.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 47px;
    height: 47px;
    position: relative;
    top: -8px;
    left: 98px;
}

#creatorstflogo:hover {
    filter: brightness(1.15);
}

#container01maintext {
    margin: 0 auto;
    width: 875px;
    position: relative;
    top: 947px;
    color: white;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container02bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/2.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container02 {
    background-image: url(/images/tf_pages/selfmadesmissmas/2.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 950px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container03bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/3.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container03 {
    background-image: url(/images/tf_pages/selfmadesmissmas/3.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 648px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container04bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/4.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container04 {
    background-image: url(/images/tf_pages/selfmadesmissmas/4.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 650px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container05bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/5.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container05 {
    background-image: url(/images/tf_pages/selfmadesmissmas/5.png);
    background-position: top center;
    background-repeat: repeat;
    width: 950px;
    height: 640px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container06bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/6.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container06 {
    background-image: url(/images/tf_pages/selfmadesmissmas/6.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 754px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container07bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/7.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container07 {
    background-image: url(/images/tf_pages/selfmadesmissmas/7.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 763px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container07descriptiontext {
    margin: 0 auto;
    width: 835px;
    position: relative;
    top: 139px;
    color: white;
    font-size: 45px;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    font-family: TF2, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container08bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/8.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container08 {
    background-image: url(/images/tf_pages/selfmadesmissmas/8.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 1166px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container08inventorytext {
    width: 435px;
    position: relative;
    top: 425px;
    left: 15px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container08loadouttext {
    width: 432px;
    position: relative;
    top: 570px;
    left: 508px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container09bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/9.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container09 {
    background-image: url(/images/tf_pages/selfmadesmissmas/9.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 1133px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container09contrackertext {
    width: 445px;
    position: relative;
    top: 545px;
    left: 493px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container09contrackertext2 {
    width: 850px;
    margin: 0 auto;
    position: relative;
    top: 597px;
    color: white;
    font-size: 18px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container10bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/10.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container10 {
    background-image: url(/images/tf_pages/selfmadesmissmas/10.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 809px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container10crateimagetext {
    width: 341px;
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 5px #000;
    font-family: TF2, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    position: relative;
    top: 755px;
    left: 45px;
}

#container10cratestext {
    width: 500px;
    position: relative;
    top: 450px;
    left: 421px;
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 5px #000;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

#container11bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/11.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container11 {
    background-image: url(/images/tf_pages/selfmadesmissmas/11.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 1300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#container11description {
    margin: 0 auto;
    width: 405px;
    position: relative;
    top: 150px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 19px;
    color: rgba(225, 225, 225);
}

#credits-box {
    margin: 0 auto;
    width: 950px;
}

#creditstitle {
    margin: 0 auto;
    width: 900px;
    font-size: 55px;
    position: relative;
    top: 155px;
    color: rgba(225, 225, 225);
    font-family: TF2 Build, Arial, sans-serif;
}

.people a {
    text-decoration: none;
    color: rgba(225, 225, 225);
}

.people {
    background-image: url(/images/tf_pages/selfmadesmissmas/peoplecapsule.png);
    background-position: -25.5px -20px;
    background-size: 123%;
    margin: 0 auto;
    width: 232px;
    height: 95px;
    position: relative;
    top: 145px;
    display: inline-block;
    color: rgba(225, 225, 225);
}

.people:hover {
    background-position: -25.5px 118px;
}

.peoplepic {
    width: 39px;
    height: 39px;
    margin: 3px;
    padding: 1px;
    background-color: red;
    border-radius: 1px;
    position: relative;
    top: 25px;
    left: 25px;
}

.peopletitle {
    font-family: TF2 Build, Arial, sans-serif;
    font-size: 19px;
    width: 133px;
    position: relative;
    top: -15px;
    left: 73px;
    text-rendering: optimizeLegibility;
}

.peopledescription {
    font-family: TF2, Arial, sans-serif;
    font-size: 12.9px;
    width: 133px;
    height: 20px;
    position: relative;
    top: -15px;
    left: 73.5px;
    text-rendering: optimizeLegibility;
}

#container12bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/12.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container12 {
    background-image: url(/images/tf_pages/selfmadesmissmas/12.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #1c1c1c;
    width: 950px;
    height: 1070px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#faqcontainer {
    margin: 0 auto;
    width: 750px;
    padding-top: 195px;
    color: rgba(225, 225, 225);
}

.faqquestioncontainer {
    padding-bottom: 33px;
}

.faqquestion {
    font-family: TF2 Build, Arial, sans-serif;
    font-size: 28px;
    color: #cc231e;
    text-rendering: optimizeLegibility;
}

.faqanswer {
    font-family: "Calibri", Arial, sans-serif;
    padding-top: 8px;
    font-size: 17px;
    color: #34a65f;
    text-rendering: optimizeLegibility;
}

#container13bg {
    background-image: url(/images/tf_pages/selfmadesmissmas/13.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#container13 {
    background-image: url(/images/tf_pages/selfmadesmissmas/13.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 950px;
    height: 969px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#footervalvelogo {
    /* background-image: url(/images/valve_logo.png); */
    background-position: top;
    width: 100px;
    height: 29.3px;
    position: relative;
    top: 67px;
    left: 69.5px;
}

#footervalvelogo:hover {
    background-position: bottom;
}

#footercreatorslogo {
    background-image: url(/images/creators_logo_gear_fin-bwoutline_orange.svg);
    background-position: top;
    width: 100px;
    height: 29.3px;
    position: relative;
    top: 36px;
    left: 552px;
}

#footercreatorslogo:hover {
    background-position: bottom;
}

#discord-invite {
    width: 83px;
    height: 90px;
    position: absolute;
    top: 314px;
    left: 367px;
    opacity: 0;
}

#discord-invite:hover {
    opacity: 100;
}

#discord-invite p {
    margin: 0;
    position: absolute;
    top: 87px;
    left: -15px;
    transform: rotate(2.5deg);
    color: rgba(235, 235, 235);
    font-family: TF2, Arial, sans-serif;
}

#container02 [image-carousel] {
    bottom: 32px;
}

#container03 [image-carousel] {
    bottom: 36px;
}

#container04 [image-carousel] {
    bottom: 43px;
}

#container05 [image-carousel] {
    top: 73px;
}

#container06 [image-carousel] {
    top: 64px;
}

.map-container [image-carousel] {
    height: 517px;
    width: 918px;
    position: absolute;
    left: 14px;
    box-shadow: 0 0 12px -5px black;
}

#container07 [image-carousel] {
    width: 857px;
    height: 450px;
    left: 47px;
    top: 160px;
}