.modal_preview_wrapper {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 432px;
}

.econ_item_image {
    /*width: 100%;*/
    height: 100%;
    position: relative;
}

.econ_item_image .economy-item-icons {
    right: 20px;
}

.econ_item_stats {
    width: 100%;
    height: 100%;
}

.new_items_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.preview_wrapper {
    border: 2px solid #3c3c3c;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
    /*width: 100%;*/
    height: 100%;
    max-width: 1200px;
    /*margin: 0 auto;*/
    box-sizing: border-box;
    overflow: hidden;
}

.item_image {
    height: 100%;
    max-width: 500px;
    /*margin: 0 auto;*/
}

.econ_item_stats {
    padding: 10px 30px 20px 0;
    box-sizing: border-box;
    /*overflow-y: scroll;*/
}

.header_title {
    width: 100%;
    height: 60px;
    /*background: #1f1d1d;*/
    text-align: center;
    color: #e9e4dd;
    font-family: "TF2 Build", sans-serif;
    font-size: 18px;
    line-height: 60px;
}

.header_title span {
    color: #af4735;
}

.new_items_header {
    background: #161515;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: #e9e4dd;
    font-family: "TF2 Build", sans-serif;
    font-size: 22px;
}

.new_items_wrapper {
    border-radius: 5px;
    /*overflow: hidden;*/
    position: relative;
}

.new_items_wrapper .modal_preview_wrapper {
    border-radius: 0;
}

.btn_prev_item {
    transform: translateX(33%);
}

.btn_next_item {
    transform: translateX(-33%);
}

.new_items_controls {
    box-sizing: border-box;
    padding: 0 10px;
    background: #232020;
    justify-content: flex-end;
    padding: 10px 15px;
}

.new_items_wrapper .tf-button {
    box-shadow: none;
    background: #433b36;
}

.new_items_wrapper .tf-button.hidden {
    display: none;
}

.new_items_wrapper .tf-button:hover {
    background: #4d443e;
    box-shadow: none;
    /*transform: none;*/
    /*transition: none;*/
}

.preview_item_counter {
    color: #fff;
    position: absolute;
    padding: 10px 0 0 10px;
    font-family: "TF2 Build", sans-serif;
    font-size: 14px;
}

.preview_item_counter .new_items_item_counter_count {
    font-size: 23px;
}

.new_item_index {
    text-align: center;
    line-height: 50px;
    font-family: "TF2 Secondary", sans-serif;
    font-size: 18px;
}

.new_items_container {
    flex: 1;
}

.new_items_container .modal_preview_wrapper:not(.active) {
    display: none;
}

.new_items_close {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    right: 15px;
    top: 18px;
    font-size: 24pt;
    position: absolute;
    z-index: 2;
    color: maroon;
    font-family: "TF2 Build", sans-serif;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    transition: 250ms color;
}

.new_items_close:hover {
    color: red;
}

.item_crate_effect {
    background-size: 100%;
    position: absolute;
    width: 340px;
    height: 340px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -400px;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.lootbox_loot .preview_wrapper {
    overflow: hidden;
}

.active:not(.seen) .item_crate_effect {
    animation-name: item_crate_effect_animation;
}

@keyframes item_crate_effect_animation {
    from {
        top: -400px;
    }
    40% {
        top: -10px;
        transform: scale(1) rotate(0deg);
    }
    45% {
        transform: scale(.8) rotate(6deg) scaleY(.95) scaleX(1.05);
    }
    50% {
        transform: scale(.9) rotate(6deg) scaleY(.98) scaleX(1.02);
    }
    65% {
        transform: scale(.9) rotate(6deg) scaleY(.98) scaleX(1.02);
    }
    70% {
        transform: scale(.7) rotate(12deg) scaleY(.90) scaleX(1.1);
    }
    75% {
        transform: scale(.8) rotate(12deg) scaleY(.94) scaleX(1.06);
    }
    90% {
        transform: scale(.8) rotate(12deg) scaleY(.94) scaleX(1.06);
        opacity: 1;
    }
    100% {
        top: -10px;
        transform: scale(1.5) rotate(-12deg);
        opacity: 0;
    }
}

.lootbox_loot .econ_item_image {
    width: 210px;
    height: 210px;
    margin: 50px auto 0;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

.lootbox_loot .econ_item_stats {
    text-align: center;
    height: 100px;
    padding: 10px 0;
    margin-top: 40px;
    margin-bottom: -30px;
}

.lootbox_loot .econ_item_stats, .lootbox_loot .econ_item_image {
    opacity: 0;
}

.lootbox_loot .econ_item_image {
    transition: opacity .5s ease .5s;
}

.lootbox_loot .econ_item_stats {
    transition: opacity .5s ease 1.5s;
}

.lootbox_loot .modal_preview_wrapper.seen .econ_item_image, .lootbox_loot .modal_preview_wrapper.seen .econ_item_stats {
    opacity: 1;
}

.btn_space {
    /*width: 170px;*/
    /*height: 51px;*/
}

.btn_next_item {
    float: right;
}