.ws-info {
    background: #1a1917;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.ws-info.admin {
    background-color: #501717;
    color: #F1F1F1;
}

.nav-primary-hor {
    list-style: none;
    height: inherit;
    cursor: pointer;
}

.nav-primary-hor:last-child {
    margin-bottom: 0;
}

.nav-primary-hor:first-child {
    margin-top: 0;
}

.nav-primary-hor ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-primary-hor li {
    color: #777777;
    display: inline-block;
    padding: 0 10px;
    transition: color .2s ease;
    flex-direction: row;
    align-items: center;
}

.nav-primary-hor li:hover:not(.active) {
    color: #bbb;
}

.input-height, .input-height * {
    line-height: 37px;
    height: 37px;
}

.input-height, .input-height * {
    line-height: 37px;
    height: 37px;
}

.noradius {
    border-radius: 0;
}

.ws-feed-nav>li {
    float: left;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

ul.no-offsets {
    padding-left: 0;
    margin: 0;
}

.ws-grid-display {
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.ws-grid-display-2 {
    grid-template-columns: 1fr 1fr;
}

.ws-grid-display-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.ws-grid-display-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ws-grid-display-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ws-grid-display-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.form_row {
    display: flex;
    margin-bottom: 10px;
}

.form_label {
    width: 140px;
    flex-shrink: 0;
    text-align: right;
    padding-top: 8px;
    padding-right: 10px;
    color: #999;
}

.form_input {
    width: 100%;
    max-width: 500px;
}

.settings_category_button {
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: "TF2 Build", sans-serif;
}

.settings_category_wrapper {
    max-width: 400px;
}

.navbar_segment_title {
    color: #999;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
}

.navbar_segment {
    margin: 0 0 10px;
}

.navbar_segment:last-child {
    margin-bottom: 0;
}

.ws-side {
    min-width: 150px;
}

.topbar_container {
    width: 100%;
    background: #1a1917;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 7px 0 #0002;
}

.topbar_container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
}

.topbar_container ul li {
    padding: 15px;
    cursor: pointer;
    color: #aaa;
    font-family: var(--font-family-interactive);
    text-transform: uppercase;
}

.topbar_container ul li:hover {
    background: #141412;
}

/* .topbar_container ul li.selected {
    background: #141412;
} */

.topbar_container li.disabled {
    background: #10100f;
    color: #505050;
}

.topbar_container li>* {
    pointer-events: none;
}