body {
    overflow-x: hidden;
}

.tourloot_content_wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

#core {
    background: #0a0a0a;
    background-size: cover;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.tourloot_background {
    background: #0a0a0aa8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tourloot_container {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.tourloot_header {
    width: 100%;
    height: 90px;
}

.tourloot_content {
    width: 100%;
    height: 650px;
    background: #2b2826;
    border-radius: 20px;
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}

.tourloot_avatar {
    margin-left: 3px;
    background: #1f1e1c;
    width: 70px;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    padding: 10px 12px 0 12px;
    cursor: pointer;
}

.tourloot_avatar:hover {
    background: #1d1c1b;
}

.tourloot_avatar.active {
    background: #2b2826;
}

.tourloot_avatar.active:hover {
    background: #312d2b;
}

.tourloot_avatar img {
    width: 100%;
    border: 1px solid transparent;
}

.tourloot_avatars {
    padding-right: 20px;
}

.tourloot_complete_message {
    font-family: "TF2 Build", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    line-height: 75px;
    font-size: 22px;
    padding: 0 60px;
    margin-left: 20px;
    display: inline-block;
    height: 100%;
    background-image: url(/cdn/assets/images/tourloot_banner.png);
    background-size: 100% 100%;
}

.tourloot_loot {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 480px;
}

.tourloot_player_username {
    color: #eee;
    font-family: "TF2 Secondary", sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}

.tourloot_loot_col {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 40px 0;
}

.tourloot_primary_col {
    flex-shrink: 0;
    width: 240px;
    height: 100%;
}

.tourloot_loot_col_title {
    font-family: "TF2 Build", sans-serif;
    font-size: 16px;
    color: #fff;
}

.tourloot_loot_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    grid-column-gap: 20px;
    margin-top: 10px;
    grid-row-gap: 12px;
}

.tourloot_grid_slot {
    background: #1f1e1c;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.tourloot_tour_title {
    color: #fff;
    font-family: "TF2 Build", sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
}

.tourloot_progress_container {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 10px 0;
}

.tourloot_tour_index {
    font-size: 20px;
    font-family: "TF2 Build", sans-serif;
    color: #fff;
    line-height: 40px;
    flex-shrink: 0;
    width: 40px;
    text-align: center;
}

.tourloot_tour_bar_container {
    width: 100%;
    height: 100%;
    background: #000;
    padding: 3px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.tourloot_tour_bar {
    float: left;
    width: 0;
    height: 100%;
    background: #75695d;
    transition: width 2s ease;
}

.tourloot_tour_bar_unseen {
    background: #ca712d;
}

.tourloot_secondary_col {
    width: 100%;
}

.tourloot_level_container {
    width: 100%;
    position: relative;
}

.tourloot_levelling {
    box-sizing: border-box;
    padding: 0 20px 0 0;
    height: 40px;
}

.tourloot_level_bar {
    width: 100%;
    height: 10px;
    background: #0a0a0a;
    padding: 3px;
    margin-top: 6px;
    overflow: hidden;
}

.tourloot_campaign_name {
    font-family: "TF2 Secondary", sans-serif;
    color: #ccc;
    font-size: 14px;
}

.tourloot_tour_name {
    font-family: "TF2 Secondary", sans-serif;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

.tourloot_level_bar_progress {
    background: #438b36;
    height: 100%;
    width: 0;
    float: left;
    transition: width 2s ease;
}

.tourloot_progress {
    border-top: 4px solid #1f1e1c;
}

.tourloot_campaign_values {
    margin-top: 3px;
}

.tourloot_campaign_current, .tourloot_campaign_goal {
    width: 100%;
    color: #aaa;
    font-family: "TF2 Secondary", sans-serif;
    font-size: 13px;
}

.tourloot_campaign_goal {
    text-align: right;
}

.tourloot_grid_slot .item {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

.tourloot_player_section {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.tourloot_player_section.visible {
    visibility: visible;
    pointer-events: all;
}

.item+.tourloot_rarity_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1f1e1c;
    margin: 0 auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.tourloot_loading_container {
    color: #999;
    position: absolute;
    width: 250px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.tourloot_loading_container .loading {
    width: 100%;
    height: 50px;
}