.store-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 330px;
}

.store-page-container {
    height: 350px;
    box-sizing: border-box;
}

.store-page .item, .store-page .slot {
    box-sizing: border-box;
    margin: 0;
}

.price-label {
    background: #FAF4E1;
    max-width: 100px;
    padding: 2px 7px;
    text-align: center;
    color: #999;
    position: absolute;
    right: -2px;
    bottom: -2px;
    transform: rotate(-2deg);
    transition: transform 0.1s ease, right 0.1s ease, bottom 0.1s ease;
    box-shadow: -2px -2px 3px #0004;
    z-index: 5;
}

.new-label {
    background: #F7D214;
    max-width: 45px;
    padding: 0 5px;
    font-family: var(--font-family-body);
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    color: #222;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 10px;
    transition: transform 0.1s ease, right 0.1s ease, bottom 0.1s ease;
    box-shadow: -2px 2px 3px #0003;
    overflow: hidden;
    z-index: 5;
}

.discount-label {
    width: 50px;
    height: 20px;
    position: absolute;
    font-size: 13px;
    z-index: 5;
    background: #a84432;
    font-family: var(--font-family-body);
    font-weight: bolder;
    color: #ddd;
    text-align: center;
    right: 0px;
    line-height: 20px;
    top: 0px;
    border-radius: 0px 10px 0 10px;
    transition: transform 0.1s ease, right 0.1s ease, bottom 0.1s ease;
    box-shadow: -2px -2px 3px #0004;
}

.backpack-slot:hover .price-label {
    transform: scale(1.3) rotate(0deg);
    right: 5px;
    bottom: 7px;
}

.cart-container {
    display: grid;
    width: 190px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 33px;
    grid-column-gap: 6px;
    margin-top: 7px;
}

.cart-animation {
    animation: cart-flash 0.4s linear infinite;
    animation-fill-mode: backwards;
}

@keyframes cart-flash {
    0% {
        background: #658a36;
        color: #fff;
    }
    49% {
        background: #658a36;
        color: #fff;
    }
    50% {
        background: #605349;
        color: #aaa;
    }
    100% {
        background: #605349;
        color: #aaa;
    }
}
.store-checkout-label label {
    font-family: var(--font-family-interactive);
    text-transform: uppercase;
    font-weight: bold;
}

.store-checkout-name {
    width: 66%;
}

.store-checkout-price {
    width: 100px;
    text-align: center;
}

.store-checkout-listing {
    height: 64px;
}

.store-checkout-remove {
    padding-top: 8px;
}

.store-checkout-text {
    line-height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.store-checkout-counter {
    color: #eee;
    padding-top: 12px;
}

.store-checkout-counter input {
    max-width: 45px;
}

#store-balance-wrapper {
    margin: 0 0 0 1em;
}

#store-balance-wrapper h2 {
    margin: 0;
    font-size: 2em;
}

#store_balance {
    font-family: var(--font-family-interactive);
}