.tf_particle {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    animation-fill-mode: forwards;
    transform-origin: center center;
    pointer-events: none;
}

.tf_particle_firework {
    background-position: 0px 0px;
    background-size: 500px 500px;
    animation: tf_particle_firework_x .6s steps(10) infinite, tf_particle_firework_y 3.6s steps(10) infinite;
}

@keyframes tf_particle_firework_x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -500px;
    }
}

@keyframes tf_particle_firework_y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -500px;
    }
}

.tf_particle_fuse {
    background-position: 0px 0px;
    background-size: 800px 1100px;
    animation: tf_particle_fuse_x .3s steps(8) infinite, tf_particle_fuse_y 3.3s steps(11) infinite;
}

@keyframes tf_particle_fuse_x {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -800px;
    }
}

@keyframes tf_particle_fuse_y {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -1100px;
    }
}