.ws {
    width: 100%;
}

.ws-content {
    width: 100%;
    overflow: hidden;
}

.ws-side {
    width: 230px;
    flex-shrink: 0;
    padding: 0 0 0 10px;
}

.ws-header img {
    width: 100%;
    margin-top: 0;
}

.ws-image-slider .glide {
    padding: 0;
}

.ws-header {
    width: 100%;
    padding: 0.35em 0;
    box-sizing: border-box;
}

.ws-tag {
    margin-top: 3px;
}

.ws-tags {
    color: #eee;
    margin-top: 5px;
}

.ws-tag-name {
    color: #999;
    font-size: 14px;
}

.ws-block:not(:last-child) {
    margin-bottom: 10px;
}

.ws-steam {
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "TF2 Secondary", sans-serif;
    line-height: 16px;
    font-size: 14px;
}

.ws-steam:hover {
    filter: brightness(1.1);
}

.ws-info-container {
    margin-top: 5px;
}

.ws-statusbar {
    margin: 3px 0 0;
    border-radius: 5px;
    color: #fff;
    padding: 0.7em;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.ws-preview-square {
    padding-bottom: .125rem;
}

.ws-preview-square img {
    height: 184.66px;
    width: 184.66px;
}

.ws-sbar-icon {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    flex-shrink: 0;
}

.ws-statusbar .ws-sbar-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 7em;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(270deg, rgba(255,255,255,0.2) 0%, transparent 100%);
}

.ws-statusbar .ws-sbar-icon i {
    opacity: 0.2;
    transform: rotate(10deg);
    margin-left: 90px;
    color: #999;
}

.ws-sbar-label {
    margin: 0 0 3px 0;
    font-size: 23px;
    font-weight: 600;
    line-height: 100%;
}

.ws-sbar-help {
    font-size: 14px;
}

.ws-download {
    background: #211f1d;
    /* width: 100%; */
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0.8em;
    font-size: 1em;
}

.ws-link-menu {
    line-height: 22px;
}

.ws-image-slider {
    width: 600px;
    /* height: 326px; */
}

ul.no-offsets {
    padding-left: 0;
    margin: 0;
}

.ws-feed-nav > li {
    float: left;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
}

.ws-feed-nav > li:last-child {
    margin: 0;
}

.ws-statusbar.ws-statusbar-small .ws-sbar-icon {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.ws-statusbar.ws-statusbar-small {
    min-height: 40px;
    width: 40px;
}

.ws-grid-display {
    grid-template-columns: 1fr 1fr 1fr;
}

.ws-grid-display-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ws-grid-display-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ws-grid-display, .ws-grid-display-4 {
    box-sizing: border-box;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.ws-thumb-icon {
    width: 26px;
    height: 18px;
    border-radius: 3px;
    transition: opacity .2s ease;
    text-align: center;
    line-height: 18px;
    color: #fff;
    margin-top: 2px;
    font-weight: bold;
}

@keyframes linkNotSet {
    from {
        background: #5C1011;
    }
    to {
        background: #4D1110;
    }
}

.link-not-set {
    background-color: #4D1110;
    animation-name: linkNotSet;
    animation-duration: 2s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}