---
import BaseHead from "../../../components/BaseHead.astro";
import "../../../styles/landing/hazardousenvironments.css";
---

<html>
	<BaseHead
		title="Creators.TF - Hazardous Environments - Day 2"
		description="A brand new Creators.TF event themed around Half-Life"
		icon="/images/tf2_square_event_halflife.png"
	>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</BaseHead>
	<body>
		<div id="site-wrapper">
			<div id="noParallax-area" class="mobile">
				<div id="logosarea" class="logosarea" style="margin-top: 200px;">
					<div id="logo-title-label" class="logo-title-label" style="height: auto;">A TEAM FORTRESS x HALF-LIFE EVENT</div>
					<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
				</div>
				<div id="noParallax-area-image"></div>
			</div>
			<div id="logosarea" class="logosarea desktop rellax" data-rellax-speed="-9" data-rellax-max="890">
				<div id="logo-title-label" class="logo-title-label">A TEAM FORTRESS x HALF-LIFE EVENT</div>
				<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
			</div>
			<div id="parallax-area" class="desktop">
				<div id="parallax-bg" class="rellax" data-rellax-speed="-9"></div>
				<div id="parallax-alyx2" class="rellax" data-rellax-speed="-8"></div>
				<div id="parallax-alyx3" class="rellax" data-rellax-speed="-6"></div>
				<div id="parallax-alyx4" class="rellax" data-rellax-speed="-4"></div>
				<div id="parallax-alyx5"></div>
			</div>
	
			<div class="row">
				<div class="containerTitlesBig textCenter" style="color: #E6E6E6;">WELCOME TO HAZARDOUS ENVIRONMENTS</div>
			</div>
	
			<div id="day-selector">
				<a href="/landing/hazardousenvironments">
					<div class="day-selector-day">DAY 1</div>
				</a>
				<a href="/landing/hazardousenvironments/features">
					<div class="day-selector-day day-selector-day-selected">DAY 2</div>
				</a>
				<a href="/landing/hazardousenvironments/weapons">
					<div class="day-selector-day">DAY 3</div>
				</a>
				<a href="/landing/hazardousenvironments/release">
					<div class="day-selector-day">DAY 4</div>
				</a>
			</div>
	
			<div class="containerBox textCenter">
				<div class="containerTitlesBig">A NEW FEATURE APPEARS!</div>
				<div class="containerDescriptions">Welcome to Day 2, nice to see you here. Today, we're showing a completely brand new feature known as Paint Brushes, and a redesign to one of the most used pieces in our system, the Community Contracker!
					Scroll down and see for yourself.</div>
			</div>
	
			<div class="containerBox textCenter">
				<div class="containerTitlesBig">INTRODUCING PAINT BRUSHES</div>
				<div class="containerDescriptions">When the first man discovered the colors, he must've thought: "Oh my, think about how many hats I can color with these!". Well, not exactly, since they probably didn't know how to speak in english or in
					any language. Introducing Paint Brushes, a new tool from us that lets you paint any cosmetic that you desire!</div>
				<br>
				<div image-carousel>
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/a_color_similar_to_slate.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/a_deep_commitment_to_purple.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/a_distinctive_lack_of_hue.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/a_manns_mint.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/after_eight.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/aged_moustache_gray.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/an_air_of_debonair.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/an_extraordinary_abundance_of_tinge.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/australium_gold.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/balaclavas_are_forever.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/color_no.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/cream_spirit.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/dark_salmon_justice.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/drably_olive.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/indubitably_green.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/mann_co_orange.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/muskelmannbraun.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/noble_hatters_violet.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/operators_overalls.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/peculiarly_drab_tincture.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/pink_as_hell.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/radigan_conagher_brown.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/team_spirit.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/the_bitter_taste_of_defeat_and_lime.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/the_color_of_a_gentlemanns_business_pants.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/the_value_of_teamwork.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/waterlogged_lab_coat.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/ye_olde_rustic_color.jpg">
					<img src="/images/tf_pages/hazardousenvironments/paintbrushes/zephaniahs_greed.jpg">
				</div>
			</div>
	
			<div class="containerBox" style="background-image: url(/images/tf_pages/hazardousenvironments/contracker_preview.png); background-size: 103%; background-position: center; height: 225px; filter: blur(5.5px); margin-bottom: 0px;">
			</div>
			<div class="containerBox textCenter">
				<div class="containerTitlesBig">NEW CONTRACTS<br>AND A NEW CONTRACKER</div>
				<div class="containerDescriptions" style="margin-bottom: 22px;"></div>
				<div class="row align-items-center">
					<div class="col-md">
						<video muted autoplay loop src="/images/tf_pages/hazardousenvironments/contracker_preview.mp4" width="100%"></video>
					</div>
					<div class="containerDescriptions col-md">
						Community Contracker has been remade both outside and inside to be more pleasant to your eyes. And not only that, it now has SOUNDS! Yes, you heard that right, or read it right.<br>We're also introducing the "Hazardous
						Environments" campaign, themed around the content introduced in this event.<br>Along with that, we're expanding the "Creators" campaign with new class-based contracts, that will give you more freedom over which class you wanna
						play/complete a mission with. More details... once it's out.
					</div>
				</div>
			</div>
	
			<div class="containerBox" style="padding: 0px;">
				<img src="/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_bread_wallpaperpreview.jpg">
				<a download style="text-decoration: none;" href="/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_bread_wallpaper.png">
					<div class="button" style="margin-top: -65px; background: #00000066;">DOWNLOAD HQ WALLPAPER</div>
				</a>
			</div>
			<div id="footer" class="row">
				<div class="col-lg" style="margin-bottom: 23px;">
					<a href="https://creators.tf" target="_blank">
						<img src="/images/tf2_square_event_halflife.png" style="width: 55px; height: 55px;">
					</a>
					<div class="row flex">
						<ul id="footer-day-table">
							<a href="/landing/hazardousenvironments">
								<li class="footer-day">
									DAY 1<br />Cosmetics and Maps
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/features">
								<li class="footer-day footer-day-selected">
									DAY 2<br />Paint Brushes and Contracker
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/weapons">
								<li class="footer-day">DAY 3<br />Weapons</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/release">
								<li class="footer-day">
									DAY 4<br />Patch Notes and Release
								</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="/" target="_blank">
						<img
							src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
						/>
					</a>
					<div class="row flex">
						Creators.TF, the Creators.TF logo and Creators.TF are
						developed, founded and owned by the Creators.TF Team.
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="https://valvesoftware.com" target="_blank">
						<img src="/images/valve.svg" />
					</a>
					<div class="row flex">
						Footer_Valve_Copyright": "Valve, the Valve logo,
						Steam, the Steam logo, Team Fortress, the Team Fortress
						logo are trademarks and/or registered trademarks of
						Valve Corporation. We are not affiliated with Valve
						Corporation. All rights belong to Valve Corporation.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
