---
import BaseHead from "../../../components/BaseHead.astro";
import "../../../styles/landing/hazardousenvironments.css";
---

<html>
	<BaseHead
		title="Creators.TF - Hazardous Environments - Day 4"
		description="A brand new Creators.TF event themed around Half-Life"
		icon="/images/tf2_square_event_halflife.png"
	>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</BaseHead>
	<body>
		<div id="site-wrapper">
			<div id="noParallax-area" class="mobile">
				<div class="logosarea" style="margin-top: 200px;">
					<div class="logo-title-label" style="height: auto;">A TEAM FORTRESS x HALF-LIFE EVENT</div>
					<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
				</div>
				<div id="noParallax-area-image"></div>
			</div>
			<div class="logosarea desktop rellax" data-rellax-speed="-9" data-rellax-max="890">
				<div class="logo-title-label">A TEAM FORTRESS x HALF-LIFE EVENT</div>
				<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
			</div>
			<div id="parallax-area" class="desktop">
				<div id="parallax-bg" class="rellax" data-rellax-speed="-9"></div>
				<div id="parallax-alyx2" class="rellax" data-rellax-speed="-8"></div>
				<div id="parallax-alyx3" class="rellax" data-rellax-speed="-6"></div>
				<div id="parallax-alyx4" class="rellax" data-rellax-speed="-4"></div>
				<div id="parallax-alyx5"></div>
			</div>
	
			<div class="row">
				<div class="containerTitlesBig textCenter" style="color: #E6E6E6;">WELCOME TO HAZARDOUS ENVIRONMENTS</div>
			</div>
	
			<div id="day-selector">
				<a href="/landing/hazardousenvironments">
					<div class="day-selector-day">DAY 1</div>
				</a>
				<a href="/landing/hazardousenvironments/features">
					<div class="day-selector-day">DAY 2</div>
				</a>
				<a href="/landing/hazardousenvironments/weapons">
					<div class="day-selector-day">DAY 3</div>
				</a>
				<a href="/landing/hazardousenvironments/release">
					<div class="day-selector-day day-selector-day-selected">DAY 4</div>
				</a>
			</div>
	
			<div class="containerBox">
				<div class="containerTitlesBig textCenter">PATCH NOTES AND RELEASE!</div>
				<div class="containerDescriptions textCenter">It's here! After 3 days of teases and hints, the <strong>Hazardous Environments</strong> event is finally live across all Creators.TF servers. Down below are the patch notes, including every
					single
					change that this event introduced. Enjoy!</div>
				<ul id="patch-notes">
					<li>Enabled Hazardous Environments event on every Creators.TF server.</li>
					<li>Added 3 new community-made maps to the rotation.</li>
					<ul>
						<li class="sub-patch-notes">Slaughter (KOTH)</li>
						<li class="sub-patch-notes">Spillway (KOTH)</li>
						<li class="sub-patch-notes">Glassworks (CP)</li>
					</ul>
					<li>Added 4 new weapons</li>
					<ul>
						<li class="sub-patch-notes">Crate Smasher &mdash; An all-class melee reskin.</li>
						<li class="sub-patch-notes">Gamma Gazer &mdash; A secondary for Engineer.
							<ul>
								<li>Damage removes Sappers</li>
								<li>+100% damage bonus</li>
								<li>Requires 40 metal per shot to destroy the sapper</li>
								<li>-350% slower firing speed</li>
								<li>-50% clip size</li>
								<li>-76% max secondary ammo on wearer</li>
							</ul>
						</li>
						<li class="sub-patch-notes">The Thumper &mdash; A primary/secondary for Soldier, Pyro, Heavy and Engineer.
							<ul>
								<li>+130% damage bonus</li>
								<li>+30% clip size</li>
								<li>+50% max ammo</li>
								<li>15% more accurate</li>
								<li>-20% slower firing speed</li>
								<li>-50% bullets per shot</li>
								<li>13% slower reload time</li>
								<li>This weapon deploys 15% slower</li>
							</ul>
						</li>
						<li class="sub-patch-notes">The Hypodermic Injector &mdash; A melee weapon for Medic.
							<ul>
								<li>Collect blood from your enemies by hurting them and heal your teammates by transferring blood to them</li>
								<li>Can store up to 300 health points</li>
								<li>Heal your teammates by hitting them with this weapon</li>
								<li>+10% faster firing speed</li>
								<li>-20% damage penalty</li>
							</ul>
						</li>
					</ul>
					<li>Added the Hazardous Environments Keyless Cosmetics Crate.</li>
					<ul>
						<li class="sub-patch-notes">Contains 7 new community-made cosmetics themed around Half-Life &mdash; Including 2 full sets.</li>
					</ul>
					<li>Added 29 new types Paint Brushes.</li>
					<ul>
						<li class="sub-patch-notes">Color codes and names are identical to original Team Fortress 2 Paint Cans.</li>
					</ul>
					<li>Community Contracker has been updated and redesigned.</li>
					<ul>
						<li class="sub-patch-notes">Introduced new "hazardous_environments" campaign, filled with event-related contracts.</li>
						<li class="sub-patch-notes">"creators" campaign has been updated to include new contracts.</li>
						<li class="sub-patch-notes">ConTracker now has sounds.</li>
					</ul>
					<li>Special parts of the website now have tooltips to help explain users their purpose.</li>
					<li>Improved servers performance.</li>
					<li>Website caching has been improved to decrease website load times.</li>
					<li>Economy connections between servers and website have been improved to decrease loadout fetching times.</li>
					<li>Skyboxes of all maps in current map rotation have been updated.</li>
					<ul>
						<li class="sub-patch-notes">A special themed object has been teleported in...</li>
					</ul>
				</ul>
				<br>
				<div class="containerDescriptions textCenter">
					If you find any bugs, wants to give a feedback, complaint, or report something, contact us at <strong><a href="mailto:support@creators.tf">support@creators.tf</a></strong> or via our <strong><a href="https://discord.gg/WXqfqgd"
							target="_blank">Discord Server</a></strong><br>
					If you choose the option of sending an email about this event, send it with the correct subject. (Example: Hazardous Environments Bug/Complaint/Feedback).
				</div>
				<br>
			</div>
	
			<div class="containerBox" style="padding: 0px;">
				<img src="/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_reportthefort_wallpaperpreview.jpg">
				<a download style="text-decoration: none;" href="https://creators.tf/hazardousenvironments/wallpaperPack_day4">
					<div class="button" style="margin-top: -65px; background: #00000066;">DOWNLOAD HQ WALLPAPER</div>
				</a>
			</div>
			<div id="footer" class="row">
				<div class="col-lg" style="margin-bottom: 23px;">
					<a href="https://creators.tf" target="_blank">
						<img src="/images/tf2_square_event_halflife.png" style="width: 55px; height: 55px;">
					</a>
					<div class="row flex">
						<ul id="footer-day-table">
							<a href="/hazardousenvironments">
								<li class="footer-day">DAY 1<br>Cosmetics and Maps</li>
							</a>
							<hr>
							<a href="/hazardousenvironments/features">
								<li class="footer-day">DAY 2<br>Paint Brushes and Contracker</li>
							</a>
							<hr>
							<a href="/hazardousenvironments/weapons">
								<li class="footer-day">DAY 3<br>Weapons</li>
							</a>
							<hr>
							<a href="/hazardousenvironments/release">
								<li class="footer-day footer-day-selected">DAY 4<br>Patch Notes and Release</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="/" target="_blank">
						<img
							src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
						/>
					</a>
					<div class="row flex">
						Creators.TF, the Creators.TF logo and Creators.TF are
						developed, founded and owned by the Creators.TF Team.
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="https://valvesoftware.com" target="_blank">
						<img src="/images/valve.svg" />
					</a>
					<div class="row flex">
						Footer_Valve_Copyright": "Valve, the Valve logo,
						Steam, the Steam logo, Team Fortress, the Team Fortress
						logo are trademarks and/or registered trademarks of
						Valve Corporation. We are not affiliated with Valve
						Corporation. All rights belong to Valve Corporation.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
