---
import BaseHead from "../../../components/BaseHead.astro";
import "../../../styles/landing/hazardousenvironments.css";
---

<html>
	<BaseHead
		title="Creators.TF - Hazardous Environments - Day 3"
		description="A brand new Creators.TF event themed around Half-Life"
		icon="/images/tf2_square_event_halflife.png"
	>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</BaseHead>
	<body>
		<div id="site-wrapper">
			<div id="noParallax-area" class="mobile">
				<div class="logosarea" style="margin-top: 200px;">
					<div class="logo-title-label" style="height: auto;">A TEAM FORTRESS x HALF-LIFE EVENT</div>
					<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
				</div>
				<div id="noParallax-area-image"></div>
			</div>
			<div class="logosarea desktop rellax" data-rellax-speed="-9" data-rellax-max="890">
				<div class="logo-title-label">A TEAM FORTRESS x HALF-LIFE EVENT</div>
				<img src="/images/tf_pages/hazardousenvironments/he_logo.png">
			</div>
			<div id="parallax-area" class="desktop">
				<div id="parallax-bg" class="rellax" data-rellax-speed="-9"></div>
				<div id="parallax-alyx2" class="rellax" data-rellax-speed="-8"></div>
				<div id="parallax-alyx3" class="rellax" data-rellax-speed="-6"></div>
				<div id="parallax-alyx4" class="rellax" data-rellax-speed="-4"></div>
				<div id="parallax-alyx5"></div>
			</div>
	
			<div class="row">
				<div class="containerTitlesBig textCenter" style="color: #E6E6E6;">WELCOME TO HAZARDOUS ENVIRONMENTS</div>
			</div>
	
			<div id="day-selector">
				<a href="/landing/hazardousenvironments">
					<div class="day-selector-day">DAY 1</div>
				</a>
				<a href="/landing/hazardousenvironments/features">
					<div class="day-selector-day">DAY 2</div>
				</a>
				<a href="/landing/hazardousenvironments/weapons">
					<div class="day-selector-day day-selector-day-selected">DAY 3</div>
				</a>
				<a href="/landing/hazardousenvironments/release">
					<div class="day-selector-day">DAY 4</div>
				</a>
			</div>
	
			<div class="containerBox textCenter">
				<div class="containerTitlesBig">INTRODUCING 4 NEW CUSTOM WEAPONS</div>
				<div class="containerDescriptions">You asked, we listened.<br>That's right, after a collectively long-time wait we're finally introducing 4 weapons that will be usable on every Creators.TF server. These weapons were tested to hell and
					made us feel we were losing our minds for some days.</div>
			</div>
	
			<div class="containerBox">
				<div class="weaponShowcase row align-items-center textRight">
					<div class="weaponShowcase-img">
						<img src="/images/tf_pages/hazardousenvironments/weapons/weapon_allclass_crowbar.png">
					</div>
					<div class="weaponShowcase-info col-sm">
						<div class="weaponShowcase-colorName">CRATE SMASHER</div>
						<div class="weaponShowcase-colorDescription">A near-perfect replica of a certain crowbar. If only you could climb through vents...</div>
						<hr>
						<div class="weaponShowcase-atributes">
							<span>An all-class melee weapon</span>
							<span>This weapon was made by: Loyen</span>
						</div>
						<hr>
						<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=152814592" target="_blank">
							<div class="weaponShowcase-colorDescription">
								Vote for this item on the
								<img src="/images/steamworkshoplogo.png" style="width: 250px;">
							</div>
						</a>
					</div>
				</div>
			</div>
	
			<div class="containerBox">
				<div class="weaponShowcase row align-items-center">
					<div class="weaponShowcase-info col-sm">
						<div class="weaponShowcase-colorName" style="margin-bottom: 5px;">GAMMA GAZER</div>
						<div class="weaponShowcase-colorDescription">Packs a mean dose of extra-hertz</div>
						<div class="weaponShowcase-atributes">
							<span>A secondary weapon for Engineer</span>
							<span>This weapon was made by: Gadget and FiveEyes</span>
						</div>
						<hr>
						<div class="weaponShowcase-atributes">
							<span class="weaponShowcase-goodSide">Damage removes Sappers</span>
							<span class="weaponShowcase-goodSide">+100% damage bonus</span>
							<span class="weaponShowcase-badSide">Requires 40 metal per shot to destroy the Sapper</span>
							<span class="weaponShowcase-badSide">-350% slower firing speed</span>
							<span class="weaponShowcase-badSide">-50% clip size</span>
							<span class="weaponShowcase-badSide">-76% max secondary ammo on wearer</span>
						</div>
						<hr>
						<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=229535075" target="_blank">
							<div class="weaponShowcase-colorDescription">
								Vote for this item on the
								<img src="/images/steamworkshoplogo.png" style="width: 250px;">
							</div>
						</a>
					</div>
					<div class="weaponShowcase-img">
						<img src="/images/tf_pages/hazardousenvironments/weapons/weapon_engineer_gamma_gazer.png">
					</div>
				</div>
			</div>
	
			<div class="containerBox">
				<div class="weaponShowcase row align-items-center textRight">
					<div class="weaponShowcase-img">
						<img src="/images/tf_pages/hazardousenvironments/weapons/weapon_allclass_rapidfire.png">
					</div>
					<div class="weaponShowcase-info col-sm">
						<div class="weaponShowcase-colorName" style="margin-bottom: 5px;">THE THUMPER</div>
						<div class="weaponShowcase-colorDescription">A near perfect replica of the classic scientific shotgun</div>
						<div class="weaponShowcase-atributes">
							<span>A primary/secondary weapon for Soldier, Pyro, Heavy and Engineer</span>
							<span>This weapon was made by: Sparkwire and Svdl</span>
						</div>
						<hr>
						<div class="weaponShowcase-atributes">
							<span class="weaponShowcase-goodSide">+130% damage bonus</span>
							<span class="weaponShowcase-goodSide">+30% clip size</span>
							<span class="weaponShowcase-goodSide">+50% max ammo</span>
							<span class="weaponShowcase-goodSide">15% more accurate</span>
							<span class="weaponShowcase-badSide">-20% slower firing speed</span>
							<span class="weaponShowcase-badSide">-50% bullets per shot</span>
							<span class="weaponShowcase-badSide">13% slower reload time</span>
							<span class="weaponShowcase-badSide">This weapon deploys 15% slower</span>
						</div>
						<hr>
						<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=731" target="_blank">
							<div class="weaponShowcase-colorDescription">
								Vote for this item on the
								<img src="/images/steamworkshoplogo.png" style="width: 250px;">
							</div>
						</a>
					</div>
				</div>
			</div>
	
			<div class="containerBox">
				<div class="weaponShowcase row align-items-center">
					<div class="weaponShowcase-info col-sm">
						<div class="weaponShowcase-colorName">THE HYPODERMIC INJECTOR</div>
						<div class="weaponShowcase-atributes">
							<div class="weaponShowcase-colorDescription">Hold still, this will only sting for a moment</div>
							<span>A syringe weapon for Medic (literally)</span>
							<span>This weapon was made by: Zoey</span>
						</div>
						<hr>
						<div class="weaponShowcase-atributes">
							<span>Collect blood from your enemies by hurting them and heal your teammates by transferring blood to them.</span>
							<span class="weaponShowcase-goodSide">Can store up to 300 health points</span>
							<span class="weaponShowcase-goodSide">Heal your teammates by hitting them with this weapon</span>
							<span class="weaponShowcase-goodSide">+10% faster firing speed</span>
							<span class="weaponShowcase-badSide">-20% damage penalty</span>
						</div>
						<hr>
						<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=433097312" target="_blank">
							<div class="weaponShowcase-colorDescription">
								Vote for this item on the
								<img src="/images/steamworkshoplogo.png" style="width: 250px;">
							</div>
						</a>
					</div>
					<div class="weaponShowcase-img">
						<img src="/images/tf_pages/hazardousenvironments/weapons/item_weapon_hypodemic_injector.png">
					</div>
				</div>
			</div>
	
			<div class="containerBox" style="padding: 0px;">
				<img src="/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_update_wallpaperpreview.jpg">
				<a download style="text-decoration: none;" href="https://creators.tf/hazardousenvironments/wallpaperPack_day3">
					<div class="button" style="margin-top: -65px; background: #00000066;">DOWNLOAD HQ WALLPAPER</div>
				</a>
			</div>
			<div id="footer" class="row">
				<div class="col-lg" style="margin-bottom: 23px;">
					<a href="https://creators.tf" target="_blank">
						<img src="/images/tf2_square_event_halflife.png" style="width: 55px; height: 55px;">
					</a>
					<div class="row flex">
						<ul id="footer-day-table">
							<a href="/landing/hazardousenvironments">
								<li class="footer-day">
									DAY 1<br />Cosmetics and Maps
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/features">
								<li class="footer-day">
									DAY 2<br />Paint Brushes and Contracker
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/weapons">
								<li class="footer-day footer-day-selected">DAY 3<br />Weapons</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/release">
								<li class="footer-day">
									DAY 4<br />Patch Notes and Release
								</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="/" target="_blank">
						<img
							src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
						/>
					</a>
					<div class="row flex">
						Creators.TF, the Creators.TF logo and Creators.TF are
						developed, founded and owned by the Creators.TF Team.
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="https://valvesoftware.com" target="_blank">
						<img src="/images/valve.svg" />
					</a>
					<div class="row flex">
						Footer_Valve_Copyright": "Valve, the Valve logo,
						Steam, the Steam logo, Team Fortress, the Team Fortress
						logo are trademarks and/or registered trademarks of
						Valve Corporation. We are not affiliated with Valve
						Corporation. All rights belong to Valve Corporation.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
