---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/landing/halloween2020.css";
---

<html>
	<BaseHead
		title="Creators.TF - A Gruesomely Overflowing Halloween Special"
		description="Fight your way through a pile of moldy rubber ducks and dead bodies! Claim back your freedom from a cursed book in hell! Turn your head and scream in terror, just to realize it's your dad walking out of the bathroom at night! This... is A Gruesomely Overflowing Halloween Special!"
		icon="/images/tf2_square_event_hwn2020.png"
	/>
	<body>
		<div id="container">
			<div class="bg" id="bg_01">
				<div class="container">
					<a href="/">
						<div class="creators_logo">
							<img
								src="/images/tf_pages/halloween2020/creators_logo.png"
							/>
						</div>
					</a>
					<p class="label" id="label_01_1">
						Merasmus is the greatest magician out there - if you
						ignore the fact that he earned that title by winning a
						game of hide-and-seek. When he prepared this year's
						Scream Fortress, he followed the usual recipe: 3
						teaspoons of spicy haunted pumpkins, a spoonful of
						racoon hearts, and 1.666 comically large spoons of
						devilish nightmares. Unfortunately, he got the
						measurements wrong, because he used imperial spoons
						instead of metric ones (thank you Soldier and your
						damned units). As a result of his unfortunate
						miscalculation, he decided to give us two thirds of a
						Scream Fortress, while trying to convince us he did a
						perfect job this year.<br />(If you just want to read
						the patch notes, click <a
							href="/blog/77"
							style="color: #a7cc7e"
							target="_blank">here</a
						>.)
					</p>
				</div>
			</div>
			<div class="bg" id="bg_02">
				<div class="container">
					<p class="label" id="label_02_1">
						Decades ago, Merasmus had two books. One was called the
						Bombinomicon, and the other… well, he can't remember.
						Obviously, Merasmus preferred the Bombinomicon over that
						other book, because he left that other one accumulating
						dust on a bookshelf. When he moved into a new apartment,
						he left the book in a cardboard box reading “DO NOT OPEN
						(that means you, Soldier)”. What Merasmus didn't know,
						which is surprising for a magician of his supposed
						allknowing-ness, was that the book was starving to
						death. If you listened closely to the box, you could
						hear something inside say “souls… Give me souls…”, but
						you couldn't hear it very well. That's why Soldier
						opened the box and asked the book to repeat again.<br
						/><br />

						“I am the Tainted Tome,” yowled the book, “and I crave
						for souls!” “Well too bad,” answered Soldier, “because I
						do not have one anymore!”<br /><br />

						Angered, the Tainted Tome attached itself to Soldier's
						belt, and ordered him to go out and collect souls. The
						end. Of that spooky Halloween story. But your story with
						that cursed book is just beginning, and to be clear:
						when you see how many souls this book wants you to
						obtain, you will poop your pants.
					</p>
				</div>
			</div>
			<div class="bg" id="bg_03">
				<div class="container">
					<div class="eye_lit"></div>
					<p class="label" id="label_03_1">
						Throughout history, boring nerds have often dreamed
						about creating a time machine. While they were talking
						about how great their machine was going to be, we
						managed to build one in three months. Now typically,
						when asked what they would do with a time machine,
						people tend to give boring answers like “I'd kill my
						grampa” or “I'd see what my kids look like in the
						future”. Instead of doing any of that boring-ass stuff,
						we decided to travel back to prehistory to see what came
						first - the chicken, or the egg? - and of course, it was
						the chicken. We killed it because it was loud and ugly.
						And then we stole Merasmissions from Merasmus (say
						nothing) and made our own battle pass out of it, and
						we're calling it the “Scream Fortress Campaign”.<br
						/><br />

						How do you access it? Well, this <b>free</b> battle pass
						is accessible from the Items button on the navigation bar
						at the top of our website. Select your contract and complete
						it, collect souls, and your Tainted Tome (that you can equip
						in-game!) will level up. By leveling up, you'll get rewards
						such as Mann Coins, exclusive cosmetics, and keyless crates!
					</p>
					<a href="/landing/theredfiles">
						<div class="wait_why_is_this_here_UNDO_UNDO_UNDO_UN-">
						</div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_04">
				<div class="container">
					<p class="label" id="label_04_1">
						Whether it's your first Scream Fortress or not, now's
						your chance to get so scared your pants will be
						self-conscious on <u>7</u> of the past Scream Fortress maps,
						alongside these <u>5</u> new ones.
					</p>
				</div>
			</div>
			<div class="bg" id="bg_05">
				<div class="container">
					<div class="label label_map" id="label_05_1">
						<p class="map_name">Hauntson</p>
						<p class="map_label">
							Game Mode: <b>King of the Hill</b>
						</p>
						<p class="map_label" style="width: 800px;float: right;">
							Authors: <b
								>Prosciutto, YM, Exactol, Diva Dan, Void,
								boomsta, Vapour-shark, Dr.Face, UGLYdumpling,
								Equinoxo, ASG_Alligator, DatGmann, Tumby, Evil
								knevil, NassimO, DeRoseJ, Rexy</b
							>
						</p>
					</div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2213502276"
						target="_blank"
					>
						<div class="workshop_label" id="workshop_05"></div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_06">
				<div class="container">
					<div class="label label_map" id="label_06_1">
						<p class="map_name">Scarab</p>
						<p class="map_label">
							Game Mode: <b>Player Destruction</b>
						</p>
						<p class="map_label" style="width: 700px;">
							Authors: <b
								>Sandwhip, Freyja, Yrrzy, EmNudge, Lo-fi
								Longcat, 14Bit, Lazersofa, Maid of Heart</b
							>
						</p>
					</div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2211216110"
						target="_blank"
					>
						<div class="workshop_label" id="workshop_06"></div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_07">
				<div class="container">
					<div class="label label_map" id="label_07_1">
						<p class="map_name">Spellway</p>
						<p class="map_label">
							Game Mode: <b>King of the Hill</b>
						</p>
						<p class="map_label">
							Authors: <b>pont, iiboharz, Yrrzy</b>
						</p>
					</div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2216816333"
						target="_blank"
					>
						<div class="workshop_label" id="workshop_07"></div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_08">
				<div class="container">
					<div class="label label_map" id="label_08_1">
						<p class="map_name">Sinthetic</p>
						<p class="map_label">
							Game Mode: <b>King of the Hill</b>
						</p>
						<p class="map_label">
							Authors: <b
								>MegapiemanPHD, FGD5, hutty, DatGmann,
								Blaholtzen, Frying Dutchman, pont, Mic</b
							>
						</p>
					</div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1878543768"
						target="_blank"
					>
						<div class="workshop_label" id="workshop_08"></div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_09">
				<div class="container">
					<div class="label label_map" id="label_09_1">
						<p class="map_name">Terror</p>
						<p class="map_label">Game Mode: <b>Payload</b></p>
						<p class="map_label">Authors: <b>ICS</b></p>
					</div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2237031915"
						target="_blank"
					>
						<div class="workshop_label" id="workshop_09"></div>
					</a>
				</div>
			</div>
			<div class="bg" id="bg_10">
				<div class="container">
					<p class="label" id="label_10_1">
						Some of you are so passionate about Halloween they
						release their cosmetics on October 1st. But do these
						people have any notion of taste? Of course not. Do we
						have something better to show you? No, because someone
						on the team got so afraid of our cosmetics they called
						the police, who confiscated them. Then our elite content
						managers broke into the police station to get them back
						and now there's an international arrest warrant on their
						heads. If you see them, say nothing. Anyway, enjoy those
						spooky hats and clothes.
					</p>
				</div>
			</div>
			<div class="bg" id="bg_11">
				<div class="container">
					<p class="label" id="label_11_1">
						Do you ever get bored of fighting for gravel? Are you
						tired of people killing you because you tried being
						“friendly” (whatever that is) during a match? We have a
						solution for this: The Creators.TF Events Servers. These
						are servers where you can chill on maps like dm_museum
						or fun maps, with silly server plugins. If you join our <a
							href=""
							style="color: #a7cc7e"
							target="_blank">Discord server</a
						>, you'll also get notified about events like Freak
						Fortress, Deathrun or Steam Workshop maps!
					</p>
				</div>
			</div>
			<div class="bg" id="bg_13">
				<div class="container">
					<p class="label" id="label_13_1">
						We're Creators.TF, and you're <b>dead</b>. Actually, we
						died too. That book took the souls of all of us.
					</p>
					<div id="people_13" class="people">
						<a
							href="https://steamcommunity.com/profiles/76561198188657895"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/68/684d247a3ea49b4b8cd8a495a87fd8321f7ec5a9_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Moonly Days</div>
									<div class="person_label">
										Director, Programmer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198056366195"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ab/ab9ffcc5a91c4bc9e106f412aa7d36fb0365c332_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Ivory</div>
									<div class="person_label">
										Server Developer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198233791672"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3086efdd206b481e94f028bcbf5a697cb54c82_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Jota</div>
									<div class="person_label">
										Website Developer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198089450432"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a7/a75fea887d2957fa3114f5d837e4cbe8f317d80a_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Leia</div>
									<div class="person_label">
										Writer, Content Manager
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198200838625"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fd/fd1a7ec16e24194a8281a38402f5ed5caf33f86f_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Manndarinchik</div>
									<div class="person_label">
										Modeling, Artworks
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198029219422"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b9/b9f0780c9ee1bcf86495946a7f320b9564a9694a_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										MrModez Pineapple
									</div>
									<div class="person_label">Soundtrack</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198042248451"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4e/4e82d8fe4acf31a3c56d925016e0b991b6e1a548_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Nanochip</div>
									<div class="person_label">
										Server Developer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198012898744"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b2/b2ad0b74346ec159e90afeafcb3bbff24614051c_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">PeaseMaker</div>
									<div class="person_label">Social</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198044581863"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2a/2a557f907714455697787f83423e9dcee1e9a36a_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">rob5300</div>
									<div class="person_label">
										Website Developer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198208622111"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bc/bc1cb70b29c7c09d169f54364f328b106a46ceba_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">steph&nie</div>
									<div class="person_label">
										Server Developer
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198091077647"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/40/40ed8105f27d72b2c3c8a993edc8b62b696686cc_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">TurnTwister</div>
									<div class="person_label">Artworks</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198025749276"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/75/7571324a567e5c5705f7714400e53726f946c74e_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Tyler McVicker
									</div>
									<div class="person_label">Social</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198435422255"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f8/f8b67b6ee2990eb55cc5f52f77b4ef9cb500d9be_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">UmKlaiDet</div>
									<div class="person_label">
										Modeling, Artworks
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197995003316"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c8/c8426e854d4904fb2fadc744fc0cb57c3d0fbc38_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Vipes</div>
									<div class="person_label">
										Content Manager
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198093409895"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/1d/1dad1d08373ee6ae7733e90e6810bd1e049c4853_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">cheddZy</div>
									<div class="person_label">Artworks</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="bg" id="bg_14">
				<div class="container">
					<p class="label" id="label_14_1">
						They died as well. Not because of that book, but because
						they got so scared their pants said no more.
					</p>
					<div id="people_14" class="people">
						<a
							href="https://twitter.com/JapBushBaby"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/87/87a749f2125f73536d74b716df16d540ba5b70cb_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										JapaneseBushBaby
									</div>
									<div class="person_label">Voice Actor</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198161416190"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7b/7b91ec8f41496b82d496587e8feb0f99b6dd4d07_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Prosciutto</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197970341330"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/ade088dafaa9e422d2b7d6df783dd8f274c5664c_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">ICS</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197966759649"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c7/c7c833b77057c6f6f92140e590e61f4266f98bd7_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">iiboharz</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198041265792"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/05/0534e74956ee9279cc943c16f6eba8d4d235e1bf_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">pont</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198002162558"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6a/6a1ac7c442608795161668af386851be2dcd23cb_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Yrrzy</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198008861029"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/16/1642e0d55d710f77e07952fce5da5211d26a13ba_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Freyja</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198041975311"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b2/b2a87bfe185e80f23d720542590376e4cf333e70_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">14Bit</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198036175673"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cd/cd3990e6b2506430798694b31bbd444465e586a0_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Lo-fright Longscare
									</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198095055365"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e5/e5f9997a6afe4a5d63108e19048e107a6c674528_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">EmNudge</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198060917401"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cd/cd95c0df704a66a145b12e2587193872e42a3239_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">sandwhip</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198104863288"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fb/fb897cc0cd06921cf30ba29ca6662452bbd3b6ec_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Maid of Heart</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198040588557"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d8/d86354f13cafa09e694b3dee440801a086dc599a_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">TheLazerSofa</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198062721414"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/1d/1d27bf3591367ec94a132ccfbee24992dd9c1f37_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">hutty</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198031530139"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8a/8aa4945d8f5e3f0d8529b053214ba00f0c59034d_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">MegapiemanPHD</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198031082906"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/72/72f7efaa11f7d76f2dcc285de258b8c88f8abec0_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">DatGmann</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198025680450"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/58/584a6d39a22242b4c248bde072da5c31145e5887_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">FGD5</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198006812763"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fd/fdcf1849f2b9f3c7785e005f3c7d24653f071cb0_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Frying Dutchman
									</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197992755052"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/95/950e7c64b65baa0b9e867fe595afdf29ef99f6d2_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Mic</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197988141888"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/30/301f841b6c1c8a63fc16589935980941e5ab5393_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Blaholtzen</div>
									<div class="person_label">Mapper</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198043892001"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/76/76935bfef0fda1a63671b7e4c846f58b324c8a23_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Muhai</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198027738883"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f5/f5b312616e879049167833e3fa0a4b6e2d986665_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Bonk Nickeltoon
									</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198047606960"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7c/7c1235637f8b38d54b64a1adffa0cabcc230281b_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Corvalho</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198058809573"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9d/9d7c4f36d0a439ab8fbafba9f0c68f43f3d37276_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Fruit</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198057190259"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/09/09a90e24822c9ef8b2dbd24c6dfb95d52cdbfa12_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Blastel</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198027900325"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2f/2fa8f3bcd5b10fbff4cbd8744f0c29cd938e22de_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">OverPovered</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198011507712"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/71/711ba3908127b1a357b3376bb05a10c8e1c9b23f_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Drew</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198063136968"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a0/a016bd0a1c86a39128160d711d9ea4381ad68d62_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">blueNES</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198043855981"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/65/6572bb6cfc5e326940af1c2a18d4330703147545_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Dolce & Banana
									</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198069239890"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9d/9d89b76ac44e830aac5b9cca350053c1e9789ec9_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">YeetGod</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198074393158"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/52/52ca5424d392b1cff1b1266a1a4522fc7695c394_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Valentine</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197995003316"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c8/c8426e854d4904fb2fadc744fc0cb57c3d0fbc38_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Vipes</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198048600700"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a7/a7bfb90fa4b6b9277218a0d35556a144ca5248c5_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Py-Bun</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198293824540"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/39/3969a28efd07a9e01229992fe5fe499b234bcd51_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Coolchou Zhao</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198135661969"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6f/6fb0316b05148a9bcd7479379000bea7dee0aa73_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Spectral Chuck
									</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198000823482"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/78/7825aafb02e40c4427cc651358cce49a9598d1fa_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">bakscratch</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198104501269"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/64/64c05f846d223487b5a8daff8fbca894fd328025_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Phe</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197988875517"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c5/c5d6ff4b8ce09dc8fed6c9162b0e153cc7bc6aa5_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Gadget</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198006953802"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c6/c6028439e10193d3d002bd02c7e3ba93f0a7ca98_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Rotzlöffel</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198192872987"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/eeb4127e8633a51e317f2def3c2f2a2b96caa861_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Extra Ram</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198059601101"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/77/773a3ef257a2be20b363ff39779eaa893b4ef1c7_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Mark Unread</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198803987500"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/85/859cad5e6bc2fed5db5a229b20b91bd414c66ff0_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">MagicRike</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198072146551"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f8/f8bf488ce986b5c3c8cd7c42136affa716e8036a_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Diva Dan</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198018961283"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cd/cd16afa9f373c07954679c74742ef3cc175ced7b_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Big Bob</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198009056509"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/66/668203819f2b88549924477622a29e659986d905_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Hotrod McCoolgal
									</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198051494410"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2f/2f1853d65b64bc84dd81c14a5ea945f1288a3572_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Catbrain</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197983441904"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5b/5b81c7b5cf83235229c50d54e060f32e13622e0c_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Apoc Hedgie</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197982569975"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/97/97c7e98bef703f39dd41f5cea2c8c5e9199b9d78_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">JZeeba</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561197992929419"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/25/2574464a9ef461d3ff660bce912fa9b19191e447_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Pie_Savvy</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198015251809"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/12/129bd2a91cd96042f5a694de942ea798c1b8c7ba_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Patrezak</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198118654763"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/90/90a285d964e1bbc1cbef1f9559d265d16d1d2b07_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">DJB2401</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198014201234"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/89/8912baa72f99798872b291af3d44652bfcb9a024_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Ertz™</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198031608022"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f3/f329e419dd98041570ec5c69a5c5321b3bdba5b0_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">
										Count Kibbleknight
									</div>
									<div class="person_label">Cosmetics</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198808392634"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/49/49bf5c9b63f326ecc13a2f281e30c7b5f1d71225_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">ZoNiCaL</div>
									<div class="person_label">
										Events Servers
									</div>
								</div>
							</div>
						</a>
						<a
							href="https://steamcommunity.com/profiles/76561198104763026"
							target="_blank"
						>
							<div class="person">
								<div class="avatar_container">
									<img
										src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fd/fddce2286a887a18e7010d851a7fe9cdf688ed09_full.jpg"
										alt=""
									/>
								</div>
								<div class="person_information">
									<div class="person_name">Kaya</div>
									<div class="person_label">
										Events Servers
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="bg" id="bg_12">
				<div id="footer_crdts">
					<div class="footer_item">
						<div class="footer_logo">
							<img
								src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
							/>
						</div>
						<div class="footer_label">
							Creators.TF, the Creators.TF logo and Creators.TF
							are developed, founded and owned by the Creators.TF
							Team.
						</div>
					</div>
					<div class="footer_item">
						<div class="footer_logo">
							<img src="/images/valve.svg" />
						</div>
						<div class="footer_label">
							Valve, the Valve logo,
							Steam, the Steam logo, Team Fortress, the Team
							Fortress logo are trademarks and/or registered
							trademarks of Valve Corporation. We are not
							affiliated with Valve Corporation. All rights belong
							to Valve Corporation.
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!-- Source Code of the objuscated JS snipper.
    Used to make the eye move when you hover a specific element. 
	and used to hide the Digital Directive easter egg :) -->
	
	<!-- <script type="text/javascript">
		let hEgg = document.querySelector(".wait_why_is_this_here_UNDO_UNDO_UNDO_UN-");
		let hEye = document.querySelector(".eye_lit");
		
		hEgg.onmouseover = () => {
			hEye.style.opacity = 1;
		}
		hEgg.onmouseout = () => {
			hEye.style.opacity = 0;
		}
	</script> -->
	
	<!-- Obfuscated JS snippet. See above for source code.
    I used this site for obfuscation: https://obfuscator.io/.
    Make sure to set Target to "Browser No Eval". Using eval will
    break site's content security policy. 
	This was the script that was used in live production to confuse
	the 'data miners' of the community -->

	<script type="text/javascript">
		const _0xfcff=['RegExp','console','.eye_lit','object','undefined','function','^([^\x20]+(\x20+[^\x20]+)+)+[^\x20]}','exception','test','info','onmouseover','prototype','__proto__','apply','querySelector','toString','table','log','bind','error','warn','style','opacity'];(function(_0x1fb5c8,_0xfcff47){const _0x43f9a3=function(_0x4757d3){while(--_0x4757d3){_0x1fb5c8['push'](_0x1fb5c8['shift']());}},_0x39e0db=function(){const _0x143241={'data':{'key':'cookie','value':'timeout'},'setCookie':function(_0x523a7a,_0x5df15e,_0x5c69bf,_0x29d28b){_0x29d28b=_0x29d28b||{};let _0x1fc99e=_0x5df15e+'='+_0x5c69bf,_0x6c95a3=0x0;for(let _0x58a580=0x0,_0x42930e=_0x523a7a['length'];_0x58a580<_0x42930e;_0x58a580++){const _0x600ef2=_0x523a7a[_0x58a580];_0x1fc99e+=';\x20'+_0x600ef2;const _0x42d936=_0x523a7a[_0x600ef2];_0x523a7a['push'](_0x42d936),_0x42930e=_0x523a7a['length'],_0x42d936!==!![]&&(_0x1fc99e+='='+_0x42d936);}_0x29d28b['cookie']=_0x1fc99e;},'removeCookie':function(){return'dev';},'getCookie':function(_0x3f8fcf,_0x2c9c09){_0x3f8fcf=_0x3f8fcf||function(_0x34571c){return _0x34571c;};const _0x34c2db=_0x3f8fcf(new RegExp('(?:^|;\x20)'+_0x2c9c09['replace'](/([.$?*|{}()[]\/+^])/g,'$1')+'=([^;]*)')),_0x1a9f77=function(_0x26b911,_0x88cf49){_0x26b911(++_0x88cf49);};return _0x1a9f77(_0x43f9a3,_0xfcff47),_0x34c2db?decodeURIComponent(_0x34c2db[0x1]):undefined;}},_0x1f4360=function(){const _0x20678e=new RegExp('\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*[\x27|\x22].+[\x27|\x22];?\x20*}');return _0x20678e['test'](_0x143241['removeCookie']['toString']());};_0x143241['updateCookie']=_0x1f4360;let _0x2a7bc4='';const _0xb026e0=_0x143241['updateCookie']();if(!_0xb026e0)_0x143241['setCookie'](['*'],'counter',0x1);else _0xb026e0?_0x2a7bc4=_0x143241['getCookie'](null,'counter'):_0x143241['removeCookie']();};_0x39e0db();}(_0xfcff,0x129));const _0x43f9=function(_0x1fb5c8,_0xfcff47){_0x1fb5c8=_0x1fb5c8-0x0;let _0x43f9a3=_0xfcff[_0x1fb5c8];return _0x43f9a3;};const _0xe9e30d=_0x43f9,_0xb026e0=function(){let _0x523a7a=!![];return function(_0x5df15e,_0x5c69bf){const _0x29d28b=_0x523a7a?function(){if(_0x5c69bf){const _0x1fc99e=_0x5c69bf['apply'](_0x5df15e,arguments);return _0x5c69bf=null,_0x1fc99e;}}:function(){};return _0x523a7a=![],_0x29d28b;};}(),_0x2a7bc4=_0xb026e0(this,function(){const _0x3f98f8=_0x43f9,_0x6c95a3=typeof window!==_0x3f98f8('0x6')?window:typeof process===_0x3f98f8('0x5')&&typeof require===_0x3f98f8('0x7')&&typeof global===_0x3f98f8('0x5')?global:this,_0x58a580=function(){const _0x1ffd8a=_0x3f98f8,_0x42930e=new _0x6c95a3[(_0x1ffd8a('0x2'))](_0x1ffd8a('0x8'));return!_0x42930e[_0x1ffd8a('0xa')](_0x2a7bc4);};return _0x58a580();});_0x2a7bc4();const _0x143241=function(){let _0x600ef2=!![];return function(_0x42d936,_0x3f8fcf){const _0x2c9c09=_0x600ef2?function(){const _0x4a6017=_0x43f9;if(_0x3f8fcf){const _0x34c2db=_0x3f8fcf[_0x4a6017('0xf')](_0x42d936,arguments);return _0x3f8fcf=null,_0x34c2db;}}:function(){};return _0x600ef2=![],_0x2c9c09;};}(),_0x4757d3=_0x143241(this,function(){const _0x41646c=_0x43f9,_0x1a9f77=typeof window!=='undefined'?window:typeof process==='object'&&typeof require===_0x41646c('0x7')&&typeof global==='object'?global:this,_0x34571c=_0x1a9f77[_0x41646c('0x3')]=_0x1a9f77['console']||{},_0x26b911=[_0x41646c('0x13'),_0x41646c('0x16'),_0x41646c('0xb'),_0x41646c('0x15'),_0x41646c('0x9'),_0x41646c('0x12'),'trace'];for(let _0x88cf49=0x0;_0x88cf49<_0x26b911['length'];_0x88cf49++){const _0x20678e=_0x143241['constructor'][_0x41646c('0xd')][_0x41646c('0x14')](_0x143241),_0x1ed4d8=_0x26b911[_0x88cf49],_0x57e2bc=_0x34571c[_0x1ed4d8]||_0x20678e;_0x20678e[_0x41646c('0xe')]=_0x143241[_0x41646c('0x14')](_0x143241),_0x20678e[_0x41646c('0x11')]=_0x57e2bc[_0x41646c('0x11')]['bind'](_0x57e2bc),_0x34571c[_0x1ed4d8]=_0x20678e;}});_0x4757d3();let hEgg=document[_0xe9e30d('0x10')]('.wait_why_is_this_here_UNDO_UNDO_UNDO_UN-'),hEye=document[_0xe9e30d('0x10')](_0xe9e30d('0x4'));hEgg[_0xe9e30d('0xc')]=()=>{const _0x50c561=_0xe9e30d;hEye[_0x50c561('0x0')][_0x50c561('0x1')]=0x1;},hEgg['onmouseout']=()=>{const _0x2a920f=_0xe9e30d;hEye[_0x2a920f('0x0')]['opacity']=0x0;};
	</script>
</html>
