---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/landing/classful.css";
---

<html>
	<BaseHead
		title="Creators.TF - Classful Event"
		description="A brand new Creators.TF event themed around the old Team Fortress way of updates."
		icon="/images/tf2_square_classful.png"
	/>
	<body>
		<div id="wrapper">
			<div id="container01">
				<a href="https://teamfortress.com" target="_blank">
					<div id="container01_tflogo"></div>
				</a>
				<a href="/">
					<div id="container01_ctflogo"></div>
				</a>
				<p id="container01_text">
					That's right, this time we are adding <i>NINETEEN</i> cosmetics
					all at once. Just one short of twenty! Now you can stop complaining
					about the lack of shiny hats and pristine shirts for you to wear!
					And if you are wondering why on earth we decided to add Winter
					themed sniper cosmetics in a summer update... Well... That's
					simple... It's because... It's currently winter in Australia!
					Yes... That's right! And absolutely not any other reason than
					the one we just gave!
				</p>
				<img
					src="/images/tf_pages/classful/1.png"
					id="container01_img"
				/>
				<img
					src="/images/tf_pages/classful/threenewmaps.png"
					id="container01labeltocontainer02"
				/>
			</div>
			<div image-carousel id="slider">
				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1542155328"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/abouttime.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1930082280"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/buckshotbandolier.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=818786224"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/charlatanscordobes.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=818855281"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/flamencosflair.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1207592640"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/sightofsound.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1928030475"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/supermarketsupercop.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2150196204"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/tfcsniper.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=645936997"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/theprimeminister.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2135517227"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/dustbowler.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1486682782"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/googlyaye.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2007388837"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/lilgarbagegaurdians.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1904438807"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/thefoxhound.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1936066673"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/cybercollective.jpg"
						width="800px"
					/>
				</div>

				<div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1425503124"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 735px; top: -385px;"
						/>
					</a>
					<img
						src="/images/tf_pages/classful/cosmeticsslider/explosivevacation.jpg"
						width="800px"
					/>
				</div>
			</div>
			<div id="container02">
				<a
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=2112251255"
					target="_blank"
				>
					<img
						src="/images/seal_vote_on_steam_workshop.svg"
						class="steamworkshoplogoweapons"
						style="position: relative; left: 780px; top: 80px;"
					/>
				</a>
				<div id="databank_previews">
					<a
						href="/images/tf_pages/classful/maps/databank1.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/databank1_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/databank2.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/databank2_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/databank3.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/databank4_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/databank4.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/databank3_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
				</div>
				<div id="container02_text">
					<p>
						RED and BLU fight over control of a top secret data
						center located somewhere in the Badlands.
					</p>
					<p class="map_authors">Made by: iiboharz</p>
				</div>
				<div
					class="container_divisor_made_out_of_steel"
					style="position: relative;top: 375px;pointer-events: none;"
				>
				</div>
			</div>
			<div id="container03">
				<a
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=849120158"
					target="_blank"
				>
					<img
						src="/images/seal_vote_on_steam_workshop.svg"
						class="steamworkshoplogoweapons"
						style="position: relative; left: 780px; top: 80px;"
					/>
				</a>
				<div id="rumble_previews">
					<a
						href="/images/tf_pages/classful/maps/rumble1.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/rumble1_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/rumble2.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/rumble2_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/rumble3.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/rumble4_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/rumble4.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/rumble3_preview.jpg"
							class="map_preview_pic_thumb"
						/></a
					>
				</div>
				<div id="container03_text">
					<p>
						Rumble in the jungle! It's time to shine your guns and
						reload! BLU team has been digging up some gold but they
						want to expand their operation. They want to take over
						the RED's logging facility, their spying satellite and
						their whole base!
					</p>
					<p class="map_authors">
						Made by: ICS, sean, Marmalade Tim, Sheltr and Hakk1tus
					</p>
				</div>
				<div
					class="container_divisor_made_out_of_steel"
					style="position: relative;top: 327px;pointer-events: none;"
				>
				</div>
			</div>
			<div id="container04">
				<a
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1445384680"
					target="_blank"
				>
					<img
						src="/images/seal_vote_on_steam_workshop.svg"
						class="steamworkshoplogoweapons"
						style="position: relative; left: 780px; top: 80px;"
					/>
				</a>
				<div id="sludgepit_previews">
					<a
						href="/images/tf_pages/classful/maps/sludgepit1.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/sludgepit1_preview.jpg"
							class="map_preview_pic_thumb"
							style="height: 46px;"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/sludgepit2.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/sludgepit2_preview.jpg"
							class="map_preview_pic_thumb"
							style="height: 46px;"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/sludgepit3.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/sludgepit3_preview.jpg"
							class="map_preview_pic_thumb"
							style="height: 46px;"
						/></a
					>
					<a
						href="/images/tf_pages/classful/maps/sludgepit4.jpg"
						target="_blank"
						><img
							src="/images/tf_pages/classful/maps/sludgepit4_preview.jpg"
							class="map_preview_pic_thumb"
							style="height: 46px;"
						/></a
					>
				</div>
				<div id="container04_text">
					<p>
						Welcome to Sludgepit! Red's base and facility set in a
						big Northwestern forest, Red opened up a Logging, Cargo
						and Chemical waste facility which is their main source
						of incomes. What people not know is that it is actually
						their secret base where they store their rocket launch
						codes, Blue that recently opened up a coal mine got
						jealous of Red's succes and came up with a plan. Blue's
						task is to push a bomb on a cart to the Chemical waste
						storage and blow it up.
					</p>
					<p class="map_authors">
						Made by: AsG_Alligator and Prosciutto
					</p>
				</div>
				<div
					class="container_divisor_made_out_of_steel"
					style="position: relative;top: 341px;pointer-events: none;"
				>
				</div>
			</div>
			<div id="container05">
				<div id="container05_inside">
					<img
						src="/images/tf_pages/classful/NotOneNOTFOURButTHREE.png"
						id="container05label_main"
					/>
					<div id="thewasplauncher"></div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=885515341"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 525px; top: -70px;"
						/>
					</a>
					<p class="weaponname">The W.A.S.P. Launcher</p>
					<div class="weaponstuff">
						<p class="weaponstuff description class">
							A rocket launcher for the Soldier.
						</p>
						<span class="weaponstats good"
							>+20% explosion radius</span
						>
						<span class="weaponstats bad">-10% damage penalty</span>
						<span class="weaponstats bad"
							>-20% projectile speed</span
						>
						<span class="weaponcredits"
							>Created by: Gadget, Sims_doc, Vipes and
							ZombiePlasticClock</span
						>
					</div>
					<div class="separator"></div>
					<div id="thebolshevikbomber"></div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=508837899"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 525px; top: -58px;"
						/>
					</a>
					<p class="weaponname">The Bolshevik Bomber</p>
					<div class="weaponstuff">
						<p class="weaponstuff description">
							"This thing could kill an elephant and whatever is
							in a 10ft radius of said elephant."
						</p>
						<p class="weaponstuff description class">
							A shotgun for the Heavy
						</p>
						<span class="weaponstats good"
							>Enemies splat on kill</span
						>
						<span class="weaponstats good">+25% damage bonus</span>
						<span class="weaponstats bad"
							>-20% slower firing speed</span
						>
						<span class="weaponstats bad"
							>This weapon deploys -20% slower</span
						>
						<span class="weaponstats bad">-25% clip size</span>
						<span class="weaponcredits"
							>Created by: FiveEyes, Metaru, Square and Sir
							Kibbleknight</span
						>
					</div>
					<div class="separator"></div>
					<div id="thecarvedcutter"></div>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=671834359"
						target="_blank"
					>
						<img
							src="/images/seal_vote_on_steam_workshop.svg"
							class="steamworkshoplogoweapons"
							style="position: relative; left: 525px; top: -70px;"
						/>
					</a>
					<p class="weaponname">The Carved Cutter</p>
					<div class="weaponstuff">
						<p class="weaponstuff description class">
							A knife replacement for the Spy.
						</p>
						<span class="weaponcredits"
							>Created by: Kirillian and robsan</span
						>
					</div>
					<div class="separator"></div>
					<p
						class="weaponstuff description class"
						style="margin: 25px auto 0px auto;"
					>
						We have also shipped balance changes to our previous set
						of weapons (The Thumper, The Gamma Gazer and The
						Hypodermic Injector) following a long time (4 months!)
						of feedback. You can read the changes in full details in
						the patch notes.<br />(Yes, we know, 4 months is way too
						long to have unbalanced weapons. We will now have much
						quicker balance patch cycles going forward.)
					</p>
					<img
						src="/images/tf_pages/classful/strangerslabel.png"
						id="container05labeltocontainer06"
					/>
				</div>
			</div>
			<div id="container06">
				<div id="container06_fade">
					<p id="container06_strangerdesc">
						<!--[MOONLY'S]Tired of annoying guests in your home? We offer you the best solution to this problem - a baseball bat.
            This unit, with the help of a special sweep in the air and subsequent use on your target, is able to save you from all problems, living and not so, in a matter of seconds.
            For especially gourmet customers, we have also released an additional model of this device with a built-in usage counter.
            Using them, you can  compete with your neighbors in who can kill everyone else faster. This product may seem strange to many, and we will answer that it is.
            Mainly because these counters are called exactly like that: strange counters. Very creative, isn't it?
            <br>
            Introducing, for the first time on Creators.TF: Strange Items.
            <br><br>
            Strange drops can be obtained via crate drops (even older ones) or, if you are an impatient human, you can just buy a "Strangifier" directly through the store and apply to your item of choice. It's that easy!
           -->
						Tired of having annoying guests in your home? We can offer
						you the best solution to this problem - a baseball bat! This
						unit, with the help of a special sweep in the air and subsequent
						use on your target, is able to save you from all problems,
						living and not, in mere seconds. For our gourmet customers,
						we have also released an additional premium model of this
						device with a built-in usage counter. Using them, you can
						compete with your neighbours in many ways, such as who can
						kill everyone else the fastest. This product may seem strange
						to many, and we can answer that it is. Mainly because these
						counters are called exactly like that: Strange counters.
						Very creative, isn't it?
						<br />
						Introducing, for the first time at Creators.TF: Strange Items.
						<br /><br />
						Strange drops can be obtained via crate drops (even older
						ones) or, if you are an impatient human, you can just buy
						a "Strangifier" directly through the store and apply to your
						item of choice. It's that easy!
					</p>
				</div>
				<img
					src="/images/tf_pages/classful/inventoryreworklabel.png"
					id="container06labeltocontainer07"
				/>
			</div>
			<div id="container07">
				<div id="container07_section1">
					<div class="container07_fadeR">
						<div class="container07_textR">
							To start the inventory rework, we need to explain
							that every inventory will now have 5 max pages by
							default. Similarly to TF2's inventory system, if you
							want to expand your backpack, you can do it by
							simply buying a "Backpack Extender" in the store.<br
							/><br />
							But what if you could scrap or delete a lot of items
							at once? Well, now you can! With the addition of "Bulk
							Actions", deleting or scrapping your items has never
							been easier. And it shall remain that way...
						</div>
						<div class="container_video">
							<video
								autoplay
								loop
								style="position: relative;top: -97px;left: -130px;"
								src="/images/tf_pages/classful/videos/bulkactions.mp4"
							></video>
						</div>
					</div>
				</div>
				<div
					class="container_divisor_made_out_of_metal"
					style="position: relative;pointer-events: none;margin: -15px auto;"
				>
				</div>
				<div id="container07_section2">
					<div class="container07_fadeL" style="height: 325px;">
						<div class="container07_textL" style="height: 325px;">
							We also added the ability for you to fully customize
							the placement of your items in the inventory. Wanna
							put everything at page 5? Go for it. Wanna put one
							item in every page? Go for it.
						</div>
						<div class="container_video">
							<video
								autoplay
								loop
								style="position: relative;top: -50px;left: 3px;"
								src="/images/tf_pages/classful/videos/dragginganddropping.mp4"
							></video>
						</div>
					</div>
				</div>
				<img
					src="/images/tf_pages/classful/contractslabel.png"
					style="position: relative;pointer-events: none;margin: -35px auto;left: 10px;"
				/>
				<div id="container07_section3">
					<div
						class="container07_fader"
						style="background: linear-gradient(to left, #1B1716 35%, transparent 65%); height: 380px;"
					>
						<div class="container07_textR" style="height: 380px;">
							And, as usual, as with every major event, new
							contracts have been added based on the content
							introduced. In addition to that, we've added new
							contracts to the "creators" campaign!<br />So, if
							you think you are an expert with your class, try
							your skill in these contracts!
							<br /><br />
							For the duration of the event, the new weapons are only
							obtainable through completing the contracts in the "classful"
							campaign.
						</div>
					</div>
				</div>
			</div>
			<div id="container_credits">
				<img
					src="/images/tf_pages/classful/thethankssection.png"
					style="position: relative;top: -41px;left: -59px;pointer-events: none;margin: -25px auto;"
				/>
				<div id="container_credits_ctf_header"></div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198188657895"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/03/033cc4ad0e7a709b8c1b782ec59ac91062ebab97_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Moonly Days</span>
							<span class="peopleDesc">Director, Programmer</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198233791672"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3086efdd206b481e94f028bcbf5a697cb54c82_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Jota</span>
							<span class="peopleDesc">Website</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198044581863"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2a/2a557f907714455697787f83423e9dcee1e9a36a_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">rob5300</span>
							<span class="peopleDesc">Website</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198042248451"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4e/4e82d8fe4acf31a3c56d925016e0b991b6e1a548_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">nanochip</span>
							<span class="peopleDesc">Server Developer</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198125404376"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bc/bc1d59885c7bc5c5811d3f67fc2028cf774fe2ac_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">ElkTF2</span>
							<span class="peopleDesc">SFM Renders</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198070719072"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b7/b77837fc5271780b967df0e811a82211e5ec785a_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Dr. Dze</span>
							<span class="peopleDesc">SFM Renders</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197963998743"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a3/a332296c6b9146026d265b92c5a6b70fab30d8c9_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">HiGPS</span>
							<span class="peopleDesc"
								>Co-Director, Weapon Balancing</span
							>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198208622111"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/34/347dc6199202e4e0b8d7bbc9b985f32e760ce3fd_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">stephanie</span>
							<span class="peopleDesc">Server Management</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198016621705"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/18/187b50ef961c7866e105433836d97c936f3f9293_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">404UNF</span>
							<span class="peopleDesc">Server Developer</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198028539550"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/03/036c9595947c350bb1e671d10049dbf8b67230fc_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">N-cognito</span>
							<span class="peopleDesc">Modelling</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198012898744"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/20/20acf86386bdfd22815eed8b5607475aa2b0a7bd_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">PeaseMaker</span>
							<span class="peopleDesc">Social</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198001607989"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/20/205a40d297ab8418864b835929534e18b3c1cb05_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Gamecube762</span>
							<span class="peopleDesc">Server Developer</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a class="people" style="opacity: 0;"></a>
					<a
						href="https://steamcommunity.com/profiles/76561198025749276"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/84/84e422b7d189c67430666df5c6ec0fd86fab3675_full.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Tyler McVicker</span>
							<span class="peopleDesc">Social</span>
						</div>
					</a>
					<a class="people" style="opacity: 0;"></a>
				</div>
				<div id="container_credits_contributors_header"></div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197966759649"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/29/29a7d499dac353b77ecd90149faa9d53a0e0ff01_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">iiboharz</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197970341330"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/24/24389a729c20c792fc3260e05e47a18798643f26_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">ICS</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197970803850"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ee/ee44f86fa2e1dded02bec7c531b8e69fcd9e4115_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">sean</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197988052879"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/67/67c87a5b97775f6223581eb92b13e5ffc8758a21_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Marmalade Tim</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198019705730"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8b/8b53e6df856e77bc898da904cacd4533844b712c_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Sheltr</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197975868848"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0e/0ef9c11cd5d9b6c9716af3df9f91c38d06b1c33c_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Hakk1tus</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198379166524"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/25/25489294d9bbfc9b46d72a56fa76968b9f8a17b7_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Santumerino</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197992929419"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/25/2574464a9ef461d3ff660bce912fa9b19191e447_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Pie_Savvy</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198015251809"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/12/129bd2a91cd96042f5a694de942ea798c1b8c7ba_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Patrezak</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198045651005"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8a/8a5064b17fd6cd73bf8b0607e450b1f967e05aa7_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Mayor Rev</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198018961283"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cd/cd16afa9f373c07954679c74742ef3cc175ced7b_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Big Bob</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198049647463"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9e/9e48e457920d16b2260881bb7818aa7a894811cf_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Duck Dog</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198046960378"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/1a/1a5a5f20d2c95e1c90def3ec63ea2c4a9eed64c7_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Ashur</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197982569975"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/97/97c7e98bef703f39dd41f5cea2c8c5e9199b9d78_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">JZeeba</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198088742736"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c5/c5ba2f5b8b23e8db420d4f21cba83325c77b46c7_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Jaggi</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198027574567"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5b/5b73f2a2d1d2da4a9fa5cb6cb066ef3de6f415e7_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Tabby</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198059601101"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/49/49be5e80df488c440e3605ebeaa4ab24aaeb5e32_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Mark Unread</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198027738883"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e9/e91fc5cf78de1a81fdd843e88d4f9f20adff098b_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Bonk Nickeltoon</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198043892001"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/76/76935bfef0fda1a63671b7e4c846f58b324c8a23_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Muhai</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198026844114"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5d/5d84a456826a5ffdfd20a9356050d7e02b7e9c10_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Ratans</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198063136968"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a0/a016bd0a1c86a39128160d711d9ea4381ad68d62_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">blueNES</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197988875517"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c5/c5d6ff4b8ce09dc8fed6c9162b0e153cc7bc6aa5_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Gadget</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198058809573"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a6/a6d4f21336aceb6bbf29bbe8c727bdfdc5d8d6ae_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName" style="font-size: 23px;"
								>TheForbiddenFruit</span
							>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198040588557"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d8/d86354f13cafa09e694b3dee440801a086dc599a_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">TheLazerSofa</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197985319273"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/16/16a1a5a3695d6009ad3bbf5400732aa91dd8594a_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Petachepas</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198024991627"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d1/d13dd8dbb69de68a02e814e9073c711459ebcefe_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Square</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198031163207"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2a/2af0c686d8e4bacf117cd804baa97fb205d7933c_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Dilly</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198011507712"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3a/3a251639c3a6748667f93098b91bc489d33eb647_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Drew</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198041979829"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/417e7b18a7afb909abf64627d459015cf322f6da_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Sky</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198118654763"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/90/90a285d964e1bbc1cbef1f9559d265d16d1d2b07_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">DJB2401</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561197991633394"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a4/a4bc77e0a1a329ca8153f0bf35c01dff4da39cbf_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Sims_doc</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198017961272"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b2/b22e2fd38304f67cd5b899fa89309e52d9ac0a4f_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName" style="font-size: 23px;"
								>ZombiePlasticClock</span
							>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198009725798"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c3/c3b9e3141bdb17c89e47f35fe43ac24598d6d4ee_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">FiveEyes</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198010212024"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6a/6abd88c082667120b8f05d2871af8464f27e9be4_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Metaru</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198031608022"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/29/2981ab07fe040a6fce298e05f325770ff769d045_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Sir Kibbleknight</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198031833921"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7a/7ac095988a7c769ff7ec8a1826f0050640b66c36_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Kirillian</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a
						href="https://steamcommunity.com/profiles/76561198137375391"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/10/10066c8e35538e3b6e3b2f39c33a07446dd6156b_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">robsan</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561197995003316"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5b/5b99e768b0eb1315b158b0152778c198b14ec44c_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Vipes</span>
							<span class="peopleDesc">Item Contributor</span>
						</div>
					</a>
					<a
						href="https://steamcommunity.com/profiles/76561198161416190"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3a/3a6d9c246b3c519ee6e3c92af2f8629d92f29a4a_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">Prosciutto</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
				</div>
				<div class="container_credits_inner">
					<a class="people" style="opacity: 0;"></a>
					<a
						href="https://steamcommunity.com/profiles/76561197995219517"
						target="_blank"
						class="people"
					>
						<div class="peoplepic">
							<img
								src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c4/c4260d6b41f4ccbf807f5b5a551a7e996014de97_medium.jpg"
							/>
						</div>
						<div class="peopleInfo">
							<span class="peopleName">AsG_Alligator</span>
							<span class="peopleDesc">Mapper</span>
						</div>
					</a>
					<a class="people" style="opacity: 0;"></a>
				</div>
				<img
					src="/images/tf_pages/classful/labelpatchnotes.png"
					id="label_container_patchnotes"
				/>
			</div>
			<div id="container_patchnotes">
				<div id="container_patchnotes_inside">
					<div style="padding: 50px 25px;">
						<ul>
							<li>
								Enabled Classful Event on every Creators.TF
								server.
							</li>
							<ul>
								<li>Event runs through August 23th, 2020.</li>
							</ul>
							<li>
								Added 3 new community-made maps to the rotation:
							</li>
							<ul>
								<li>Databank (King of the Hill)</li>
								<li>Rumble (Control Point)</li>
								<li>Sludgepit (Payload)</li>
							</ul>
							<li>Added 3 new weapons:</li>
							<ul>
								<li>
									Carved Cutter - A melee reskin for the Spy.
								</li>
								<li>
									The W.A.S.P. Launcher - A primary weapon for
									the Soldier
								</li>
								<ul>
									<li style="color:#D83636;">
										-10% damage penalty
									</li>
									<li style="color:#D83636;">
										-20% projectile speed
									</li>
									<li style="color:#7EA9D1;">
										+20% explosion radius
									</li>
								</ul>
								<li>
									The Bolshevik Bomber - A secondary weapon
									for the Heavy
								</li>
								<ul>
									<li style="color:#7EA9D1;">
										+25% damage bonus
									</li>
									<li style="color:#D83636;">
										-20% slower firing speed
									</li>
									<li style="color:#D83636;">
										This weapon deploys 20% slower
									</li>
									<li style="color:#D83636;">
										-25% clip size
									</li>
								</ul>
							</ul>
							<li>The Hypodermic Injector</li>
							<ul>
								<li>
									Now stores up to 500 health points - Holds 1
									charge (500 healing done)
								</li>
								<li>
									On hit: Heal teammate for 100 HP and apply
									1.5 seconds of currently equipped uber from
									medigun (consumes charge)
								</li>
								<li>
									Decreased firing speed from 10% faster to
									-20% slower
								</li>
								<li>
									Increased damage penalty from -20% to -25%
								</li>
							</ul>
							<li>The Gamma Gazer</li>
							<ul>
								<li>
									Metal is no longer required to destroy a
									sapper
								</li>
								<li>Reduced damage bonus from 100% to 30%</li>
								<li>Reduced accuracy from 100% to 70%</li>
								<li>
									Reduced slower firing speed from -350% to
									-125%
								</li>
								<li>
									Added an "Alt-Fire" (Use 50 metal to pick up
									your targeted building from long range)
								</li>
							</ul>
							<li>The Thumper</li>
							<ul>
								<li>Reduced damage bonus from 130% to 110%</li>
							</ul>
							<li>Changed the map rotation</li>
							<ul>
								<li>Removed the following maps:</li>
								<ul>
									<li>Mercenary Park</li>
									<li>Mossrock</li>
									<li>Powerhouse</li>
									<li>Suijin</li>
								</ul>
								<li>Added the following maps:</li>
								<ul>
									<li>Gravel Pit (Control Point)</li>
									<li>Gullywash (Control Point)</li>
									<li>Mountain Lab (Control Point)</li>
									<li>Process (Control Point)</li>
									<li>Snakewater (Control Point)</li>
									<li>Yukon (Control Point)</li>
									<li>King (King of the Hill)</li>
									<li>Banana Bay (Payload Race)</li>
									<li>Nightfall (Payload Race)</li>
									<li>Pipeline (Payload Race)</li>
								</ul>
							</ul>
							<li>
								Previous weapons are now purchasable through the
								store. This will also be applied to the current
								weapons at the end of this event.
							</li>
							<li>Added the Classful Keyless Cosmetics Crate</li>
							<ul>
								<li>
									Contains 19 new community-made cosmetics.
								</li>
							</ul>
							<li>Added new contracts.</li>
							<li>Added Stranges</li>
							<ul>
								<li>
									Strangifiers can be obtained via drops
									through crates (including previous ones) or
									directly purchased through the store via the
									"Tools" section.
								</li>
							</ul>
							<li>Redesigned the Inventory layout</li>
							<ul>
								<li>Added "Bulk Actions".</li>
								<li>
									Added the ability to right click an item and
									do all actions (Use, Delete, Scrap, go to
									Loadout).
								</li>
								<li>
									Added the ability to customize the inventory
									item's placement by simply dragging and
									dropping.
								</li>
							</ul>
							<li>Added "Backpack Extender"</li>
							<ul>
								<li>
									Inventories are now restricted to 5 pages by
									default. You can extend it by using a
									"Backpack Extender" (25 maximum).
								</li>
							</ul>
							<li>
								Fixed a bug on Attack/Defend gamemode where the
								map gets force ended after the map timer has
								elapsed.
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footerbox">
				<a
					id="footerboxlogovalve"
					href="https://valvesoftware.com"
					target="_blank"></a>
				<div class="footerboxlogodesc">
					Valve, the Valve logo, Steam, the Steam logo, Team Fortress,
					the Team Fortress logo are trademarks and/or registered
					trademarks of Valve Corporation. We are not affiliated with
					Valve Corporation. All rights belong to Valve Corporation.
				</div>
				<a
					id="footerboxlogocreators"
					href="https://creators.tf"
					target="_blank"></a>
				<div class="footerboxlogodesc">
					Creators.TF, the Creators.TF logo and Creators.TF are developed, founded and owned by the Creators.TF Team.
				</div>
			</div>
		</div>
	</body>
</html>
