---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/landing/hazardousenvironments.css";
---

<html>
	<BaseHead
		title="Creators.TF - Hazardous Environments - Day 1"
		description="A brand new Creators.TF event themed around Half-Life"
		icon="/images/tf2_square_event_halflife.png"
	>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</BaseHead>
	<body>
		<div id="site-wrapper">
			<div id="noParallax-area" class="mobile">
				<div
					id="logosarea"
					class="logosarea"
					style="margin-top: 200px;"
				>
					<div
						id="logo-title-label"
						class="logo-title-label"
						style="height: auto;"
					>
						A TEAM FORTRESS x HALF-LIFE EVENT
					</div>
					<img
						src="/images/tf_pages/hazardousenvironments/he_logo.png"
					/>
				</div>
				<div id="noParallax-area-image"></div>
			</div>
			<div
				id="logosarea"
				class="logosarea desktop rellax"
				data-rellax-speed="-9"
				data-rellax-max="890"
			>
				<div id="logo-title-label" class="logo-title-label">
					A TEAM FORTRESS x HALF-LIFE EVENT
				</div>
				<img src="/images/tf_pages/hazardousenvironments/he_logo.png" />
			</div>
			<div id="parallax-area" class="desktop">
				<div id="parallax-bg" class="rellax" data-rellax-speed="-9">
				</div>
				<div id="parallax-alyx2" class="rellax" data-rellax-speed="-8">
				</div>
				<div id="parallax-alyx3" class="rellax" data-rellax-speed="-6">
				</div>
				<div id="parallax-alyx4" class="rellax" data-rellax-speed="-4">
				</div>
				<div id="parallax-alyx5"></div>
			</div>

			<div class="row">
				<div
					class="containerTitlesBig textCenter"
					style="color: #E6E6E6;"
				>
					WELCOME TO HAZARDOUS ENVIRONMENTS
				</div>
			</div>

			<div id="day-selector">
				<a href="/landing/hazardousenvironments">
					<div class="day-selector-day day-selector-day-selected">
						DAY 1
					</div>
				</a>
				<a href="/landing/hazardousenvironments/features">
					<div class="day-selector-day">DAY 2</div>
				</a>
				<a href="/landing/hazardousenvironments/weapons">
					<div class="day-selector-day">DAY 3</div>
				</a>
				<a href="/landing/hazardousenvironments/release">
					<div class="day-selector-day">DAY 4</div>
				</a>
			</div>

			<div
				class="video containerBox"
				style="margin-bottom: 0px; position: relative"
			>
				<iframe
					class="video-child"
					src="https://www.youtube.com/embed/Umix8GgX_FE"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>

			<div class="containerBox row" style="padding-top: 25px;">
				<div class="containerTitlesBig col-lg">
					The Combine's invasion has begun
				</div>
				<div class="containerDescriptions marginnDescription col-lg">
					Shortly to date, an unsuccessful experiment involving
					teleportation technologies has led to a massive explosion.
					This collapse brought the attention of the intergalactic
					forces, known as the Combine, which were interested in
					mastering teleportation for their personal purposes. You are
					here to step into the Hazardous Environments and stop the
					Combine attack.
				</div>
			</div>

			<div class="containerBox textCenter" style="padding: 0;">
				<div
					class="containerTitlesBig"
					style="padding: 25px 25px 0px 25px;"
				>
					3 NEW COMMUNITY-MADE MAPS
				</div>
				<div
					class="containerDescriptions"
					style="padding: 0px 25px 10px 25px;"
				>
					When you think about Half-Life, what's the first thing that
					comes in your mind? Blood? Fights? Gun fights? Puzzles?
					Scientist screams? Well, in our mind, it comes the level
					design. Take a look at these 3 community maps that we have
					chosen, tested and thought it would fit the theme of this
					event.
				</div>
				<div class="communityPreview" style="border-top-style: solid;">
					<img
						src="/images/tf_pages/hazardousenvironments/maps/slaughter.jpg"
					/>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1712845210"
						target="_blank"
					>
						<div
							class="button-workshop col-3"
							style="float: right;"
						>
							<img src="/images/steamworkshoplogo.png" />
						</div>
					</a>
				</div>
				<div class="communityPreview">
					<img
						src="/images/tf_pages/hazardousenvironments/maps/spillway.jpg"
					/>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=1962574007"
						target="_blank"
					>
						<div class="button-workshop col-3" style="float: left;">
							<img src="/images/steamworkshoplogo.png" />
						</div>
					</a>
				</div>
				<div class="communityPreview">
					<img
						src="/images/tf_pages/hazardousenvironments/maps/glassworks.jpg"
					/>
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=454118349"
						target="_blank"
					>
						<div
							class="button-workshop col-3"
							style="float: right;"
						>
							<img src="/images/steamworkshoplogo.png" />
						</div>
					</a>
				</div>
			</div>
			<div class="containerBox noPaddings" style="margin: 0;">
				<img
					src="/images/tf_pages/hazardousenvironments/ReportTheFort300.png"
				/>
			</div>
			<div
				class="containerBox textCenter"
				style="margin: 0; padding-bottom: 15px;"
			>
				<div class="containerTitlesBig">
					Be a Scientist, a Combine, or be eaten by a Headcrab
				</div>
				<div class="containerDescriptions">
					We're introducing a new set of community-made cosmetics
					themed around the theme of this event (Half-Life, yes, it's
					that game). Do you want to be that famous scientist? Go for
					it. Wanna be part of the Civil Protection? Go for it. Wanna
					be... Eaten by... A... Headcrab? Yeah, sure, there's nothing
					stopping you.
				</div>
			</div>

			<div class="containerBox noPaddings">
				<div class="cosmetic">
					<div class="communityPreview" style="border-width: 0px;">
						<img
							src="/images/tf_pages/hazardousenvironments/cosmetics/the_unlicensed_physicist.jpg"
						/>
						<a
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=1156610911"
							target="_blank"
						>
							<div
								class="button-workshop col-3"
								style="float: left;"
							>
								<img src="/images/steamworkshoplogo.png" />
							</div>
						</a>
					</div>
				</div>
				<div class="cosmetic">
					<div class="communityPreview">
						<img
							src="/images/tf_pages/hazardousenvironments/cosmetics/mountain_lab_accident.jpg"
						/>
						<a
							href="https://steamcommunity.com/workshop/filedetails/?id=315648267"
							target="_blank"
						>
							<div
								class="button-workshop col-3"
								style="float: right;"
							>
								<img src="/images/steamworkshoplogo.png" />
							</div>
						</a>
					</div>
				</div>
				<div class="cosmetic">
					<div class="communityPreview">
						<img
							src="/images/tf_pages/hazardousenvironments/cosmetics/breadcrab.jpg"
						/>
						<a
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=1922321971"
							target="_blank"
						>
							<div
								class="button-workshop col-3"
								style="float: left;"
							>
								<img src="/images/steamworkshoplogo.png" />
							</div>
						</a>
					</div>
				</div>
				<div class="cosmetic" style="margin-bottom: 0px;">
					<div class="communityPreview">
						<img
							src="/images/tf_pages/hazardousenvironments/cosmetics/benefactors_bowl.jpg"
						/>
						<a
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=1928035575"
							target="_blank"
						>
							<div
								class="button-workshop col-3"
								style="float: right;"
							>
								<img src="/images/steamworkshoplogo.png" />
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="containerBox" style="padding: 0px; margin-bottom: 0px;">
				<img
					src="/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_street_wallpaperpreview.jpg"
				/>
				<a
					style="text-decoration: none;"
					href="https://creators.tf/hazardousenvironments/wallpaperPack_day1"
				>
					<div
						class="button"
						style="margin-top: -65px; background: #00000066;"
					>
						DOWNLOAD HQ WALLPAPER
					</div>
				</a>
			</div>
			<div class="containerBox">
				<div class="containerTitlesBig textCenter">MEET THE TEAM</div>
				<div class="containerDescriptions textCenter">
					The people who made this possible
				</div>
				<div class="containerTitles">Creators.TF TEAM</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198188657895"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/03/033cc4ad0e7a709b8c1b782ec59ac91062ebab97_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Moonly Days</div>
						<div class="peopleDescription">Creative Director</div>
					</div>
					<div class="people col-lg">
						<a
							href="http://steamcommunity.com/profiles/76561198016621705"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/18/187b50ef961c7866e105433836d97c936f3f9293_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">404UNF</div>
						<div class="peopleDescription">SourceMod</div>
					</div>
					<div class="people col-lg">
						<a
							href="http://steamcommunity.com/profiles/76561198025764142"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/da/da610a1c4bd9b6bd7fea066ecc126ceb1a84fac4_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Ashaneru</div>
						<div class="peopleDescription">Server Management</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198070719072"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e3/e38ebeafa63d52e1cd350df99ee8236074e78353_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Dr. Dze</div>
						<div class="peopleDescription">SFM Short, Renders</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198028539550"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/03/036c9595947c350bb1e671d10049dbf8b67230fc_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">N-cognito</div>
						<div class="peopleDescription">Models</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198125404376"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bc/bc1d59885c7bc5c5811d3f67fc2028cf774fe2ac_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">ElkTF2</div>
						<div class="peopleDescription">SFM Renders</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198001607989"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/20/205a40d297ab8418864b835929534e18b3c1cb05_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Gamecube762</div>
						<div class="peopleDescription">SourceMod</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197963998743"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2e/2ea0dd2c48224f182f0ea0124c0fc0743ac0c1ed_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">HiGPS</div>
						<div class="peopleDescription">Weapon Balancing</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="http://steamcommunity.com/profiles/76561198168708624"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0c/0c8cc41509bb0ef78a29ba5a937a503edaf227b7_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">JonathanTF2</div>
						<div class="peopleDescription">Server Management</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198233791672"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3086efdd206b481e94f028bcbf5a697cb54c82_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Jota</div>
						<div class="peopleDescription">Website Design</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198012898744"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f2/f228fabe1c8866f2c2ce7b4e11e4aa1cd74cd32a_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">PeaseMaker</div>
						<div class="peopleDescription">Additional Advising</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198025749276"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c6/c6865ee074d9ac9eac0aad1d62f0299e92c7f69d_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Tyler McVicker</div>
						<div class="peopleDescription">Social Media</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198042248451"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6d/6d4d81b01e06cdb3fb85d6a884811d5d43d6aaad_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">nanochip</div>
						<div class="peopleDescription">Server Developer</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198044581863"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ed/edc336c625c45e375afd150fd879d63dfbd1a31d_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">rob5300</div>
						<div class="peopleDescription">Backend, Renders</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198036213722"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a0/a02e41a48c9a9f9592c1cac358d414fe84886e3f_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">stox</div>
						<div class="peopleDescription">Weapon Balancing</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198056543825"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/47/479e2913c7027f20089b7ea483188c5fa90f2901_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">tougeFoodService</div>
						<div class="peopleDescription">Weapon Balancing</div>
					</div>
				</div>
				<br />
				<div class="containerTitles">CONTRIBUTORS</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197995219517"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c4/c4260d6b41f4ccbf807f5b5a551a7e996014de97_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">AsG_Alligator</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198072146551"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0d/0dadb9d5246e1f292679d1b04b937e8862fdd504_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Diva Dan</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198000713080"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/83/830664e090f6e0070704c2d6ed95a800d7a39a5e_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">E-Arkham</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198008861029"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/16/1642e0d55d710f77e07952fce5da5211d26a13ba_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Freyja</div>
						<div class="peopleDescription">Mapper</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197960948593"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d2/d2fab2fbf97ba408c82a4441fff9d1967952fa3c_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">UEAKCrash</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197999048028"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e2/e27be3928ce9ba5063b2d8ba339cc9ba02c98f0e_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Urban</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198002162558"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bf/bf39a4e33b6e8b41c94715aa33c729733a862a35_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Yrrzy</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197990164810"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5c/5c8de416e74e6493f80cfb83f491474506ca6051_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Seba</div>
						<div class="peopleDescription">Mapper</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198047350168"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a9/a98ef955f2b9e6ea6675e586f029ba0d99bfb0af_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">juniper</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198041265792"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0e/0ece5be68f3d02a82891b84f5ebec2a4ffd83cca_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">pont</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197994150794"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d2/d23a7fa631a64db2e8d26cca57a6d781feba2125_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">void~</div>
						<div class="peopleDescription">Mapper</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197972481083"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/40/4018f3104cdf9e751aabc05eb2df4e414f11bcdb_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">NeoDement</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198043855981"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dd/dd841b9791be8bc1756d6648b01b338d3606477d_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Nuts</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198028539550"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/03/036c9595947c350bb1e671d10049dbf8b67230fc_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">N-cognito</div>
						<div class="peopleDescription">Models</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198001099311"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/52/52fc0c43d321e01f7b745b7a8b55766a2463ea06_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">GetGrenade</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198014131702"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/53/535f71acaf79dc8111765267c939836120b8b117_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Greg</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198025795825"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a3/a3c4c33501adb3474d506839f654e0d4552c877f_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Harry</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198131599141"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/47/47f8e83c414dbae917d666b73057c0398982da04_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">doggoh</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198058809573"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2c/2c183e76dfb5cf086d03e6587a2b5911de129c0b_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Fruit</div>
						<div class="peopleDescription">Item Contributor</div>
					</div>
					<div class="people col-lg">
						<div class="peoplePic">
							<img
								src="/images/tf_pages/hazardousenvironments/JapaneseBushBaby.jpg"
							/>
						</div>
						<div class="peopleName">JapaneseBushBaby</div>
						<div class="peopleDescription">Gman's Voice Actor</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197982493947"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/12/1223f392bb602a55a26daf0c1e377bda4600f80d_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Loyen</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197988875517"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c5/c5d6ff4b8ce09dc8fed6c9162b0e153cc7bc6aa5_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Gadget</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561198009725798"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c3/c3d3bd440c25e9615654ef0b3a566d44a3bce191_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">FiveEyes</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
				</div>
				<div class="peopleBox row">
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197982676963"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/04/048940b80081596720d8658e6fde03aac3babe4b_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">SexyRobot</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197988525039"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/26/268f51d63a2f94a93deb0db18ae7256fe62de31c_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Sparkwire</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
					<div class="people col-lg">
						<a
							href="https://steamcommunity.com/profiles/76561197993359730"
							target="_blank"
						>
							<div class="peoplePic">
								<img
									src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cf/cff96ffd1bee73f13edd8f4a252b2430fda6192e_full.jpg"
								/>
							</div>
						</a>
						<div class="peopleName">Svdl</div>
						<div class="peopleDescription">Weapon Contributor</div>
					</div>
				</div>
			</div>
			<div id="footer" class="row">
				<div class="col-lg" style="margin-bottom: 23px;">
					<a href="/" target="_blank">
						<img
							src="/images/tf2_square_event_halflife.png"
							style="width: 55px; height: 55px;"
						/>
					</a>
					<div class="row flex">
						<ul id="footer-day-table">
							<a href="/landing/hazardousenvironments">
								<li class="footer-day footer-day-selected">
									DAY 1<br />Cosmetics and Maps
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/features">
								<li class="footer-day">
									DAY 2<br />Paint Brushes and Contracker
								</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/weapons">
								<li class="footer-day">DAY 3<br />Weapons</li>
							</a>
							<hr />
							<a href="/landing/hazardousenvironments/release">
								<li class="footer-day">
									DAY 4<br />Patch Notes and Release
								</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="/" target="_blank">
						<img
							src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
						/>
					</a>
					<div class="row flex">
						Creators.TF, the Creators.TF logo and Creators.TF are
						developed, founded and owned by the Creators.TF Team.
					</div>
				</div>
				<div class="col-md" style="margin-bottom: 23px;">
					<a href="https://valvesoftware.com" target="_blank">
						<img src="/images/valve.svg" />
					</a>
					<div class="row flex">
						Footer_Valve_Copyright": "Valve, the Valve logo,
						Steam, the Steam logo, Team Fortress, the Team Fortress
						logo are trademarks and/or registered trademarks of
						Valve Corporation. We are not affiliated with Valve
						Corporation. All rights belong to Valve Corporation.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
