---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/landing/selfmadesmissmas.css";
---

<html>
	<BaseHead
		title="Creators.TF - Self-Made Smissmas"
		description="Introducing the Self-Made Smissmas update! This is the first update we have put out, and hopefully you enjoy it as much as we do, because we really like it!"
		icon="/images/tf2_square_event_winter.png"
	/>
	<body>
		<div id="site-wrapper">
			<div id="container01bg">
				<div id="container01">
					<div id="links-holder">
						<div id="teamfortresslogo">
							<a href="http://teamfortress.com" target="_blank">
								<img
									src="/images/tf_pages/selfmadesmissmas/trans.gif"
									width="181"
									height="39"
								/>
							</a>
						</div>
						<div id="creatorstflogo">
							<a href="/">
								<img
									src="/images/tf_pages/selfmadesmissmas/trans.gif"
									width="50"
									height="47"
								/>
							</a>
						</div>
					</div>
					<div id="container01maintext">
						Introducing the Self-Made Smissmas update! This is the
						first update we've put out, and hopefully you enjoy it
						as much as we do, because we really like it! This update
						has been a ton of work from the developers, artists, and
						potted plant of the Creators.TF team. We've been so busy
						with this that we hadn't even decided on a name for the
						update until it was practically finished. It's okay
						though, who needs a good name when the content can speak
						for itself?
					</div>
				</div>
			</div>

			<div id="container02bg">
				<div id="container02" class="map-container">
					<div image-carousel>
						<img
							src="/images/tf_pages/selfmadesmissmas/snowfort_1.jpg"
						/>
					</div>
					<img
						src="/images/tf_pages/selfmadesmissmas/snowfort_2.jpg"
					/>
				</div>
				<img src="/images/tf_pages/selfmadesmissmas/snowfort_3.jpg" />
			</div>
			<img src="/images/tf_pages/selfmadesmissmas/snowfort_4.jpg" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/snowfort_5.jpg" /></body
	>
	<img src="/images/tf_pages/selfmadesmissmas/snowfort_6.jpg" />
</html>

<div id="container03bg">
	<div id="container03" class="map-container">
		<div image-carousel>
			<img src="/images/tf_pages/selfmadesmissmas/snowlodge_1.jpg" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/snowlodge_2.jpg" />
	</div>
	<img src="/images/tf_pages/selfmadesmissmas/snowlodge_3.jpg" />
</div>
<img src="/images/tf_pages/selfmadesmissmas/snowlodge_4.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/snowlodge_5.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/snowlodge_6.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/snowlodge_7.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/snowlodge_8.jpg" />

<div id="container04bg">
	<div id="container04" class="map-container">
		<div image-carousel>
			<img src="/images/tf_pages/selfmadesmissmas/whitewinter_1.jpg" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/whitewinter_2.jpg" />
	</div>
	<img src="/images/tf_pages/selfmadesmissmas/whitewinter_3.jpg" />
</div>
<img src="/images/tf_pages/selfmadesmissmas/whitewinter_4.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/whitewinter_5.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/whitewinter_6.jpg" />

<div id="container05bg">
	<div id="container05" class="map-container">
		<div image-carousel>
			<img src="/images/tf_pages/selfmadesmissmas/hightowersnowy_1.jpg" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/hightowersnowy_2.jpg" />
	</div>
	<img src="/images/tf_pages/selfmadesmissmas/hightowersnowy_3.jpg" />
</div>
<img src="/images/tf_pages/selfmadesmissmas/hightowersnowy_4.jpg" />

<div id="container06bg">
	<div id="container06" class="map-container">
		<div image-carousel>
			<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_1.jpg" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_2.jpg" />
	</div>
	<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_3.jpg" />
</div>
<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_4.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_5.jpg" />
<img src="/images/tf_pages/selfmadesmissmas/stoneyridge_6.jpg" />

<div id="container07bg">
	<div id="container07">
		<div id="container07descriptiontext">
			First ever introduced by community!
		</div>
		<div image-carousel>
			<img src="/images/tf_pages/selfmadesmissmas/c1.png" />
		</div>
		<img src="/images/tf_pages/selfmadesmissmas/c2.png" />
	</div>
	<img src="/images/tf_pages/selfmadesmissmas/c3.png" />
</div>
<img src="/images/tf_pages/selfmadesmissmas/c4.png" />
<img src="/images/tf_pages/selfmadesmissmas/c5.png" />
<img src="/images/tf_pages/selfmadesmissmas/c6.png" />
<img src="/images/tf_pages/selfmadesmissmas/c7.png" />
<img src="/images/tf_pages/selfmadesmissmas/c8.png" />
<img src="/images/tf_pages/selfmadesmissmas/c9.png" />
<img src="/images/tf_pages/selfmadesmissmas/c10.png" />

<div id="container08bg">
	<div id="container08">
		<div id="container08inventorytext">
			If we're adding new items, there needs to be a place to put them,
			right? This is where the <b>Creators.TF Inventory</b> comes in!<br
			/><br />Every item you earn through our servers will be stored on
			your site-based inventory. Right now we support two types of items: <b
				><i>Cosmetics</i></b
			> and <b><i>Keyless Crates</i></b>, which gives you a random
			cosmetic when you open them.<br /><br />Opening these keyless crates
			give you a chance to get unusual versions of these cosmetics. <i
				style="color:#888;"
				>(only official unusual effects are present at the moment)</i
			>.
			<br />
			<i style="color:red;"
				>The text above about unusual effects is outdated and, ever
				since, they have been disabled in our servers.</i
			>
		</div>
		<div id="container08loadouttext">
			Each class, like in the game itself, has a loadout page through
			which you can change which weapons/cosmetics you want to use on each
			class. <br /><br /> The Inventory and Loadout Manager can be accessed
			through the website. <br /><br /> Cosmetics introduced by us can be combined
			with official cosmetics, but to prevent overlapping and model clipping,
			official cosmetics will be unequipped if they share equip regions with
			those that are equipped on your Loadout Manager.
		</div>
	</div>
</div>

<div id="container09bg">
	<div id="container09">
		<div id="container09contrackertext">
			The Contracker is a great tool for managing your contracts, but,
			unfortunately, there were no new contracts added for it in the
			official Smissmas 2019 update. It's okay though, because now you are
			able to complete smissmas-themed contracts in our <b
				>Community ConTracker!</b
			> It's just like the ConTracker you've used before, but better! <br
			/><br /> First off, all of our contracts are free.<br />That's
			right, free! As in, <i>costs-nothing-at-all-to-do!</i> Free contracts
			for all! <br /><br /> Secondly, just like in the official one, the contracts
			are progress-based, meaning that you'll need to complete one in order
			to unlock the next one. Completing these contracts rewards you with either
			specific items or Mann Coins, which can be used to buy cosmetics or crates
			in the <a href="https://creators.tf/store"
				><b>Mann Co. Work-Shop.</b></a
			>
		</div>
		<div id="container09contrackertext2">
			You'll be able to access the <b><i>Community Contracker</i></b> through
			the website, which can be loaded on your browser, including the Steam
			Overlay. You can even load it on your phone and fullscreen it, allowing
			you to turn your phone into a ConTracker of itself! Equipping the contracts
			through this is incredibly easy.<br /><br />Your contract will be
			changed on the server you're playing on immediately after you click
			on the <i>Activate</i> button. Simply activate your contract, complete
			it by finishing the missions and gaining 100 Contract Points, and hit
			the <i>Turn In</i> button!
		</div>
	</div>
</div>

<div id="container10bg">
	<div id="container10">
		<div id="container10crateimagetext">
			Self-Made Smissmas Keyless Cosmetic Crate
		</div>
		<div id="container10cratestext">
			Crates can be obtained by completing contracts, finding them
			randomly, or by purchasing them through the <b
				>Mann Co. Work-Shop.</b
			>
			<br /><br /> Unlike normal crates, though, these don't require a key
			to be unboxed! They come to you unlocked so that you can get your loot
			as easily as possible. Just like in-game, when you unbox a crate, you
			have a chance to get a random item from the crate's contents!<br
			/><br />Loot gained from unboxing has a chance to be Unusual with
			any of the particle effects that are currently in the official game.
		</div>
	</div>
</div>

<!-- CREDITS -->
<div id="container11bg">
	<div id="container11">
		<div id="credits-box">
			<div id="creditstitle">Update Team</div>
			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198188657895"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/82/82f7faef77fa81681c28220cdf305a2cf7e72268_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">MoonlyDays</div>
					<div class="peopledescription">Director, Creator</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198216806363"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/68/68bc296317dcf0e11e0ea4472ca9e12f65bd6ae9_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">It's me?</div>
					<div class="peopledescription">Creator, Manager</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198125404376"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bc/bc1d59885c7bc5c5811d3f67fc2028cf774fe2ac_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">ElkTF2</div>
					<div class="peopledescription">Renders, SFM, Texts</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198233791672"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3086efdd206b481e94f028bcbf5a697cb54c82_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Jota</div>
					<div class="peopledescription">Webpage, Graphics</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198070719072"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5f/5ffd4645105c9639ae5e603200d93bc1ce798fd6_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Dr. Dze</div>
					<div class="peopledescription">Artworks, Ideas</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/id/peasemaker"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8e/8eab31d8ea3867194ed21df89eaefadca5954c23_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">PeaseMaker</div>
					<div class="peopledescription">Graphics</div>
				</a>
			</div>

			<div class="people">
				<a href="https://steamcommunity.com/id/exer3d/" target="_blank">
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0a/0ad352580bee4ccf54c28113f3045a4cc8d14dfe_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Exe_Red</div>
					<div class="peopledescription">Testing Coordinator</div>
				</a>
			</div>

			<div class="people">
				<a href="https://steamcommunity.com/id/404UNF/" target="_blank">
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e8/e8db6b0e497acbd0c5210e771c50587ce9a98cd1_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">404UNF</div>
					<div class="peopledescription">SourceMod</div>
				</a>
			</div>

			<br /><br />

			<div id="creditstitle">Contributors</div>
			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561197995003316"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3e/3eb803ad1d41a56e46bc6b62f539011aedfb9c92_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Vipes</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561197992929419"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/25/2574464a9ef461d3ff660bce912fa9b19191e447_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Pie_Savvy</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198015251809"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2a/2aa80d9d87aa37fdab0894438758418b9d75c7d1_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Strno8</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198040588557"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d8/d86354f13cafa09e694b3dee440801a086dc599a_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle" style="font-size: 17.7px;">
						TheLazerSofa
					</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198118654763"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/90/90a285d964e1bbc1cbef1f9559d265d16d1d2b07_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">DJB2401</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198014201234"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/89/8912baa72f99798872b291af3d44652bfcb9a024_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Ertz</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561197985319273"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/16/16a1a5a3695d6009ad3bbf5400732aa91dd8594a_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Hex</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198021177336"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3a/3a8821c3aa03ff4de41a0ea890bec50248bdb9dd_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">YungIkeSly</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198018961283"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/cd/cd16afa9f373c07954679c74742ef3cc175ced7b_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Big Bob</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198066121115"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e4/e4b9c5f8ed27940b15134f569646a38f3e992c89_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Nüke</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198006953802"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c6/c6028439e10193d3d002bd02c7e3ba93f0a7ca98_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Rotzlöffel</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198192872987"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/73/734b2f3bc2010286a41746b66b70c92f82d4e1c4_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Extra Ram</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561197988875517"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c5/c5d6ff4b8ce09dc8fed6c9162b0e153cc7bc6aa5_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Gadget</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198038963425"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/54/5425362afe48b6e9ca04fd244520c121e82bcacb_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Dansky</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="https://steamcommunity.com/profiles/76561198132162019"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/89/895590b475c635994520695e1e6ca357454ef2c6_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">CODAC</div>
					<div class="peopledescription">Item contributor</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561198039117675"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/aa/aa1120ba95aa8d68f85b13bfd165e49d994c4d0c_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">phi</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561198012895214"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/46/46556c883911f2584aa0e97b48cf89b9e651bcc7_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">RuFFle</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561198056968393"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/68/6819ff1dda7619db52c374e15d0473e6da3e10dc_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">GooBaLL60</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561197992417394"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f0/f076071a1c19631b8ee8699465ff5ffb701d67c2_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Pugik</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561197960948593"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d2/d2fab2fbf97ba408c82a4441fff9d1967952fa3c_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">UEAKCrash</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561197965892609"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/14/14bce0c04c1673928f622b26d9977f43de70bf0a_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">littleboots</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561197967171928"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/36/36da8fa65a2961661acb2fc514fee07fd963effa_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">xzzy</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>

			<div class="people">
				<a
					href="http://steamcommunity.com/profiles/76561197993420322"
					target="_blank"
				>
					<div class="peoplepic">
						<img
							src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8c/8c1483ee1f050cadd81731f33727277a1c2899f8_full.jpg"
							width="39"
						/>
					</div>
					<div class="peopletitle">Hey You</div>
					<div class="peopledescription">Mapper</div>
				</a>
			</div>
			<div id="container11description">
				We would like to thank everyone who helped us during this
				update. Without you guys, this wouldn't be possible.
			</div> To the community from the community, thank you.
		</div>
	</div>
</div>

<!-- FAQ -->
<div id="container12bg">
	<div id="container12">
		<div id="faqcontainer">
			<div class="faqquestioncontainer">
				<div class="faqquestion">Is this an official update?</div>
				<div class="faqanswer">
					No. The <b>Self-Made Smissmas</b> is not an official update for
					Team Fortress 2. It was fully created by Team Fortress 2 community
					members.
				</div>
			</div>
			<div class="faqquestioncontainer">
				<div class="faqquestion">How can I play on the servers?</div>
				<div class="faqanswer">
					Click on the big green «Find a Server» button on the
					website's <a href="/" target="_blank">main page</a> and then
					select a server to play on.
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">How can I get new cosmetics?</div>
				<div class="faqanswer">
					You can get new cosmetics by either buying them in the <a
						href="/store"
						target="_blank">Mann Co. Work-Shop</a
					> or by uncrating Self-Made Smissmas Keyless Crates.
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">Is it free?</div>
				<div class="faqanswer">
					Yes, everything you can get on our servers is free of
					charge. No need in real money. If you want to support our
					project, check out <a href="/" target="_blank"
						>donation page.</a
					>
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">How can I see my inventory?</div>
				<div class="faqanswer">
					Hit the Items tab on the website's header. If you want to
					manage your loadout, click «Open Loadout» button.
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">What is the Mann Co. Work-Shop?</div>
				<div class="faqanswer">
					It's the store we created for you to buy new items with Mann
					Coins.
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">How can I complete the contract?</div>
				<div class="faqanswer">
					Hit the Contracker tab on the main website's page and then
					choose a contract you want to complete. We made it as
					similiar with official TF2 Contracker as possible.
				</div>
			</div>

			<div class="faqquestioncontainer">
				<div class="faqquestion">
					I have a different question. Who can I contact?
				</div>
				<div class="faqanswer">
					We have a <a href="/" target="_blank">Discord server</a>. If
					you don't use Discord - we have <a
						href="/"
						target="_blank">Twitter</a
					>. If you don't use Twitter - then we have a <a
						href="/"
						target="_blank">Steam Group</a
					>. And if you don't use Steam for some reason... Contact us
					on <a href="mailto://support@creators.tf"
						>support@creators.tf</a
					>.
				</div>
			</div>
		</div>
	</div>
</div>

<div id="container13bg">
	<div id="container13">
		<div id="footervalvelogo"></div>
		<div id="footercreatorslogo"></div>
		<a href="/" target="_blank">
			<div id="discord-invite">
				<img src="/images/tf_pages/selfmadesmissmas/trans.gif" />
				<p>Click on me!</p>
			</div>
		</a>
	</div>
</div>
