---
import BaseHead from "../../components/BaseHead.astro";
import "../../styles/landing/halloween2020.css";
---

<html>
	<BaseHead
		title="Creators.TF - A Gruesomely Overflowing Halloween Special"
		description="Fight your way through a pile of moldy rubber ducks and dead bodies! Claim back your freedom from a cursed book in hell! Turn your head and scream in terror, just to realize it's your dad walking out of the bathroom at night! This... is A Gruesomely Overflowing Halloween Special!"
		icon="/images/tf2_square_event_hwn2020.png"
	/>
	<body>
		<!-- The Red Files aka the Digital Directive Secret -->
        <a href="/landing/barbocabarto">
            <div style="width: 100%; height: 100%; position: fixed; background: url(/images/tf_pages/halloween2020/red_fish_in_the_sea.jpg); background-size: cover; background-position: center;"></div>
        </a>
    </body>
</html>