---
import BaseHead from "../../../components/BaseHead.astro";
import "../../../styles/landing/dd/day1.css";
import "../../../styles/landing/dd/deployment.css"
---

<html>
    <BaseHead
        title="Creators.TF - Digital Directive - Deployment (Day 4)"
        description="Here's your weapons, upgrade canteens, and a funny looking hat. Board your lines and prepare yourselves for Operation Digital Directive, now live on Creators.TF servers!"
        icon="/images/tf2_square_event_mvm.png"
    >
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
        />
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@glidejs/glide"
        ></script>
    </BaseHead>
    <body>
        <div id="app">
            <section id="day04_bg01" class="bg">
                <div id="logo-video-holder">
                    <video muted="" autoplay="" loop="" preload="auto">
                        <source src="/images/tf_pages/digitaldirective/digital_directive_logo_animated.webm" type="video/webm">
                    </video>
                </div>
            </section>
            <section id="day04_bg02" class="bg top">
                <div id="day-selector">
                    <a href="/landing/digitaldirective">
                        <div class="dayPanel first day1 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day1_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/augmentations">
                        <div class="dayPanel second day2 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day2_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/medalofhonor">
                        <div class="dayPanel third day3 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day3_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/deployment">
                        <div class="dayPanel fourth day4 active selected">
                            <video class="dayPanelVideo selectedVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day4_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                </div>
                <p class="boxTitle enormous" id="DIGITAL DIRECTIVE IS LIVE!"></p>
                <p id="first-text" class="day04_first-text">
                    <br>
                    Welcome to Day 4, otherwise known as your graduation! I'm going to be honest with you soldier, you really impressed
                    me,
                    you really did. Your quick wits, attention to detail, and listening skills are some of the best we've seen in the
                    history of two teams fighting over gravel. Of course, if you actually passed the course, you could tell that I'm
                    completely lying. Congratulations! You're all failures. We do unfortunately have a robot crisis on our hands, and
                    you
                    people are all that we have to fight with.
                    <br>
                    <br>
                    Ladies, gentlemen, meatbags, and disguised spies, board your specially marked planes! It's time to go shoot some robots in
                    the
                    head.<br>Welcome to <b>Operation Digital Directive</b>!
                    <br>
                    <br>
                    <b>
                        Get started by ensuring you've got the
                        <a href="" target="_blank">assets</a>,
                        familiarize yourself with the
                        <a href="" target="_blank">Campaign page</a>,
                        and
                        <a href="" target="_blank">Find a Server</a>
                        to play!
                    </b>
                </p>
                <div class="divisor thick"></div>
            </section>
            <section id="day04_bg03" class="bg">
                <div class="inner-bg">
                    <p class="boxTitle boxTitle_faq" id="FREQUENTLY ASKED QUESTIONS" title="FREQUENTLY ANTICIPATED QUESTIONS" style="font-size: 78px;"></p>
                    <p class="explanationText">Here are the questions we expect to get the most about the event, feel free to read.</p>
                    <div id="faq">
                        <div class="questionBox">
                            <p class="question">How do I play this event?</p>
                            <span class="answer">
                                Familarize yourself with the <a href="" target="_blank">Campaign page</a> to
                                learn about the missions and check your progress.
                                Hop into a Mann Vs. Machine server by going to the
                                <a href="" target="_blank">server list page</a>
                                on the <a href="" target="_blank">Creators.TF</a> Website.
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Is the loot, such as medals, that I get from this event usable in official TF2?</p>
                            <span class="answer">No, these are not official TF2 items.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Why are these medals not official?</p>
                            <span class="answer">
                                Due to Valve's restriction on adding new medals into the game
                                (aka the "medals ban"), we are unable to add these medals to
                                the game officially. We also do not have any medals already
                                in the game to recycle for this event.
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">How do I equip the loot I get from this event?</p>
                            <span class="answer">
                                Head over to the <a href="" target="_blank">loadout page</a> on the <a href="" target="_blank">Creators.TF</a> website, sign
                                in through steam, select the class and items you want to equip,
                                and once you join a <a href="" target="_blank">Creators.TF</a> server, they will show up in-game!
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">How long will this event last?</p>
                            <span class="answer">This event is planned to run till September 1st, 2021.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">What involvement did PotatoMVM.TF have for this event?</p>
                            <span class="answer">
                                <a href="https://potatomvm.tf" target="_blank">PotatoMVM</a>
                                provided all of the playtested Mann Vs. Machine missions and gameplay mechanics.
                                <a href="" target="_blank">Creators.TF</a>
                                provided backend support, event branding, cosmetic & map promotions, and
                                <a href="" target="_blank">tracking campaign progress</a>
                                via the
                                <a href="" target="_blank">Creators.TF</a> website.
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">I'm seeing red ERRORs in-game, what do I do?</p>
                            <span class="answer">Install the <a href="" target="_blank">asset pack</a>.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">How do Mechachievements work?</p>
                            <span class="answer">
                                Mechachievements are similar to contracts
                                however they do not need to be activated!
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Can I replay missions and tours and still get loot?</p>
                            <span class="answer">Yes, replaying missions and tours will still grant you loot each time.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Do I get loot for completing all the waves of the mission or just the last wave?</p>
                            <span class="answer">Similarly to Valve's Mann Up mode, you only have to complete the last wave to receive loot.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">How do I get New Zealium Weapons or the Silver Crate Smasher?</p>
                            <span class="answer">You are guaranteed a random New Zealium weapon when you complete a tour. The Silver Crate Smasher is an exceedly rare drop upon tour completion.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Can I still play the campaign after the event ends?</p>
                            <span class="answer">
                                You will still be able to play the missions/tours and receive the same
                                loot, however you will not be able to complete the Mechachievements nor
                                receive the Manncoin Miner medal.
                            </span>
                        </div>
                        <div class="questionBox">
                            <p class="question">I found a bug, where do I report it?</p>
                            <span class="answer">Join our <a href="" target="_blank">Discord</a> and send us a message in the #feedback channel.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">I want to play the event but only want to download the most important content, can I do that?</p>
                            <span class="answer">Yes, download the <a href="" target="_blank">MvM-ready asset pack</a>.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">Is PotatoMVM.TF and Creators.TF merging communities?</p>
                            <span class="answer">No, we have no plans to merge.</span>
                        </div>
                        <div class="questionBox">
                            <p class="question">I have another question not on this FAQ, where can I ask?</p>
                            <span class="answer">Head over to the #help-desk channel on our <a href="" target="_blank">Discord</a>, we're happy to help!</span>
                        </div>
                    </div>
                </div>
                <div class="divisor paper-four"></div>
            </section>
            <section id="day04_bg04" class="bg">
                <div class="inner-bg">
                    <p class="boxTitle enormous" id="PATCHNOTES"></p>
                    <div id="patchnotes">
                        <ul>
                            <li>Enabled Operation Digital Directive on all servers.</li>
                            <li>Released the <a href="" target="_blank">Campaign</a> page where you can keep track of your MvM quests.</li>
                            <li>Added 22 new Mann vs. Machine maps:</li>
                            <ul>
                                <li>Akure</li>
                                <li>Autumnull</li>
                                <li>Boogge</li>
                                <li>Cliffside</li>
                                <li>Dusk</li>
                                <li>Estate</li>
                                <li>Giza</li>
                                <li>Goldpit</li>
                                <li>Hanami</li>
                                <li>Hideout</li>
                                <li>Hoovydam</li>
                                <li>Kelly</li>
                                <li>Production</li>
                                <li>Seabed</li>
                                <li>Sharp</li>
                                <li>Silentsky</li>
                                <li>Tensai</li>
                                <li>Transmission</li>
                                <li>Winter Bridge</li>
                                <li>Yiresa</li>
                                <li>Rust Valley</li>
                                <li>Swirl</li>
                            </ul>
                            <li>Added 2 new Mann Vs. Machine tours, Platinum Palliative, featuring 15 missions, and Malware Mashup, featuring 15 missions.</li>
                            <li>Added 52 new Mann Vs. Machine achievements, aka Mechachievements.</li>
                            <li>Added the Operation Digital Directive medal (Manncoin Miner). They can be upgraded by completing missions on your <a href="" target="_blank">Campaign</a> page. Available in 4 levels:</li>
                            <ul>
                                <li>Assembled</li>
                                <li>Upgraded</li>
                                <li>Overclocked</li>
                                <li>Australium</li>
                            </ul>
                            <li>Added the Operation Digital Directive crate. Contains 8 new community-made cosmetics:</li>
                            <ul>
                                <li>Hypno Helmet</li>
                                <li>Vroomvroom Juju</li>
                                <li>Bolted Beret</li>
                                <li>Lightning Strike</li>
                                <li>Rusty Receiver</li>
                                <li>Steeler's Visor</li>
                                <li>Hat of Untangled Wires and Rust</li>
                                <li>Data Node</li>
                            </ul>
                            <li>Added 50 Strange Parts.</li>
                            <li>Added 20 New Zealium weapons:</li>
                            <ul>
                                <li>W.A.S.P Launcher</li>
                                <li>Scattergun</li>
                                <li>Rocket Launcher</li>
                                <li>Flame Thrower</li>
                                <li>Grenade Launcher</li>
                                <li>Stickybomb Launcher</li>
                                <li>Minigun</li>
                                <li>Wrench</li>
                                <li>Medigun</li>
                                <li>Sniper Rifle</li>
                                <li>SMG</li>
                                <li>Knife</li>
                                <li>Force-A-Nature</li>
                                <li>Black Box</li>
                                <li>Axtinguisher</li>
                                <li>Eyelander</li>
                                <li>Frontier Justice</li>
                                <li>Blutsauger</li>
                                <li>Ambassador</li>
                                <li>Tomislav</li>
                            </ul>
                            <li>Added The Silver Crate Smasher weapon:</li>
                            <ul>
                                <li>Turns enemies into silver statues.</li>
                                <li>Exceedingly rare.</li>
                            </ul>
                            <li>Added Basic, Specialized, and Professional Killstreak kits.</li>
                            <li>Added Brick weapon (only usable by robots).</li>
                            <li>Added Enhanced Mann Vs. Machine gameplay mechanics (which vary mission to mission):</li>
                            <ul>
                                <li>Red Robots</li>
                                <li>Custom Upgrades</li>
                                <li>Player Rebalances</li>
                                <li>Weapon Rebalances</li>
                                <li>Custom Tanks</li>
                                <ul>
                                    <li>Blimp</li>
                                    <li>Vaccinator Tank</li>
                                    <li>Sticky Tank</li>
                                    <li>Ghost Tank</li>
                                    <li>Carrier Tank</li>
                                    <li>Rocket Turret Tank</li>
                                    <li>Jarate Turret Tank</li>
                                    <li>Spider Turret Tank</li>
                                    <li>Ubered Tank</li>
                                    <li>Tankdozer</li>
                                    <li>The Flying Dutchman</li>
                                </ul>
                                <li>Modified Win Conditions</li>
                                <li>Halloween Spells</li>
                                <li>And many more (which are currently being added to our Creators.TF Wiki)</li>
                            </ul>
                            <li>Fixed an issue where the Contract Hud was not appearing in-game.</li>
                            <li>Fixed painted Creators.TF cosmetics not showing the paint color in-game.</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="day04_bg05" class="bg bottom">
                <div class="inner-bg"></div>
            </section>
            <section class="bg footer" style="background-image: url(/images/tf_pages/digitaldirective/maps/mvm_production_rc6.jpg)">
                <div class="fade-panel Round"></div>
                <div class="fade-panel T"></div>
                <footer class="row">
                    <div class="col-lg" id="footer-day-selector">
                        <footerctflogo></footerctflogo>
                        <div class="row">
                            <ul id="footer-day-table">
                                <a href="/landing/digitaldirective">
                                    <li class="footer-day">DAY 1<br>Maps and Missions</li>
                                </a>
                                <a href="/landing/digitaldirective/augmentations">
                                    <li class="footer-day">DAY 2<br>Augmentations</li>
                                </a>
                                <a href="/landing/digitaldirective/medalofhonor">
                                    <li class="footer-day">DAY 3<br>Medal of Honor</li>
                                </a>
                                <a href="/landing/digitaldirective/deployment">
                                    <li class="footer-day footer-day-selected" style="border-bottom: 0px;">DAY 4<br>Deployment</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="footer-logo">
                            <img
                                src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
                                alt=" "
                            />
                        </div>
                        <p>
                            &copy; Creators.TF Team 2019 - <span
                                id="copyright-year-field">2022</span
                            >
                            <br />
                            Creators.TF, the
                            Creators.TF logo and Creators.TF are developed, founded
                            and owned by the Creators.TF Team.
                        </p>
                    </div>
                    <div class="col-lg">
                        <div class="footer-logo">
                            <img src="/images/valve.svg" alt=" ">
                        </div>
                        <p>
                            Valve, the Valve logo, Steam, the Steam logo, Team Fortress, the Team Fortress logo are trademarks and/or
                            registered trademarks of Valve Corporation. We are not affiliated with Valve Corporation. All rights
                            belong to Valve Corporation.
                        </p>
                    </div>
                </footer>
            </section>
        </div>

        <script is:inline src="https://cdn.jsdelivr.net/npm/vue@2.7.14"
        ></script>
        <script is:inline>
            // Required is defined so it throws an error in production reminding you
            // to set a value, as if the default name/desc wasn't obnoxious enough.
            Vue.component("indicator", {
                props: {
                    indicatorPic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    // indicatorName: {
                    //     type: String,
                    //     required: true,
                    //     default: "DEFINE AN INDICATOR NAME"
                    // },
                    indicatorDescription: {
                        type: String,
                        required: true,
                        default: "DEFINE AN INDICATOR DESCRIPTION",
                    },
                },
                template: `
                <div class="indicator col-lg">
                    <img class="icon" :src="indicatorPic" alt=" ">
                    <div class="indicator-details">
                        <p class="indicator-description">{{ indicatorDescription }}</p>
                    </div>
                </div>
            `,
            });

            Vue.component("people", {
                props: {
                    peopleSteamId: {
                        type: String,
                        required: true,
                        default: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", // FUNNY VIDEO!!!!!
                    },
                    peoplePic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    peopleName: {
                        type: String,
                        required: true,
                        default: "DEFINE THE PERSON'S NAME",
                    },
                    peopleDesc: {
                        type: String,
                        required: true,
                        default: "DEFINE THE PERSON'S ROLE",
                    },
                },
                template: `
                <a class="col-lg people" :href="'https://steamcommunity.com/profiles/' + peopleSteamId" target="_blank">
                    <img class="icon" :src="peoplePic" alt=" ">
                    <div class="people-details">
                        <p class="people-name">{{ peopleName }}</p>
                        <p class="people-description">{{ peopleDesc }}</p>
                    </div>
                </a>
            `,
            });

            Vue.component("maptours", {
                props: {
                    mapWorkshopId: {
                        type: String,
                        required: true,
                        default: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", // FUNNY VIDEO!!!!!
                    },
                    mapPic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    mapName: {
                        type: String,
                        required: true,
                        default: "DEFINE THE MAP'S NAME",
                    },
                    mapCredits: {
                        type: String,
                        required: true,
                        default: "DEFINE THE CREDITS",
                    },
                    // missionIndicators: {
                    //     type: String,
                    //     required: false,
                    //     default: ""
                    // },
                    // missionIndicators2: {
                    //     type: String,
                    //     required: false,
                    // },
                    missionInfo: {
                        type: String,
                        required: false,
                        default: "",
                    },
                    missionInfo2: {
                        type: String,
                        required: false,
                    },
                    missionInfoCredits: {
                        type: String,
                        required: false,
                        default: "",
                    },
                    missionInfo2Credits: {
                        type: String,
                        required: false,
                    },
                },
                template: `
                <div class="map-holder">
                    <a :href="mapWorkshopId" target="_blank">
                        <div class="map-workshop-label"></div>
                    </a>
                    <div class="map-mission-holder">
                        <h2>Missions</h2>
                        <div class="map-mission-holder-individual">
                            <div>
                                <span>{{ missionInfo }}</span><span class="mission-info-credits"> {{ missionInfoCredits }}</span>
                            </div>
                            <div>
                                <span>{{ missionInfo2 }}</span><span class="mission-info-credits"> {{ missionInfo2Credits }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-info-holder">
                        <p class="map-name">{{ mapName }}</p>
                        <p class="map-creators">Made by: {{ mapCredits }}</p>
                    </div>
                    <img :src="mapPic" alt=" ">
                </div>
            `,
            });

            // yeah.
            Vue.component("footerctflogo", {
                template: `
                <a href="/" target="_blank">
                    <img src="/images/tf2_square_event_mvm.png" alt="Creators.TF Operation Digital Directive Logo" title="Creators.TF Operation Digital Directive Logo">
                </a>
            `,
            });

            var app = new Vue({
                el: "#app",
            });
        </script>
    </body>
</html>
