---
import BaseHead from "../../../components/BaseHead.astro";
import "../../../styles/landing/dd/day1.css";
import "../../../styles/landing/dd/medalofhonor.css"
---

<html>
    <BaseHead
        title="Creators.TF - Digital Directive - Medal of Honor (Day 3)"
        description="elcome to Day 3 of your briefing maggots! So, we know what we're expecting when we go into battle right? What? You were sleeping during the briefing? Well that's too bad! I guess we'll throw you out on the front lines first as “unintentional casualties” because you can't listen well."
        icon="/images/tf2_square_event_mvm.png"
    >
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
        />
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@glidejs/glide"
        ></script>
    </BaseHead>
    <body>
        <div id="app">
            <section id="day03_bg01" class="bg">
                <div id="logo-video-holder">
                    <div id="logo-overlay"></div>
                    <video muted="" autoplay="" loop="" preload="auto">
                        <source src="/images/tf_pages/digitaldirective/digital_directive_logo_animated.webm" type="video/webm">
                    </video>
                </div>
            </section>
            <section id="day03_bg02" class="bg top">
                <div id="day-selector">
                    <a href="/landing/digitaldirective">
                        <div class="dayPanel first day1 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day1_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/augmentations">
                        <div class="dayPanel second day2 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day2_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/medalofhonor">
                        <div class="dayPanel third day3 active selected">
                            <video class="dayPanelVideo selectedVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day3_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                    <a href="/landing/digitaldirective/deployment">
                        <div class="dayPanel fourth day4 active">
                            <video class="dayPanelVideo" muted="" autoplay="" loop="" preload="auto">
                                <source src="/images/tf_pages/digitaldirective/day4_animated.webm" type="video/webm">
                            </video>
                        </div>
                    </a>
                </div>
                <p id="first-text" class="day03_first-text">
                    Welcome to Day 3 of your briefing maggots! So, we know what we're expecting when we go into battle right? What? You
                    were sleeping during the briefing? Well that's too bad! I guess we'll throw you out on the front lines first as
                    “unintentional casualties” because you can't listen well. For those that did, good job! You have functioning ears,
                    and a semi-decent functioning brain.
                    <br><br>
                    For those who did listen, you're probably thinking: “Surely if we're going on such a dangerous mission, we'd be getting something
                    good out of it right?”. Well the answer to that is straight forward: no. We've spent the large majority of our money
                    preparing ourselves for battle, why should we give you anything? Your sacrifice to keeping Mann Co. safe should
                    be a reward in itself!
                    <br><br>
                    That motivational sentence didn't help did it? Shucks. Well I think we have some spare parts lying around that we can reforge
                    if you're so desperate. Lets see what we have in store!
                </p>
                <div class="divisor paper-three"></div>
            </section>
            <section id="day03_bg03" class="bg">
                <div class="inner-bg inner-bg-day03-cosmetics">
                    <div class="fade-panel T"></div>
                    <div class="fade-panel B"></div>
                    <div class="overlay"></div>

                    <div class="map-workshop-label"></div>

                    <div id="cosmetic-clickables">
                        <a class="cosmetic-link bolted-beret-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=176783845" target="_blank"></a>
                        <a class="cosmetic-link data-node-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=228811364" target="_blank"></a>
                        <a class="cosmetic-link hat-of-untangled-wires-and-rust-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=143476757" target="_blank"></a>
                        <a class="cosmetic-link hypno-helmet-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=629794599" target="_blank"></a>
                        <a class="cosmetic-link lightning-strike-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=176781979" target="_blank"></a>
                        <a class="cosmetic-link rusty-receiver-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=176787009" target="_blank"></a>
                        <a class="cosmetic-link steelers-visor-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=176785327" target="_blank"></a>
                        <a class="cosmetic-link vroomvroom-juju-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=1393294359" target="_blank"></a>
                        <div class="cosmetic bolted-beret"></div>
                        <div class="cosmetic data-node"></div>
                        <div class="cosmetic hat-of-untangled-wires-and-rust"></div>
                        <div class="cosmetic hypno-helmet"></div>
                        <div class="cosmetic lightning-strike"></div>
                        <div class="cosmetic rusty-receiver"></div>
                        <div class="cosmetic steelers-visor"></div>
                        <div class="cosmetic vroomvroom-juju"></div>
                    </div>

                    <p class="boxTitle enormous" id="NEW ROBOT HEADGEARS" style="font-size: 118px;"></p>
                    <p class="explanationText">
                        Now if you're gonna go into battle and fight thousands upon thousands of robots, you have to look good doing it!
                        <br>
                        That's why we're introducing 8 new cosmetics to flare up your fighting style! Of course, since robots have no
                        real emotions, they won't actually think that your hats look good. You can keep thinking that to yourself though.
                        <br>
                        Do keep in mind that they're all made from spare parts; if you get any sudden electric shocks, consider it a
                        feature.
                    </p>
                </div>
                <div class="divisor thick"></div>
            </section>
            <section id="day03_bg04" class="bg">
                <div class="inner-bg inner-bg-day03-strangeParts">
                    <div class="fade-panel L"></div>
                    <div class="inner-bg-text align-self-center">
                        <p class="boxTitle enormous" id="STRANGE PARTS!" style="font-size: 95px;"></p>
                        <p class="explanationText">
                            Do you have friends? If not, sucks to be you. But let's say this hypothetically: have you ever wanted to show off to
                            your friends about how cool your weapons really are? Have you ever wanted to have another set of jazz and flare to your
                            big boom boom sticks? Well fear no more Mr. or Ms. Hypothetical Person, as we're introducing <b>Strange Parts!</b>
                            <br><br>
                            These parts attach to your already modified Strange weapons like putting two lego bricks together <i>(minus hooking up the
                            electricity, making sure that it works correctly in the field, and is actually mounted correctly)</i>, and they track all
                            kinds of statistics! Robots killed, Scouts killed, MVPs, you name it!
                        </p>
                    </div>
                </div>
                <div class="divisor thick"></div>
            </section>
            <section id="day03_bg05" class="bg">
                <div class="inner-bg inner-bg-day03-medals">
                    <div class="fade-panel T"></div>
                    <div class="fade-panel B"></div>
                    <p class="boxTitle gold enormous" id="MEDALS OF HONOR"></p>
                    <p class="explanationText">
                        What do soldiers get after completing their Tour Of Duty? A girlfriend? No. A day off? Don't be stupid, you're a
                        mercenary! I'm talking about medals son! When you complete a tier of your Digital Directive Campaign, you'll
                        receive a special medal for all of your hard work! For the low cost of your arms, legs and time you'll never get
                        back, finishing the Digital Directive campaign will earn you the <b><i>Manncoin Miner</i></b> medal! This product
                        unfortunately does not generate actual MannCoins. If it could, we'd be swimming like ducks in a safe full of coins!
                        <br><br>
                        These medals will only be obtainable throughout the duration of the event, because the cost of manufacturing these
                        is very, very expensive.
                        <br><br>
                        <i>NOTE FROM HR:</i> These medals <b>are not official TF2 items</b> and they can only be <b>equipped on Creators.TF Servers</b>.
                    </p>
                </div>
                <div class="divisor thick"></div>
            </section>
            <section id="day03_bg06" class="bg bottom">
                <div class="inner-bg inner-bg-day03-nz">
                    <div class="fade-panel T"></div>
                    <p class="boxTitle nz enormous" id="NEW ZEALIUM WEAPONS"></p>
                    <p class="explanationText hand-writing-quote">
                        “Deep down, in the caverns of the sunken country of New Zealand, lies a mysterious material that humanity once threw
                        out
                        like a stinky orphan for being “useless.” In the 1960's, scientists discovered a questionable attribute of this
                        element,
                        dubbed New Zealium. When put in the same solution as Australium, the protons from each element are ripped apart,
                        creating
                        a vigorous explosion. Embedding the power of New Zealium within a weapon will transform your enemies into shiny
                        silver
                        statues.”
                    </p>
                </div>
            </section>
            <section class="bg footer" style="background-image: url(/images/tf_pages/digitaldirective/maps/mvm_autumnull_rc2_final.jpg)">
                <div class="fade-panel Round"></div>
                <div class="fade-panel T"></div>
                <footer class="row">
                    <div class="col-lg" id="footer-day-selector">
                        <footerctflogo></footerctflogo>
                        <div class="row">
                            <ul id="footer-day-table">
                                <a href="/landing/digitaldirective">
                                    <li class="footer-day">DAY 1<br>Maps and Missions</li>
                                </a>
                                <a href="/landing/digitaldirective/augmentations">
                                    <li class="footer-day">DAY 2<br>Augmentations</li>
                                </a>
                                <a href="/landing/digitaldirective/medalofhonor">
                                    <li class="footer-day footer-day-selected">DAY 3<br>Medal of Honor</li>
                                </a>
                                <a href="/landing/digitaldirective/deployment">
                                    <li class="footer-day" style="border-bottom: 0px;">DAY 4<br>Deployment</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="footer-logo">
                            <img
                                src="/images/creators_logo_gear_fin-bwoutline_orange.svg"
                                alt=" "
                            />
                        </div>
                        <p>
                            &copy; Creators.TF Team 2019 - <span
                                id="copyright-year-field">2022</span
                            >
                            <br />
                            Creators.TF, the
                            Creators.TF logo and Creators.TF are developed, founded
                            and owned by the Creators.TF Team.
                        </p>
                    </div>
                    <div class="col-lg">
                        <div class="footer-logo">
                            <img src="/images/valve.svg" alt=" ">
                        </div>
                        <p>
                            Valve, the Valve logo, Steam, the Steam logo, Team Fortress, the Team Fortress logo are trademarks and/or
                            registered trademarks of Valve Corporation. We are not affiliated with Valve Corporation. All rights
                            belong to Valve Corporation.
                        </p>
                    </div>
                </footer>
            </section>
        </div>

        <script is:inline src="https://cdn.jsdelivr.net/npm/vue@2.7.14"
        ></script>
        <script is:inline>
            // Required is defined so it throws an error in production reminding you
            // to set a value, as if the default name/desc wasn't obnoxious enough.
            Vue.component("indicator", {
                props: {
                    indicatorPic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    // indicatorName: {
                    //     type: String,
                    //     required: true,
                    //     default: "DEFINE AN INDICATOR NAME"
                    // },
                    indicatorDescription: {
                        type: String,
                        required: true,
                        default: "DEFINE AN INDICATOR DESCRIPTION",
                    },
                },
                template: `
                <div class="indicator col-lg">
                    <img class="icon" :src="indicatorPic" alt=" ">
                    <div class="indicator-details">
                        <p class="indicator-description">{{ indicatorDescription }}</p>
                    </div>
                </div>
            `,
            });

            Vue.component("people", {
                props: {
                    peopleSteamId: {
                        type: String,
                        required: true,
                        default: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", // FUNNY VIDEO!!!!!
                    },
                    peoplePic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    peopleName: {
                        type: String,
                        required: true,
                        default: "DEFINE THE PERSON'S NAME",
                    },
                    peopleDesc: {
                        type: String,
                        required: true,
                        default: "DEFINE THE PERSON'S ROLE",
                    },
                },
                template: `
                <a class="col-lg people" :href="'https://steamcommunity.com/profiles/' + peopleSteamId" target="_blank">
                    <img class="icon" :src="peoplePic" alt=" ">
                    <div class="people-details">
                        <p class="people-name">{{ peopleName }}</p>
                        <p class="people-description">{{ peopleDesc }}</p>
                    </div>
                </a>
            `,
            });

            Vue.component("maptours", {
                props: {
                    mapWorkshopId: {
                        type: String,
                        required: true,
                        default: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", // FUNNY VIDEO!!!!!
                    },
                    mapPic: {
                        type: String,
                        required: true,
                        default: "/images/no_avatar.jpg",
                    },
                    mapName: {
                        type: String,
                        required: true,
                        default: "DEFINE THE MAP'S NAME",
                    },
                    mapCredits: {
                        type: String,
                        required: true,
                        default: "DEFINE THE CREDITS",
                    },
                    // missionIndicators: {
                    //     type: String,
                    //     required: false,
                    //     default: ""
                    // },
                    // missionIndicators2: {
                    //     type: String,
                    //     required: false,
                    // },
                    missionInfo: {
                        type: String,
                        required: false,
                        default: "",
                    },
                    missionInfo2: {
                        type: String,
                        required: false,
                    },
                    missionInfoCredits: {
                        type: String,
                        required: false,
                        default: "",
                    },
                    missionInfo2Credits: {
                        type: String,
                        required: false,
                    },
                },
                template: `
                <div class="map-holder">
                    <a :href="mapWorkshopId" target="_blank">
                        <div class="map-workshop-label"></div>
                    </a>
                    <div class="map-mission-holder">
                        <h2>Missions</h2>
                        <div class="map-mission-holder-individual">
                            <div>
                                <span>{{ missionInfo }}</span><span class="mission-info-credits"> {{ missionInfoCredits }}</span>
                            </div>
                            <div>
                                <span>{{ missionInfo2 }}</span><span class="mission-info-credits"> {{ missionInfo2Credits }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-info-holder">
                        <p class="map-name">{{ mapName }}</p>
                        <p class="map-creators">Made by: {{ mapCredits }}</p>
                    </div>
                    <img :src="mapPic" alt=" ">
                </div>
            `,
            });

            // yeah.
            Vue.component("footerctflogo", {
                template: `
                <a href="/" target="_blank">
                    <img src="/images/tf2_square_event_mvm.png" alt="Creators.TF Operation Digital Directive Logo" title="Creators.TF Operation Digital Directive Logo">
                </a>
            `,
            });

            var app = new Vue({
                el: "#app",
            });
        </script>
    </body>
</html>
