body {
    background: #0e0e0e;
    padding: 0;
    margin: 0;
    color: #9d9e95;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

#container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.bg {
    width: 100%;
    background-position: center top;
}

.container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-position: center top;
    position: relative;
}

.label {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

#label_01_1 {
    top: 950px;
    width: 700px;
}

#label_02_1 {
    margin: 0;
    left: 340px;
    top: 180px;
    width: 580px;
    text-align: justify;
}

#label_03_1 {
    top: 180px;
}

#label_04_1 {
    top: 210px;
}

.label_map {
    width: 885px;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.workshop_label {
    background-image: url(/cdn/assets/images/seal_vote_on_steam_workshop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -15px;
    transition: transform 0.2s ease;
    bottom: 50px;
}

.workshop_label:hover {
    transform: rotate(3deg);
}

#workshop_05 {
    left: 30px;
    bottom: 30px;
}

#workshop_06 {
    right: 30px;
    bottom: 40px;
}

#workshop_07 {
    left: 20px;
    bottom: 70px;
}

#workshop_08 {
    right: 40px;
    bottom: 60px;
}

#workshop_09 {
    left: 30px;
    bottom: 80px;
}

#label_05_1 {
    bottom: 50px;
    transform: rotate(-2deg);
    text-align: right;
    right: 30px;
    left: auto;
}

#label_06_1 {
    bottom: 50px;
    transform: rotate(1deg);
    text-align: left;
    left: 30px;
    left: right;
}

#label_07_1 {
    bottom: 50px;
    transform: rotate(3deg);
    text-align: right;
    right: 40px;
    left: auto;
}

#label_08_1 {
    bottom: 50px;
    transform: rotate(-2deg);
    text-align: left;
    left: 40px;
    left: right;
}

#label_09_1 {
    bottom: 60px;
    transform: rotate(0deg);
    text-align: right;
    right: 40px;
    left: auto;
}

#label_10_1 {
    top: 170px;
}

#label_11_1 {
    top: 210px;
}

#label_13_1 {
    top: 390px;
}

#label_14_1 {
    top: 170px;
}

#bg_01 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_01.jpg?v=5);
    height: 1088px;
}

#bg_02 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_02.jpg?v=5);
    height: 483px;
}

#bg_03 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_03.jpg?v=5);
    height: 1003px;
}

#bg_04 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_04.jpg?v=5);
    height: 236px;
}

#bg_05 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_05.jpg?v=5);
    height: 621px;
}

#bg_06 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_06.jpg?v=5);
    height: 580px;
}

#bg_07 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_07.jpg?v=5);
    height: 574px;
}

#bg_08 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_08.jpg?v=5);
    height: 565px;
}

#bg_09 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_09.jpg?v=5);
    height: 590px;
}

#bg_10 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_10.jpg?v=5);
    height: 862px;
}

#bg_11 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_11.jpg?v=5);
    height: 575px;
}

#bg_12 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_12.jpg?v=5);
    height: 1087px;
}

#bg_13 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_13.jpg?v=5);
    height: 880px;
}

#bg_14 {
    background-image: url(/cdn/assets/images/tf_pages/halloween2020/bg_14.jpg?v=5);
    height: 1630px;
}

.creators_logo {
    cursor: pointer;
    top: 20px;
    left: -8px;
    transform: rotate(-4deg);
    position: absolute;
    width: 160px;
}

.creators_logo img {
    width: 100%;
}

.creators_logo:hover {
    filter: brightness(110%);
}

.map_name {
    margin: 0;
    font-family: "Ghoulish Fright AOE", sans-serif;
    color: #fff;
    font-size: 90px;
    line-height: 64px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 20px #185D0C;
}

.map_label {
    margin: 0;
    text-shadow: 1px 1px 10px #185D0C;
}

.people {
    position: absolute;
    width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#people_13 {
    top: 440px;
}

#people_14 {
    top: 220px;
}

.person {
    width: 100%;
    background: #0f0f0f;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 1px 1px 1px #1d1d1d99 inset, -1px -1px 1px #000 inset, 0px 0px 5px #000a;
    display: flex;
    box-sizing: border-box;
    /* transition: 0.2s; // Never do this. Always set specific selectors. */
    transition: background .2s ease, box-shadow .2s ease;
}

.person:hover {
    background: #111;
    box-shadow: 1px 1px 1px #1d1d1d99 inset, -1px -1px 1px #090909 inset, 0px 0px 5px #000a;
}

.avatar_container {
    width: 50px;
    height: 50px;
    border: 2px solid #232323;
    border-radius: 5px;
}

.avatar_container img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.person_information {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person_label {
    font-family: "TF2 Secondary", sans-serif;
    color: #888;
}

.person_name {
    color: #bbb;
    font-family: "Calibri", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#footer_crdts {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: space-evenly;
    position: relative;
    top: 145px;
}

.footer_item {
    width: 100%;
    display: flex;
}

.footer_item img {
    width: 100%;
}

.footer_logo {
    width: 100px;
    flex-shrink: 0;
}

.footer_label {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 11px;
    color: #999;
}

.wait_why_is_this_here_UNDO_UNDO_UNDO_UN- {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 736px;
    top: 790px;
}

.eye_lit {
    background: url(/cdn/assets/images/tf_pages/halloween2020/eye_lit.jpg?=v1);
    position: absolute;
    left: 771px;
    top: 732px;
    width: 62px;
    height: 59px;
    background-size: 100% 100%;
    opacity: 0;
}