* {
    text-transform: none !important;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
}

@media only screen and (max-width: 992px) {
    .col-lg {
        padding: 20px;
    }
    h1 {
        line-height: 80px;
    }
}

@media only screen and (max-width: 690px) {
    .section {
        width: 90%;
    }
}

::selection {
    background: #111;
}

.biggericon {
    font-size: 25px;
    color: #EEE;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#githublabel {
    background-image: url(/cdn/assets/images/tf_pages/launcher/githublabel.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
    z-index: 1;
}

#githublabel:hover {
    filter: invert(1);
}

#container01 {
    width: 100%;
    padding: 90px 0;
    height: 575px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#container01img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/cdn/assets/images/tf_pages/hazardousenvironments/creatorstf_hzrdsenv_street_wallpaperpreview.jpg);
    background-size: cover;
    background-position: center;
    z-index: -9;
    filter: blur(5px);
    opacity: 0.55;
}

h1 {
    margin: 0 auto;
    width: 90%;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #EEE;
    text-shadow: 0px 0px 20px rgba(20, 20, 20, 1);
    text-align: center;
}

#box-of-buttons {
    width: 100%;
    margin: 20px auto 0px;
}

.button {
    min-width: 150px;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 200;
    font-size: 21px;
    color: #E6E6E6;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #B35215;
    border-style: solid;
    border-width: thin;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    outline: 0;
    z-index: 0;
    user-select: none;
}

.button.smaller {
    font-size: 15px;
}

.button:before {
    content: "";
    background-color: #B35215;
    position: absolute;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -31px;
    transition: 0.15s;
    z-index: -1;
    transform: skewX(-35deg);
}

.button:hover:before {
    width: 155%;
}

.button a:hover {
    color: #E6E6E6;
}

#supported-version {
    margin: 0 auto;
    line-height: 25px;
}

p {
    margin: 0;
    color: #EEE;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 200;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#supported-version i {
    position: relative;
    top: 3px;
}

.section {
    background: radial-gradient(ellipse at top left, #333, #222);
    margin: 0px auto 30px auto;
    padding: 0px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.section img {
    width: 100%;
    box-shadow: 0px 0px 50px #000;
}

.sectionTitle {
    font-size: 52px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    color: #EEE;
}

.sectionDesc {
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 200;
    color: #EEE;
    line-height: 23px;
}

.faqBox {
    width: 100%;
    margin: 32px auto;
    text-align: center;
}

.faqBox:last-child {
    margin-bottom: 0px;
}

.faqQ {
    margin: 0 auto;
    width: 90%;
    font-size: 35px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    color: #EEE;
}

.faqA {
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    color: #CCC;
    line-height: 25px;
}

a {
    color: #FFF;
    transition: 0.2s;
}

a:hover {
    color: cyan;
    text-decoration: none;
}

.hover {
    color: #FFF;
    transition: 0.2s;
    font-size: 16px;
}

.hover:hover {
    color: cyan;
    cursor: pointer;
}

/* color: #007BFF; */

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

hr {
    margin: 5px 0px;
}

/* background: linear-gradient(90deg, transparent 5%, #323232 50%, transparent 95%); */

.separator {
    margin: 5px 0px;
    height: 1px;
}

.separator.l {
    background: linear-gradient(270deg, transparent 10%, #505050 50%);
}

.separator.r {
    background: linear-gradient(90deg, transparent 10%, #505050 50%);
}

[tooltip] {
    position: relative;
}

[tooltip]:after {
    content: attr(tooltip);
    background-color: #111;
    border-radius: 5px;
    color: #CCC;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding: 5px;
    white-space: normal;
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    z-index: 9999999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
    position: absolute;
    bottom: -2.25em;
    right: 0;
    left: 0;
    width: max-content;
    max-width: 550px;
    margin: auto;
}

[tooltip]:hover:after {
    opacity: 1;
    visibility: visible;
}

#footer {
    margin: 0px auto 30px auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #DDD;
    line-height: 18px;
}

#footer img {
    margin-right: 10px;
}

#auto-updating {
    transition: filter 1.25s;
}

#auto-updating-button {
    color: lightskyblue;
    cursor: pointer;
}

#auto-updating-button small {
    position: relative;
    top: -5px;
}

#other-downloads {
    transition: 0.2s;
    overflow: hidden;
    height: 0px;
}

small {
    font-weight: 200 !important;
}