:root {
    --gold: #FFC103;
    --nz: #3C3E49;
}

.tooltip__element {
    font-family: var(--default-font-stack);
    font-size: 16px;
    line-height: 125%;
    padding: 3px;
    color: #EEE;
}

#day03_bg01 {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/container03test_nologo.jpg) !important;
    height: 1130px;
}

#day03_bg02 {
    padding-bottom: 25px;
}

.day03_first-text {
    top: -65px !important;
}

#day03_bg03 {
    padding: 32px 0px 25px;
}

/* #day03_bg04 {
    padding-top: 30px;
} */

#day03_bg05 {
    padding: 25px 0px;
}

#day03_bg06 {
    padding-top: 20px;
}

#logo-overlay {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/container03test_overlay.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 604px;
    height: 212px;
    position: absolute;
    top: 375px;
    left: 226px;
    z-index: 1;
}

@keyframes highlighting {
    0% {
        /* filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
        -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25); */
        filter: brightness(1.25);
        -webkit-filter: brightness(1.25);
    }
    100% {
        /* filter: drop-shadow(0px 0px 0px var(--black)) brightness(1);
        -webkit-filter: drop-shadow(0px 0px 0px var(--black)) brightness(1); */
        filter: brightness(1);
        -webkit-filter: brightness(1);
    }
}

.map-workshop-label {
    top: 117px;
    margin: 10px;
    z-index: 99;
}

.inner-bg-day03-cosmetics {
    height: 639px;
    padding: 25px 0px;
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetics.jpg);
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
}

.inner-bg-day03-cosmetics .overlay {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_showcase_render_overlay.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
}

#cosmetic-clickables {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cosmetic-clickables:hover .cosmetic {
    animation-name: nope;
    transition: 0.2s;
}

.cosmetic {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
    transition: 0.2s;
    animation-name: highlighting;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.bolted-beret {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_bolted_beret.png);
}

.data-node {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_data_node.png);
}

.hat-of-untangled-wires-and-rust {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_hat_of_untangled_wires_and_rust.png);
}

.hypno-helmet {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_hypno_helmet.png);
}

.lightning-strike {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_lightning_strike.png);
}

.rusty-receiver {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_rusty_receiver.png);
}

.steelers-visor {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_steelers_visor.png);
}

.vroomvroom-juju {
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/cosmetic_vroomvroom_juju.png);
}

.cosmetic-link {
    position: absolute;
    z-index: 99999;
}

.bolted-beret-link {
    top: 85px;
    left: 329px;
    width: 75px;
    height: 85px;
}

.bolted-beret-link:hover~.bolted-beret {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.data-node-link {
    width: 100px;
    height: 90px;
    top: 92px;
    left: 739px;
}

.data-node-link:hover~.data-node {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.hat-of-untangled-wires-and-rust-link {
    width: 200px;
    height: 210px;
    top: 189px;
    left: 603px;
}

.hat-of-untangled-wires-and-rust-link:hover~.hat-of-untangled-wires-and-rust {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.hypno-helmet-link {
    width: 100px;
    height: 160px;
    top: 163px;
    left: 373px;
}

.hypno-helmet-link:hover~.hypno-helmet {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.lightning-strike-link {
    width: 118px;
    height: 108px;
    top: 158px;
    left: 923px;
}

.lightning-strike-link:hover~.lightning-strike {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.rusty-receiver-link {
    width: 135px;
    height: 180px;
    top: 155px;
    left: 149px;
}

.rusty-receiver-link:hover~.rusty-receiver {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.steelers-visor-link {
    width: 80px;
    height: 100px;
    top: 58px;
    left: 511px;
}

.steelers-visor-link:hover~.steelers-visor {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.vroomvroom-juju-link {
    width: 165px;
    height: 118px;
    top: 355px;
    left: 405px;
}

.vroomvroom-juju-link:hover~.vroomvroom-juju {
    filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
    -webkit-filter: drop-shadow(0px 0px 10px var(--black)) brightness(1.25);
}

.inner-bg-text {
    width: 62%;
}

.inner-bg-day03-strangeParts {
    padding: 80px 30px;
    background-size: contain;
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/strangeparts.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}

.inner-bg-day03-strangeParts .fade-panel.L {
    background: linear-gradient(90deg, var(--page-bg-color) 10%, transparent 90%);
}

.inner-bg-day03-medals {
    height: 749px;
    padding: 27px 10px;
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/medals.jpg);
    background-blend-mode: hard-light;
    background-color: #555;
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
}

.inner-bg-day03-medals .fade-panel.B {
    background: linear-gradient(0deg, var(--black-2) 0%, transparent 50%);
}

.inner-bg-day03-nz {
    height: 700px;
    padding: 50px 10px 45px;
    background-image: url(/images/tf_pages/digitaldirective/medalofhonour/new_zealium.jpg);
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 18px var(--black));
    -webkit-filter: drop-shadow(0px 0px 18px var(--black));
}

.inner-bg-day03-nz .boxTitle.enormous {
    font-size: 118px;
}

.boxTitle.nz::after {
    background: linear-gradient(0deg, var(--nz) 25%, var(--white-2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.boxTitle.gold::after {
    background: linear-gradient(0deg, var(--gold) -35%, var(--white-2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.hand-writing-quote {
    font-family: 'Kalam', Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 110%;
    text-shadow: 0px 0px 10px var(--black);
}

@media only screen and (max-width: 1025px) {
    #day03_bg01 {
        background-image: url(/images/tf_pages/digitaldirective/medalofhonour/container03test.jpg) !important;
    }
    .inner-bg-day03-strangeParts {
        background-size: cover !important;
    }
}