<ul class="header_navigation main_navigation">
	<li>
		<a href="{{site.url}}/updates" tooltip="Take a look at the latest and greatest updates to Creators.TF!"
			alt="Update Page">
			<i class="mdi mdi-update"></i> Updates
		</a>
	</li>
	<li>
		<a href="{{site.url}}/blog"
			tooltip="Peek at our blog and discover what we&#39;re up to, what we have planned, and more!"
			alt="Blog page">
			<i class="mdi mdi-post"></i> Blog
		</a>
	</li>
	<li>
		<a href="{{site.url}}/team"
			tooltip="Peek at our blog and discover what we&#39;re up to, what we have planned, and more!"
			alt="Blog page">
			<i class="mdi mdi-account"></i> Team
		</a>
	</li>
</ul>