<article class="post" tabindex="0">
	<header class="post_header flex" role="heading">
		<div class="flex">
			<a class="avatar" href="#"><img src="{{site.url}}/assets/creators_logo_square.jpg"
					alt="Creators.TF Blog"></a>
			<div class="post-info">
				<a href="{{site.url}}{{include.post.url}}">
					<h2>{{include.post.title}}</h2>
				</a>
				<span class="date-author">
					<time datetime="2021-10-26T19:44:35+00:00"
						pubdate="pubdate">{{include.post.date|format:site.date-format}}</time>
					•
					<address style="display: inline; font-style: normal;">
						<a href="{{site.url}}/{{include.post.category}}" rel="author">Creators.TF
							{{include.post.category|capitalize}}</a>
					</address>
				</span>
			</div>
		</div>
	</header>
	<div class="post-content cut">
		{{include.post.content}}
	</div>
	<!-- <footer>
		<div class="post-social">
			<div><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
					allowfullscreen="true"
					class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
					style="position: static; visibility: visible; width: 73px; height: 20px;"
					title="Twitter Tweet Button"
					src="./A HAUNTINGLY HOMECOOKED HALLOWEEN SPECIAL! — Creators.TF_files/tweet_button.a58e82e150afc25eb5372dd55a98b778.en.html"
					data-url="https://creators.tf/post/blog/125"></iframe>
				<script async="" src="./A HAUNTINGLY HOMECOOKED HALLOWEEN SPECIAL! — Creators.TF_files/widgets.js"
					charset="utf-8"></script>
			</div>
		</div>
	</footer> -->
</article>