<aside class="right-panels">
	<div class="container infobox">
		<span class="panel-title white">Social Media</span>
		<div class="vcontainer links">
			<a href="https://discord.gg/K4Cyb7q" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-discord link-mini"></i>Discord
			</a>
			<a href="https://twitter.com/creatorstf" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-twitter link-mini"></i>Twitter
			</a>
			<a href="https://www.youtube.com/channel/UCSwnTvTlQd8bsaLZU1RT3fw" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-youtube link-mini"></i>YouTube
			</a>
			<a href="https://www.reddit.com/user/CreatorsTF/" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-reddit link-mini"></i>Reddit
			</a>
			<a href="https://steamcommunity.com/groups/CreatorsTF" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-steam link-mini"></i>Steam Group
			</a>
		</div>
	</div>
	<div class="container infobox">
		<span class="panel-title white">Project History</span>
		<a href="{{site.url}}/posts/blog/125">
			<div class="vcontainerprevupd monthly"
				tooltip="Today&#39;s menu? A Hauntigly Homecooked Halloween Special! Celebrating Halloween 2021, we are introducing 4 extra spooky maps, 8 halloween-restricted cosmetics that will scare the hell out of you, 2 new weapons and 16 new Halloween-themed contracts!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/helloween-2021.jpg)">
			</div>
		</a><a href="{{site.url}}/posts/blog/118">
			<div class="vcontainerprevupd monthly"
				tooltip="Announcing The Belated September 1st Update! Introducing 2 new weapons, a rebalanced Carved Cutter, 4 new maps, 6 new cosmetics and a brand new look for our project!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/belation.png)">
			</div>
		</a><a href="{{site.url}}/digitaldirective">
			<div class="vcontainerprevupd monthly"
				tooltip="Announcing, Operation: Digital Directive, a community-made Mann vs Machine campaign created by Creators.TF and Potato’s Custom MvM Servers. With 30 new missions across 22 maps, plus some brand new gameplay additions, this is gonna be one hell of a campaign across the world!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/digitaldirective.jpg)">
			</div>
		</a><a href="{{site.url}}/posts/blog/85">
			<div class="vcontainerprevupd monthly"
				tooltip="Merry Christmas Mercenaries! My name is Australian Santa Claus. Today, with my Christmas magic, and the power of the community, the Creators.TF Team and I have gotten together to create the Snowed-In Smissmas update!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/snowedinsmissmas.jpg)">
			</div>
		</a><a href="{{site.url}}/barbocabarto">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing A Gruesomely Overflowing Halloween Special, our fourth major event! Our first community-made event to celebrate the Halloween, with the classic feel of Scream Fortress. Including over 26 new cosmetics, 5 new maps, and 2 new features: Battle Pass and The Tainted Tome!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/halloween2020.jpg)">
			</div>
		</a><a href="{{site.url}}/posts/blog/69">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing Back to Fight. A minor event. 5 new community-made maps, 11 new cosmetics including 2 full sets and a bunch of other changes."
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/backtofight.jpg)">
			</div>
		</a><a href="{{site.url}}/classful">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing The Classful Event, our third major event! An event made to celebrate the old Team Fortress way of updates. Including 19 new community-made cosmetics, 3 new maps, 3 new weapons, balance changes, contracts, a new feature (a Strange one) and a rework to our inventory system!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/classful.jpg)">
			</div>
		</a><a href="{{site.url}}/hazardousenvironments">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing Hazardous Environments. Our second major event themed around Half-Life. Made to celebrate the release of Half-Life: Alyx, the first Half-Life game in 12 years!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/hazardousenvironments.jpg)">
			</div>
		</a><a href="{{site.url}}/posts/blog/14">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing New Beginning. A minor event theed around classic Team Fortress 2."
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/new_beginning.jpg)">
			</div>
		</a><a href="{{site.url}}/selfmadesmissmas">
			<div class="vcontainerprevupd monthly"
				tooltip="Introducing Self-Made Smissmas. Our first major content event themed around that time of the year, Smissmas!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/selfmadesmissmas.jpg)">
			</div>
		</a><a href="{{site.url}}/promo">
			<div class="vcontainerprevupd monthly"
				tooltip="Do you wanna help this project? See if any of your skills are here and join us today!"
				style="background-image: url({{site.url}}/cdn/assets/images/updates/history/promo.jpg)">
			</div>
		</a>
	</div>
</aside>