body, input {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

:root {
    scrollbar-face-color: rgba(100, 100, 100, 1);
    scrollbar-track-color: rgba(43, 43, 38, 0.2);
    scrollbar-color: rgba(100, 100, 100, 1) rgba(43, 43, 38, 0.2);
}

p {
    margin: 0;
}

.progress {
    min-height: 145px;
    padding: 5px 0 0 0;
}

.progress_wrapper {
    box-sizing: border-box;
    background: #0003;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    position: relative;
    box-shadow: -1px 1px 4px -1px #fff5;
    margin: 8px 0;
}

.progress_label * {
    pointer-events: none;
}

.progress_wrapper::after {
    position: absolute;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px 5px #000b inset;
    border-radius: 20px 0 0 20px;
    z-index: 9;
}

#rewards-drawer {
    padding: 0 30px;
}

.reward {
    background: #3C362F;
    padding: 10px 0 20px;
    z-index: 5;
}

.topbar {
    padding: 0.5em;
}

.fullscreen {
    background-image: url(/cdn/assets/images/tf_campaign/directive/background.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.drawer {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    /* overflow-y: scroll; */
}

.tf-button {
    background: #433b32;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 3px #000a, inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
    font-family: "TF2 Build", sans-serif;
    font-size: 14px;
}

.tf-button:active {
    box-shadow: 0 0 3px #000a, inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
    transform: translate(1px, 1px);
}

.volumetric {
    background: linear-gradient(180deg, #3c342c, #25231f);
    box-shadow: 1px -1px 6px #0009 inset, 0px 1px 3px #fff6 inset, 0px 5px 10px #000a;
}

.quests {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    overflow-y: scroll;
    padding: 1em 0.5em 0 0;
    margin-bottom: 1em;
    border-radius: 0em 0em 1em 1em;
}

.preview {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.merasmission_content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 305px;
    padding-top: 100px;
    padding-right: 70px;
    color: #35291d;
    font-family: "TF2 Secondary", sans-serif;
    transition: color 2s ease;
}

.progress_element .item {
    width: 58px;
    height: 58px;
    box-shadow: 0px 0px 4px #000a;
}

.progress_element {
    padding: 0 4px;
    width: 64px;
    flex-shrink: 0;
    height: 116px;
}

.progress_label {
    background: url(/cdn/assets/images/tf_campaign/halloween/tombstone_inactive.png);
    background-size: 100%;
    background-position: center center;
    color: #060606;
    width: 42px;
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    filter: drop-shadow(0px 0px 2px #0006);
    line-height: 42px;
    font-size: 15px;
    cursor: pointer;
    top: 65px;
}

.progress_element.completed .item {
    box-shadow: 0px 0px 10px var(--cyoa-orange) inset, 0px 0px 10px var(--cyoa-orange);
}

.progress_element.completed .item::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(/cdn/assets/images/tf_campaign/halloween/item_element_claimed.png);
    background-size: 100%;
    top: -5px;
    left: -5px;
}

.progress_element.completed .progress_label:not(.has_custom_image) {
    background-image: url(/cdn/assets/images/tf_campaign/halloween/tombstone_active.png);
    color: #fff;
    animation: progress_label_glow 2s infinite linear;
}

.progress_label.webm {
    background-image: none !important;
}

.progress_label.webm video {
    width: 100%;
    height: 100%;
}

.quest_loading_overlay.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .55;
    z-index: 10;
}

.campaign_item_wrapper {
    width: 150px;
    height: 100%;
    padding-left: 10px;
}

.campaign_item {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.campaign_item_image {
    width: 100%;
    height: 100%;
    background-size: 140%;
    background-position: center center;
    filter: drop-shadow(1px 1px 10px #000);
    pointer-events: none;
    transform: translateY(10px);
}

.footer_container {
    box-sizing: border-box;
    background: #0003;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: -1px 1px 4px -1px #fff5, 0px 0px 10px #000a inset;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 2px 6px;
}

.campaign_levels {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
}

.levels {
    width: 28%;
    max-width: 450px;
}

.campaign_levels_title {
    margin-top: 5px;
    color: #bbb;
    font-size: 13px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-align: center;
}

.campaign_level[tooltip] {
    cursor: help;
}

.campaign_level_progress {
    width: 0;
    height: 100%;
    transition: width 2.5s ease;
    background: var(--cyoa-orange);
    pointer-events: none;
}

.campaign_level {
    width: 100%;
    height: 24px;
    background: #212121;
    box-shadow: 0px 0px 10px #000a inset;
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    padding: 3px;
}

.campaign_level_label {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    line-height: 25px;
    top: 0;
    left: 0;
    color: #ddd;
    font-family: "TF2 Secondary", sans-serif;
}

.content_wrapper_header {
    width: 100%;
    background: linear-gradient(180deg, #453c33, #33302b);
    box-shadow: 1px -1px 6px #0009 inset, -1px 1px 3px #fff6 inset, 0px 5px 10px #000a;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 1em;
}

.content_wrapper_header:first-child {
    margin-left: 0;
}

.toolbar {
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    max-width: 320px;
    padding-top: 0;
    overflow-y: hidden !important;
}

.toolbar_tour {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform .2s ease;
}

.toolbar_tour:not(.select):hover {
    transform: scale(0.99);
}

.toolbar_tour img {
    width: 100%;
}

.toolbar_segment {
    width: 100%;
}

.toolbar_tour:not(.select) {
    transform: scale(0.98);
}

.toolbar_tour:not(.select)::after {
    content: "";
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    position: absolute;
    background: black;
    opacity: .6;
}

.toolbar_quests img {
    border-radius: 10px;
    width: 100%;
}

.toolbar_event_logo {
    width: 90%;
}

.content_wrapper {
    height: 100%;
    display: flex;
    margin: 0 1em;
    position: relative;
    padding-top: 1em;
    box-sizing: border-box;
}

.quest_search_remove {
    width: 28px;
    margin: 0 0 0 7px;
    text-align: center;
    font-family: "TF2 Build", sans-serif;
    height: 28px;
    border-radius: 1em;
    cursor: pointer;
    background: #272727;
    color: #CCC;
    border: 0;
    font-size: 16px;
}

.quest_search_remove:hover {
    background: #323232;
}

.checkbox_field {
    width: 100%;
    margin: 8px 0 0;
}

.checkbox {
    width: auto;
    margin: 0 auto;
    display: block;
}

.checklabel {
    color: #adabab;
    font-family: "TF2 Build", sans-serif;
}

.mechachievement {
    width: 100%;
    background: #25211e;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    padding: 8px;
}

.mission {
    width: 100%;
    background: #25211e;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    z-index: 0;
}

.fade-mission {
    background: linear-gradient(90deg, #0000 0%, #25211E 68%);
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: -1;
}

.init .mechachievement, .init .mission {
    transition: top .2s ease, opacity .2s ease;
}

.init .reward {
    transition: height .2s ease;
}

.mechachievement_info {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.mechachievement_icon {
    width: 70px;
    margin-right: 8px;
}

.mechachievement_icon img {
    width: 100%;
    border-radius: 10px;
}

.mission .mechachievement_icon img {
    cursor: help;
}

.quests_container {
    padding-right: 10px;
    position: relative;
    height: 100%;
}

.mechachievement_name {
    font-family: "TF2 Build", sans-serif;
    color: #CCC;
    margin: 0 0 3px;
    font-size: 16px;
}

.mechachievement_objective {
    color: #CCC;
    font-size: 14px;
}

.mechachievement_objective span.highlight {
    color: var(--cyoa-orange);
}

.mechachievement_objective.completed {
    color: var(--cyoa-orange);
    font-weight: bold;
}

.mission-name {
    font-family: "TF2 Build", sans-serif;
    color: #CCC;
    padding: 0 0 5px 3px;
    font-size: 16px;
}

.mission-info {
    padding: 10px;
}

.mission-completed {
    color: var(--cyoa-orange);
    margin-left: 5px;
}

.indicators-box {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.mechachievement-info {
    box-sizing: border-box;
    padding: 0 20px 8px 8px;
}

.mechachievement_stars {
    color: var(--cyoa-orange);
    cursor: help;
}

.wrapper_header_title {
    color: #AAA;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 90%;
}

.tour_container {
    height: 100%;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity .2s ease;
}

.tour_container.visible {
    height: 100%;
    display: flex;
    opacity: 1;
}

.mission .mechachievement_icon {
    width: 123px;
    height: 80px;
    margin-right: 0;
}

.mission .mechachievement_icon img {
    border-radius: 5px;
}

.mission_queue {
    padding-right: 5px;
}

.mission_queue .tf-button {
    box-shadow: inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
}

.mission_queue .tf-button:hover {
    box-shadow: 1px 1px 3px #0006, inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
}

.mechachievement_pinbtn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 10px;
    right: 10px;
    opacity: 0;
    font-size: 24px;
    color: #CCC;
    cursor: pointer;
}

.mechachievement.pinned .mechachievement_pinbtn, .mechachievement_pinbtn:hover {
    opacity: 1 !important;
}

.mechachievement.pinned .mechachievement_pinbtn {
    color: var(--cyoa-orange) !important;
}

.mechachievement:hover .mechachievement_pinbtn {
    opacity: .3;
}

.mechachievement_pinbtn::after {
    content: "\F0931";
    font-family: "Material Design Icons";
    pointer-events: none;
}

.mechachievement.pinned .mechachievement_pinbtn::after {
    content: "\F0403";
}

/* Default Wave Indicator */

.wave_indicator {
    width: 10%;
    background: #1b1918;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
    cursor: help;
    border: 2px solid #2b2723;
    box-sizing: border-box;
}

.wave_indicator::after {
    content: "\F0130";
    color: #2b2723;
    font-size: 24px;
    font-family: "Material Design Icons";
    line-height: 26px;
}

/* Endurence Wave Indicator */

.wave_indicator.endurance::after {
    color: #5d251d;
}

.wave_indicator.endurance {
    background: #251311;
    border-color: #5d251d;
}

/* Completed Wave Indicator */

.wave_indicator.completed {
    background: var(--cyoa-orange);
    border-color: #2a2a2a;
}

.wave_indicator.completed::after {
    content: "\F0133";
    color: #2a2a2a;
}

.sign_contract {
    width: 800px;
    height: 1000px;
    background: url(/cdn/assets/images/tf_campaign/directive/contract.png);
    background-size: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    animation-fill-mode: both;
    animation-duration: 0.6s;
    transform-origin: center;
    text-align: justify;
    top: -100%;
    z-index: 0;
    cursor: pointer;
}

@keyframes sign_contract_handout {
    0% {
        transform: rotate(10deg);
        top: -100%;
    }
    100% {
        left: 0;
        transform: rotate(0);
        top: 0;
    }
}

@keyframes sign_contract_turnin {
    0% {
        top: 0px;
    }
    10% {
        top: 40px;
    }
    100% {
        top: -200%;
    }
}

.sign_contract_btn {
    width: 220px;
    height: 100px;
    position: absolute;
    top: 660px;
    left: 430px;
    line-height: 100px;
    text-align: center;
    color: #888;
    opacity: .4;
    font-size: 24px;
    font-family: "Big Noodle Titling", sans-serif;
    animation-name: sign_contract_btn_shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes sign_contract_btn_shine {
    0% {
        color: #aaa;
    }
    50% {
        color: #888;
    }
    100% {
        color: #aaa;
    }
}

.sign_contract_stamp {
    bottom: 270px;
    width: 220px;
    left: 430px;
    position: absolute;
    text-align: center;
    color: #853030;
    font-family: "Neucha", sans-serif;
    font-size: 26px;
    transform-origin: center bottom;
    transform: rotate(1deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 2.5s ease;
}

.sign_contract_turnin {
    background: var(--cyoa-darkgreen);
    color: #fff;
    width: 600px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 400px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .1s ease, transform .1s ease;
    pointer-events: none;
}

.sign_contract_turnin.activated {
    opacity: 0.9;
    transform: translateY(0);
    pointer-events: all;
}

.sign_contract_turnin.activated:hover {
    opacity: 1;
}

.progress_element {
    width: 100%;
    padding: 0;
    height: 100%;
    flex-shrink: 1;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.campaign_rewards {
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
    height: 150px;
}

.progress_element_background {
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    box-shadow: 0px 0px 10px #000a inset;
    padding: 0 18px;
    box-sizing: border-box;
    font-family: "Big Noodle Titling", sans-serif;
    color: #EEE;
    text-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress_element_background .item_name {
    font-size: 18px;
}

.progress_element_background .item_style {
    font-size: 26px;
}

.progress_element_background .item {
    position: absolute;
    right: 18px;
}

/* .progress_element_progress {
    flex-shrink: 0;
} */

.toolbar_segment_progress_bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 18px;
    box-sizing: border-box;
    padding: 0 18px 0 18px;
}

.toolbar_segment_progress_bar .quest-preview-progress {
    box-shadow: 0px 0px 10px #000c;
}

.quests_wrapper {
    background: #111;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #000a;
    transition: right .3s ease;
    width: 450px;
    padding: 1em 0.5em 0;
    margin-left: 0;
}

.quests_drawer_button {
    margin-right: 10px;
    padding: 0px 10px;
    color: #CCC;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 5px;
    display: none;
}

.fade_on_quests_drawer {
    position: relative;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}

.quests_drawer_button_arrow {
    text-align: center;
    font-family: 'TF2 Build', sans-serif;
}

#btn_compact_quests {
    display: none;
}

/* COMPACT MODE */

.compact_mode .quests_wrapper {
    position: absolute;
    right: -650px;
    z-index: 3;
    width: 690px;
}

.compact_mode .quests_wrapper.opened {
    right: 0;
    margin: 0;
}

.compact_mode .quests_drawer_button {
    display: flex;
}

.compact_mode .tours_wrapper {
    margin-right: 60px;
}

.compact_mode #btn_compact_quests {
    display: inline-block;
}

.compact_mode .fade_on_quests_drawer.fade {
    opacity: .5;
    pointer-events: all;
}

@media only screen and (max-width: 1400px) {
    .quests_wrapper {
        position: absolute;
        right: -650px;
        z-index: 3;
        width: 690px;
    }
    .quests_drawer_button {
        display: flex;
    }
    .tours_wrapper {
        margin-right: 70px;
    }
    .fade_on_quests_drawer.fade {
        opacity: .5;
        pointer-events: all;
    }
    #btn_compact_switch {
        display: none;
    }
    #btn_compact_quests {
        display: inline-block;
    }
    .quests_wrapper.opened {
        right: 0;
    }
    .toolbar {
        overflow-y: scroll !important;
    }
}

.mechachievement_indicator {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    cursor: help;
}

.mechachievement_missions {
    text-align: center;
    margin: 5px 0;
}

.quest.inactive .mechachievement_name {
    color: var(--cyoa-orange);
}

.header_title_tip {
    margin: 0 0 5px 5px;
    height: 20px;
    width: 20px;
    border-radius: 1em;
    padding: 1px;
    background: #222;
    text-align: center;
    line-height: 20px;
    color: #CCC;
    font-family: "TF2 Build", sans-serif;
    cursor: pointer;
}

.header_title_tip:hover {
    background: #333;
}

.quests_wrapper .checkbox_field img {
    width: 20px;
}

.quests_wrapper .ul-dropdown {
    font-size: 14px;
}

.quests_wrapper .ul-dropdown a {
    font-family: "TF2 Build", sans-serif;
    color: #aaa;
}

.reward_toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: -50px;
    z-index: 4;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: #CCC;
    font-family: "TF2 Build", sans-serif;
    writing-mode: vertical-rl;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}

.reward .fixed_container {
    position: relative;
}

.reward.closed {
    height: 55px;
}

.reward.closed .campaign_levels_title, .reward.closed .progress_element_background, .reward.closed .fade_on_rewards {
    display: none;
}

.content_wrapper_header .campaign_level, .content_wrapper_header .campaign_levels_title {
    text-align: left;
    margin-top: 0;
}

/* Another one. */
.ul-dropdown-child {
    padding: 10px;
}