body, input {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.progress {
    min-height: 145px;
    padding: 5px 0 0 0;
}

.progress_wrapper {
    box-sizing: border-box;
    background: #0003;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    position: relative;
    box-shadow: -1px 1px 4px -1px #fff5;
    margin: 8px 0;
}

.progress_label * {
    pointer-events: none;
}

.progress_wrapper::after {
    position: absolute;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px 5px #000b inset;
    border-radius: 20px 0 0 20px;
    z-index: 9;
}

.reward {
    background-image: url(/images/tf_campaign/halloween/reward.png);
    background-size: 2000px auto;
    background-position: center top;
    box-sizing: border-box;
    padding-top: 45px;
}

.topbar {
    background-image: url(/images/tf_campaign/halloween/topbar.png);
    background-size: cover;
    background-position: center top;
}

.fullscreen {
    background-image: url(/images/tf_campaign/halloween/creators_tf_halloween_table.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.drawer {
    background-color: #000a;
    overflow: hidden;
}

.tf-button {
    background: url(/images/tf_campaign/halloween/misc.png);
    background-size: cover;
    background-position: center center;
    box-shadow: 4px 4px 6px #000a, inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
}

.tf-button:hover {
    background: url(/images/tf_campaign/halloween/misc.png);
    background-size: cover;
    background-position: center center;
    filter: brightness(105%);
    box-shadow: 5px 5px 6px #000a, inset 1px 1px 5px #ccc5, inset -1px -1px 5px #000c;
    transform: translate(-1px, -1px);
}

.tf-button:active {
    filter: brightness(80%);
    box-shadow: 2px 2px 6px #000a, inset 2px 1px 5px #ccc5, inset -1px -1px 5px #000c;
    transform: translate(2px, 2px);
}

.quests {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    overflow-y: scroll;
    padding-top: .5em;
}

.merasmission_folded {
    position: absolute;
    width: 100%;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    transition: top .3s ease, transform .3s ease, filter .3s ease;
    margin-left: 0;
}

.merasmission_folded:hover .merasmission_folded_highlight {
    opacity: 1;
}

.merasmission_folded_highlight {
    transition: opacity .1s ease;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 150px;
    top: -25px;
    background-image: url(/images/tf_campaign/halloween/quests/contracts_hilight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
}

.merasmission_folded.active {
    transform: scale(0.95);
    filter: brightness(60%);
}

.merasmission_folded_scroll {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(/images/tf_campaign/halloween/quests/contracts_folded.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
}

.merasmission_folded.turnin .merasmission_folded_scroll {
    background-image: url(/images/tf_campaign/halloween/quests/contracts_folded_spell.png);
}

.merasmission_folded.turnin .merasmission_folded_highlight {
    background-image: url(/images/tf_campaign/halloween/quests/contracts_hilight_green.png);
}

.merasmission_folded.started .merasmission_sleeve {
    display: none;
}

.merasmission_folded.turnin .merasmission_sleeve::after {
    background-image: url(/images/tf_campaign/halloween/quests/sticky_turn_in.png);
}

.merasmission_folded.inactive .merasmission_folded_scroll {
    background-image: url(/images/tf_campaign/halloween/quests/contracts_folded_inactive.png);
}

.quest-preview-progress-line {
    transition: width .5s ease, left .5s ease;
}

.quest-preview-progress-line.unsaved {
    background: #6b5a42;
}

.merasmission_folded.inactive .merasmission_sleeve::after {
    background-image: url(/images/tf_campaign/halloween/quests/sticky_inactive.png);
}

.merasmission_folded_icon {
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 120px;
    z-index: 9;
    opacity: .8;
}

.merasmission_folded_selected {
    width: 100%;
    height: 100%;
    background: url(/images/tf_campaign/halloween/quests/contracts_folded_selected.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s ease;
}

.merasmission_title {
    font-family: "TF2 Secondary", sans-serif;
    height: 100px;
    line-height: 100px;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 100px;
    position: absolute;
    width: 100%;
}

.merasmission_sleeve {
    top: 18px;
    left: 50px;
    width: 72px;
    height: 72px;
    position: absolute;
    background: url(/images/tf_campaign/halloween/quests/contracts_scroll_sleeve.png);
    background-size: 100%;
    z-index: 3;
}

.merasmission_sleeve::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    top: 3px;
    left: -10px;
    background-image: url(/images/tf_campaign/halloween/quests/sticky.png);
    background-position: center;
    background-size: 100%;
}

.merasmission {
    width: 600px;
    min-height: 110px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(/images/tf_campaign/halloween/quests/contracts_papers_ghost.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: opacity 1s ease;
    animation-name: merasmission_deploy;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes merasmission_deploy {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes merasmission_unfold {
    from {
        height: 0;
    }
    to {
        height: 580px;
    }
}

@keyframes merasmission_fold {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(-100px) scale(0.95);
    }
}

.merasmission::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: -70px;
    background-image: url(/images/tf_campaign/halloween/quests/contracts_folder1_front.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    z-index: 20;
}

.preview {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.merasmission_content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 305px;
    padding-top: 100px;
    padding-right: 70px;
    color: #35291d;
    font-family: "TF2 Secondary", sans-serif;
    transition: color 2s ease;
}

.merasmission_content p {
    margin: 0.6em 0;
}

.merasmission_content p.objective {
    font-size: 15px;
}

.merasmission_content hr {
    border: 1px solid #35291d;
}

.merasmission.loaded .merasmission_wrapper {
    animation: merasmission_unfold .5s;
    animation-fill-mode: both;
}

.merasmission.stamped {
    animation: merasmission_stamped .2s;
}

.merasmission.folding {
    animation: merasmission_fold .2s;
    animation-fill-mode: both;
    pointer-events: none;
}

.quest-preview-progress-text {
    font-family: "TF2 Secondary", sans-serif;
    line-height: 20px;
    font-size: 16px;
}

.quest-preview-progress {
    height: 20px;
    background-color: #917b61;
}

.quest-preview-progress-line {
    height: 20px;
    background-color: #504534;
}

.merasmission_wrapper {
    position: relative;
    overflow: hidden;
}

.merasmission_turnin:not(:hover) {
    filter: brightness(90%);
}

.merasmission_turnin {
    display: none;
    cursor: pointer;
    height: 60px;
    background: #262018;
    text-align: center;
    width: 540px;
    margin: 0 auto;
    top: 260px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.merasmission_turnin_progress {
    width: 100%;
    height: 100%;
    background: var(--cyoa-darkgreen);
    position: absolute;
    z-index: 11;
    transition: width 5s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.merasmission_turnin_text {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12;
    font-family: "TF2 Secondary", sans-serif;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
}

.merasmission.turnin .merasmission_content {
    color: #fff;
}

.merasmission.turnin .merasmission_turnin_progress {
    width: 0%;
}

.merasmission_stamp {
    pointer-events: none;
    width: 260px;
    height: 260px;
    position: absolute;
    z-index: 10;
    left: 290px;
    right: 0;
    top: 260px;
    background: url(/images/tf_campaign/halloween/quests/accepted.png);
    background-size: 100% 100%;
    display: none;
}

.merasmission.stamped .merasmission_stamp {
    animation: merasmission_stamp_stamped .2s;
    animation-fill-mode: both;
    display: block;
}

@keyframes merasmission_stamped {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
}

@keyframes merasmission_stamp_stamped {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.progress_element .item {
    width: 58px;
    height: 58px;
    box-shadow: 0px 0px 4px #000a;
}

.progress_element {
    padding: 0 4px;
    width: 64px;
    flex-shrink: 0;
    height: 116px;
}

.progress_label {
    background: url(/images/tf_campaign/halloween/tombstone_inactive.png);
    background-size: 100%;
    background-position: center center;
    color: #060606;
    width: 42px;
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    filter: drop-shadow(0px 0px 2px #0006);
    line-height: 42px;
    font-size: 15px;
    cursor: pointer;
    top: 65px;
}

.progress_element.completed .item {
    box-shadow: 0px 0px 10px var(--cyoa-darkgreen) inset, 0px 0px 10px var(--cyoa-darkgreen);
}

.progress_element.completed .item::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(/images/tf_campaign/halloween/item_element_claimed.png);
    background-size: 100%;
    top: -5px;
    left: -5px;
}

.progress_element.completed .progress_label:not(.has_custom_image) {
    background-image: url(/images/tf_campaign/halloween/tombstone_active.png);
    color: #fff;
    animation: progress_label_glow 2s infinite linear;
}

.progress_label.webm {
    background-image: none !important;
}

.progress_label.webm video {
    width: 100%;
    height: 100%;
}

.quest_loading_overlay.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .55;
    z-index: 10;
}

.campaign_item_wrapper {
    width: 150px;
    height: 100%;
    padding-left: 10px;
}

.campaign_item {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.campaign_item_image {
    width: 100%;
    height: 100%;
    background-size: 140%;
    background-position: center center;
    filter: drop-shadow(1px 1px 10px #000);
    pointer-events: none;
    transform: translateY(10px);
}

.footer_container {
    box-sizing: border-box;
    background: #0003;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: -1px 1px 4px -1px #fff5, 0px 0px 10px #000a inset;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 2px 6px;
}

.levels {
    width: 30%;
    max-width: 450px;
}

.campaign_levels {
    padding-top: 4px;
    box-sizing: border-box;
    padding-right: 20px;
    width: 100%;
}

.campaign_levels_title {
    margin-top: 5px;
    color: #bbb;
    font-size: 13px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

.campaign_level[tooltip] {
    cursor: help;
}

.campaign_level_progress {
    width: 0;
    height: 100%;
    transition: width 2.5s ease;
    background: var(--cyoa-darkgreen);
    pointer-events: none;
}

.campaign_level {
    width: 100%;
    height: 24px;
    background: #212121;
    box-shadow: 0px 0px 10px #000a inset;
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    padding: 3px;
}

.campaign_level_label {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    line-height: 24px;
    top: 0;
    left: 0;
    color: #ddd;
    font-family: "TF2 Secondary", sans-serif;
}

.merasmission_buttons {
    width: 240px;
    height: 40px;
    padding: 110px 0 0 50px;
    position: absolute;
}

.merasmission_activate {
    width: 100%;
    height: 30px;
    background: var(--cyoa-darkgreen);
    color: #fff;
    font-size: 18px;
    font-family: "TF2 Secondary", sans-serif;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.merasmission_activate:hover {
    filter: brightness(95%);
}

.quests_search {
    width: 100%;
    height: 90px;
    background: url(/images/tf_campaign/halloween/misc.png);
    border-radius: 5px;
    box-shadow: 1px -1px 6px #0009 inset, -1px 1px 3px #fff6 inset, 0px 5px 10px #000a;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 14px 10px;
    flex: 1 0 90px;
}

.quests_wrapper {
    box-sizing: border-box;
    padding-top: .5em;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quest_search_remove {
    width: 27px;
    margin: 5px 0 5px 7px;
    text-align: center;
    line-height: 26px;
    font-family: "TF2 Build", sans-serif;
    height: 27px;
    border-radius: 14px;
    cursor: pointer;
    background: #272727;
    color: #777;
}

.quest_search_remove:hover {
    background: #323232;
}

.checkbox_field {
    width: 100%;
    padding: 8px 0 0;
}

.checkbox {
    width: auto;
    margin: 0 auto;
    display: block;
}

.checklabel {
    color: #adabab;
}