---
import Layout from "../layouts/Default.astro";
---

<Layout pageTitle="Asset Pack — Creators.TF Archives">
	<div class="mount">
		<div class="post-content">
			<div class="flex text-center asset-pack-download-container">
				<div class="container infobox flex-vertical">
					<div class="panel-title white">
						MANDATORY CREATORS.TF ASSET PACK
					</div>
					<div
						class="vcontainer p-10 boxsizing_borderbox flex-col-1 flex-vertical"
					>
						<div class="m-b-10 flex-col-1">
							<p class="m-t-0">
								<b
									>Contains a minimal amount of assets for
									Creators.TF servers.</b
								>
							</p>

							This is required to be installed to see custom
							weapons without errors, which cannot be disabled.
							This pack comes with the weapons from the September
							1st update.
						</div>
						<div class="">
							<a href="" target="_blank">
								<div class="tf-button">
									<i class="mdi mdi-download"></i> Download
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="container infobox flex-vertical">
					<div class="panel-title white">
						Full Creators.TF Asset Pack
					</div>
					<div
						class="vcontainer p-10 boxsizing_borderbox flex-col-1 flex-vertical"
					>
						<div class="m-b-10 flex-col-1">
							<p class="m-t-0">
								<b
									>Contains all the assets that are used on
									Creators.TF servers such as cosmetics and
									music kits.</b
								>
							</p>
							This pack is not required to play on our servers. This
							includes the mandatory assets and content from the September
							1st update. You will need to turn on cosmetics ON using
							the /ctfhats command in-game.
						</div>
						<div class="">
							<a href="" target="_blank">
								<div class="tf-button">
									<i class="mdi mdi-download"></i> Download
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="container infobox flex-vertical">
					<div class="panel-title white">
						Sept 1st Update ONLY Asset Pack
					</div>
					<div
						class="vcontainer p-10 boxsizing_borderbox flex-col-1 flex-vertical"
					>
						<div class="m-b-10 flex-col-1">
							<p class="m-t-0">
								<b
									>Contains only the assets for the September
									1st update for Creators.TF servers.</b>
							</p>
							This pack does NOT include any other assets, including
							mandatory ones. Only download this pack if you've played
							Digital Directive. You will need to turn on cosmetics
							ON using the /ctfhats command in-game.
						</div>
						<div class="">
							<a
								href=""
								target="_blank"
							>
								<div class="tf-button">
									<i class="mdi mdi-download"></i> Download
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<article class="ap-swc">
				<h2 style="margin-bottom: 1rem; margin-top: 2rem;">
					Steam Workshop Collection
				</h2>
				<div class="flex flex-responsive">
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2052736629"
						target="_blank"
					>
						<img
							class="m-r-10 image-responsive"
							src="/images/steamworkshoplogo.png"
						/>
					</a>
					<p>
						Creators.TF utilizes the Steam Workshop to host the
						community-made maps in our rotation. This allows
						content-creators to update their maps and see their
						changes on our servers quickly and for players to have a
						smaller asset pack size without the bulk from map files.
						<br />
						<a
							href="https://steamcommunity.com/sharedfiles/filedetails/?id=2710211423"
							target="_blank"
						>
							Subscribe to the official workshop collection here.
						</a>
					</p>
				</div>
			</article>
			<article>
				<h2 style="margin-bottom: 1rem; margin-top: 2rem; ">
					How to install
				</h2>
				<div class="flex flex-responsive">
					<!--<iframe style="flex:1;" width="580" height="200"src="https://www.youtube.com/embed/tF0KZIqpv8E"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
					</iframe>-->
					<video
						style="flex:1;"
						width="580"
						height="200"
						src="/videos/asset-pack.mp4"
						title="made by mt"
						controls
					>
					</video>
					<div style="flex:1;margin-left: 1rem;flex-basis: 60%;">
						<p style="margin-top: 0;">
							If you encounter any issues during the installation
							of the assets, you can watch the tutorial video to
							verify your steps or join our <a
								href=""
								target="_blank">Discord server</a
							>
							and ask for help.
						</p>
						<ol>
							<li>Download one of the asset packs.</li>
							<li>Extract it to a folder on your desktop.</li>
							<li>
								Keep the extracted files open in a new window.
							</li>
							<li>
								You must now access the “tf” folder.
								<ul>
									<li>
										Right click on Team Fortress 2 in your
										library.
									</li>
								</ul>
								<ul>
									<li>Click on "Manage".</li>
								</ul>
								<ul>
									<li>Click on "Browse local files".</li>
								</ul>
								<ul>
									<li>
										Open the “download” folder inside "tf".
									</li>
								</ul>
							</li>
							<li>
								With both windows open, copy everything from the
								extracted files into the “download” folder.
							</li>
							<li>
								Overwrite any files, if needed, so you always
								have the most recent assets.
							</li>
						</ol>
					</div>
				</div>
			</article>
			<hr />
			<article style="margin: 10px 0">
				<h2 style="margin-bottom: 1rem; margin-top: 2rem;">
					Frequently Asked Questions
				</h2>
				<h4 style="margin-bottom: 5px;">
					Q: What happens if I don't download an asset pack?
				</h4>
				<p style="margin-top: 5px;">
					A: Depending on your game settings, upon joining one of our
					servers, you will probably download the map that the server
					is currently on and nothing else. This will make you see the
					classic big "ERROR" signs because of the missing models.
				</p>
				<h4 style="margin-bottom: 5px;">
					Q: Ok, but how do I avoid those errors?
				</h4>
				<p style="margin-top: 5px;">
					A: You can type <b>/ctfhats</b> in the game chat to disable the
					rendering of custom content from your side.
				</p>
				<h4 style="margin-bottom: 5px;">
					Q: Cool, but what about contracts/quests?
				</h4>
				<p style="margin-top: 5px;">
					A: You can normally activate, play and complete contracts by
					going to the
					<a href="" target="_blank">Community Contracker</a> and earn
					Mann Coins which can be used in the store for rewards such as
					cosmetics and custom weapons!
				</p>
				<h4 style="margin-bottom: 5px;">
					Q: Is there a way to do this whole thing automatically?
				</h4>
				<p style="margin-top: 5px;">
					A: Yes! The <a href="/landing/launcher" target="_blank"
						>Creators.TF Community Launcher</a
					>
					can be used to automatically download and install all the assets
					required for you to play as well as other custom mods such as
					the Ultimate Visual Fix Pack or The GMan Announcer Pack, and
					all of that with the click of a button!
				</p>
			</article>
		</div>
	</div>
</Layout>
