---
import Layout from "../layouts/Default.astro";
---

<Layout pageTitle="Donate — Creators.TF Archives">
	<div class="mount">
		<h2>Support Creators.TF</h2>
		<div class="post-content">
			<div class="donation-progress-bar vcontainer">
				<div
					class="container donation-progress-bar-inner"
					style=""
				>
				</div>
				<div class="donation-progress-bar-pc donation-progress-text">
					100%
				</div>
				<div
					class="donation-progress-bar-gathered donation-progress-text"
				>
					&#36;1
				</div>
				<div
					class="donation-progress-bar-monthly donation-progress-text"
				>
					&#36;1
				</div>
			</div>
			<br />
			<div class="flex error patreon-promote">
				<i
					class="mdi mdi-patreon error_image mdi-48px"
					style="transform: scale(1.7);"></i>
				<div class="error_summary">
					<h2>Support us on Patreon and get rewards.</h2>
					<p>
						We want to keep all of our content 100% free for every
						player, but servers are expensive. That's why we ask you
						to help us with server rental costs! You can become a
						patron and get exclusive bonuses, as well as leave your
						mark on our hall of fame. Visit our <a
							href=""
							target="_blank">Patreon</a
						>
						and become our sponsor to help us keep developing the project.
					</p>
				</div>
			</div>
		</div>
		<div class="post-content">
			If you can't see your donation here - you need to manually connect
			your Patreon account.
			<br />
			<div class="showcase">
				<div class="showcase_title">
					<i class="mdi mdi-patreon"></i> Patreon Profile
				</div>
				<div
					class="showcase_profile embed"
					style="background-image: linear-gradient(90deg, #f86754, #c23927);"
				>
					<div class="whitelink center" style="padding: 20px;">
						<div class="avatar patreonicon center">
							<i
								class="mdi mdi-patreon mdi-48px center"
								style="transform: scale(1.25);color: #FFF;margin-right: 20px;"
							></i>
						</div>
						<div class="post-content">
							<h2>Patreon Connection</h2>
							<span
								><a href="" style="
									text-decoration:
									underline;\"
									>Support us on Patreon</a
								> and connect your account to get different perks
								and leave your mark on the hall of fame.
							</span>
						</div>
						<a
							class="showcase_join patreon-connectbutton"
							href="">Connect</a
						>
					</div>
				</div>
			</div>
			<br />
		</div>
		<h2>Hall of Fame</h2>
		<div class="post-content">
			<p>
				<b>Notes</b>: This section is not updated instantly. It may take
				up to 24 hours for your donation to be displayed here.<br /> You
				need to have your Patreon account connected to Creators.TF in order
				for us to indentify you and to display you on this list.
			</p>
			<div id="mount_halloffame" class="haf-container"></div>
		</div>
	</div>
</Layout>
