---
import Layout from "../layouts/Default.astro";
---

<Layout pageTitle="Home — Creators.TF Archives">
	<div class="mount">
		<h1 style="display: inline">Farewell</h1>
		<p>Sample text</p>
		<div class="post-content">
			<div class="showcase">
				<div class="showcase_title">
					<a class="anchor" href="/#history" id="history"
						><i class="mdi mdi-link"></i></a
					>History
				</div>
				<div class="flex" style="flex-wrap: wrap">
					<div class="flex">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Morbi dictum ligula et nunc molestie, sit amet rhoncus
						quam lobortis. Nulla iaculis vulputate convallis. Duis
						pellentesque neque nec varius hendrerit. Integer rhoncus
						id lacus in accumsan. Nullam nisi dui, accumsan eu
						aliquet ultrices, placerat vitae leo. Etiam sed placerat
						libero, non vestibulum ipsum. Praesent ut odio a nisl
						fermentum mollis. Cras justo mi, convallis ut lectus
						vestibulum, efficitur elementum metus. Quisque posuere
						non elit eu pulvinar. Curabitur sapien libero, mollis
						sit amet nisl sit amet, malesuada maximus erat. Ut sed
						massa vitae tortor consectetur tincidunt vitae efficitur
						nulla. Quisque bibendum interdum nulla, id mollis mauris
						faucibus in. Mauris at tellus nec ante scelerisque
						iaculis varius id nisl. In consectetur fringilla
						bibendum. Cras et lectus non diam dictum laoreet. Ut
						interdum velit sit amet risus fringilla, pulvinar
						lobortis augue maximus. Nulla a luctus nibh. Donec
						tellus elit, porttitor imperdiet turpis ut, rhoncus
						suscipit libero. Nullam scelerisque erat ut ultricies
						consectetur. Cras pretium erat nec porttitor volutpat.
						Sed cursus mi lorem, vel cursus risus auctor nec. Mauris
						ipsum elit, varius eu malesuada ac, rutrum a tortor.
						Etiam cursus euismod lacus, non euismod augue fermentum
						pharetra. Nam iaculis tincidunt ante, sit amet accumsan
						sapien varius vitae. Mauris nec sodales dolor. Duis
						dapibus arcu vel ante rhoncus aliquam. Quisque congue eu
						justo nec pulvinar. Mauris viverra, metus nec auctor
						tempor, quam ipsum ultrices est, sit amet rutrum eros
						tortor eu diam. Vestibulum venenatis nulla quis mauris
						efficitur, at sagittis quam tincidunt. Etiam ornare
						dolor ut orci cursus dictum. Aenean eleifend, nisi eu
						vulputate cursus, augue risus porttitor mi, a laoreet
						libero nulla sed dolor. Fusce scelerisque posuere
						egestas. Morbi sagittis nulla ligula, in rhoncus lorem
						vestibulum vel. Ut vehicula ex vel est viverra varius
						vitae quis dolor. Duis convallis nulla convallis
						efficitur euismod. Cras a suscipit dui. Mauris maximus
						placerat mattis. Suspendisse ultricies nisi a lectus
						finibus luctus. Nulla at orci in nibh maximus commodo.
						Aliquam varius semper odio, vel porttitor nisl bibendum
						sit amet. Praesent id elit maximus, imperdiet massa sed,
						suscipit erat. Etiam dignissim suscipit lectus sit amet
						feugiat. Nulla volutpat tincidunt purus, a hendrerit
						nisl molestie id. Quisque maximus, ex quis finibus
						pretium, elit turpis lobortis ipsum, ut gravida nisi dui
						a velit. Suspendisse porta, neque sed congue pulvinar,
						lorem tortor tristique turpis, semper viverra dolor nibh
						faucibus justo. Maecenas pulvinar neque vitae magna
						porttitor, vitae suscipit purus convallis. Duis et
						malesuada sem, sed commodo lectus. Sed eget vehicula
						diam, ac pretium lectus. Pellentesque habitant morbi
						tristique senectus et netus et malesuada fames ac turpis
						egestas. Maecenas congue dictum ornare. Integer at nulla
						a felis lacinia egestas. Ut mollis nunc lectus, ac
						tincidunt tortor faucibus sit amet. Vestibulum viverra
						erat ut urna volutpat, nec malesuada ex maximus. Proin
						elit turpis, vestibulum at diam at, imperdiet sagittis
						est. Donec facilisis magna id convallis tincidunt. Etiam
						sed erat nulla. Maecenas euismod ultricies nibh, vel
						rutrum enim suscipit sed. Aliquam fermentum, elit eget
						sodales feugiat, mauris libero maximus sem, sed
						imperdiet ante nibh in mauris. Donec mi sapien, maximus
						et est non, rhoncus blandit erat. Phasellus accumsan mi
						ac sem mollis, pulvinar imperdiet augue facilisis.
						Aliquam sollicitudin leo a ligula ultrices rhoncus.
						Praesent nibh odio, consectetur non ipsum a, porttitor
						scelerisque ligula. Aenean eleifend a odio id convallis.
						Ut et accumsan nisl, non ultricies velit. Integer et
						euismod arcu. In dolor leo, consectetur id elit mollis,
						fringilla pharetra ante. Praesent metus libero,
						tincidunt non rhoncus aliquam, eleifend vitae mi. Donec
						at dui in ex tempus tincidunt. Curabitur sagittis
						lobortis est, ac porttitor erat rutrum sit amet. Mauris
						metus metus, venenatis in blandit eu, semper ut nunc.
						Aliquam a magna sollicitudin, pellentesque neque eu,
						tincidunt quam.t
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
