---
import Layout from '../layouts/Default.astro';
---

<Layout pageTitle="Team — Creators.TF Archives">
	<div class="mount">
		<h1 style="display: inline">Meet the Past Team</h1>
		<p>
			The last composition of the Creators.TF team before it disolved,
			recorded on Mar 20, 2022<br />
			Please note that this might not be 100% accurate due to the issues Creators.TF
			had in its final months.
		</p>
		<div class="post-content">
			<div class="showcase">
				<div class="showcase_title">
					<a
						class="anchor"
						href="/team#project-leads"
						id="project-leads"><i class="mdi mdi-link"></i></a
					>Project Leads
				</div>
				<div class="flex" style="flex-wrap: wrap">
					<div
						class="showcase_profile embed flex role-project role-pr role-events sub-role-game-mod sub-role-discord-mod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/retr0.jpg"
										alt="Retr0"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#retr0"
										id="retr0"
										><i class="mdi mdi-link"></i></a
									>
									Retr0
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-pr"
										style="background:rgb(50, 205, 50)"
										>Public Relations Lead</span
									><span
										class="role-project"
										style="color:rgb(255, 203, 155)"
										>Leaders</span
									><span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-events"
										style="color:rgb(29, 172, 152)"
										>Events Team</span
									><span
										class="role-mod sub-role-game-mod"
										style="color:rgb(226, 117, 202)"
										>Game Moderator</span
									><span
										class="role-mod sub-role-discord-mod"
										style="color:rgb(226, 117, 202)"
										>Discord Moderator</span
									>
								</div>
								<span>
									<div>
										PR Management; Social Media Manager
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="mailto:retr0@creators.tf"
											><i
												style="color:;"
												class="mdi mdi-email peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/spaceretr0"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/Retr0-01"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-project role-sysadmin role-webdev sub-role-python role-sourcemod sub-role-anti-cheat role-content sub-role-qc role-weapon"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/sappho.jpg"
										alt="sappho"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#sappho"
										id="sappho"
										><i class="mdi mdi-link"></i></a
									>
									sappho
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-sysadmin"
										style="background:rgb(173, 20, 87)"
										>SysAdmin Lead</span
									><span
										class="role-project"
										style="color:rgb(255, 203, 155)"
										>Leaders</span
									><span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-webdev sub-role-python"
										style="color:rgb(233, 30, 99)"
										>Python Developer</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									><span
										class="role-sourcemod sub-role-anti-cheat"
										style="color:rgb(233, 30, 99)"
										>AntiCheat Developer</span
									><span
										class="role-content"
										style="color:rgb(50, 205, 50)"
										>Content</span
									><span
										class="role-content sub-role-qc"
										style="color:rgb(50, 205, 50)"
										>Quality Control Team</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									>
								</div>
								<span>
									<div>
										SysAdmin Lead;
										SourceMod + Anti-Cheat Lead Dev
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://sappho.io/"
											><i
												style="color:;"
												class="mdi mdi-web peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-project role-writer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/spookiest.jpg"
										alt="Spookiest"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#spookiest"
										id="spookiest"
										><i class="mdi mdi-link"></i></a
									>
									Spookiest
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-writer"
										style="background:rgb(52, 152, 219)"
										>Writer Lead</span
									><span
										class="role-project"
										style="color:rgb(255, 203, 155)"
										>Leaders</span
									>
								</div>
								<span>
									<div>
										Project Lead, Treasurer, Writing Lead
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.reddit.com/u/TheSpookiestUser"
											><i
												style="color:;"
												class="mdi mdi-reddit peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="showcase">
				<div class="showcase_title">
					<a class="anchor" href="/team#team" id="team"
						><i class="mdi mdi-link"></i></a
					>Team
				</div>
				<div class="flex" style="flex-wrap: wrap">
					<div
						class="showcase_profile embed flex role-webdev role-sourcemod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/caveman.jpg"
										alt="cavemanDv"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#cavemanDv"
										id="cavemanDv"
										><i class="mdi mdi-link"></i></a
									>
									cavemanDv
								</h2>
								<div class="role-row">
									<span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									>
								</div>
								<span>
									<div>Game + Web Developer</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/cavemandv_"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://instagram.com/cavemandv_/"
											><i
												style="color:;"
												class="mdi mdi-instagram peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitch.tv/cavemandv"
											><i
												style="color:;"
												class="mdi mdi-twitch peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-3d-artist sub-role-2d-artist sub-role-graphic-designer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/chickenman.jpg"
										alt="Chickenman"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#chickenman"
										id="chickenman"
										><i class="mdi mdi-link"></i></a
									>
									Chickenman
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									><span
										class="role-artist sub-role-2d-artist"
										style="color:rgb(31, 139, 76)"
										>2D-Artist</span
									><span
										class="role-artist sub-role-graphic-designer"
										style="color:rgb(31, 139, 76)"
										>Graphic Designer</span
									>
								</div>
								<span>
									<div>
										2D Artist; 3D artist; Graphic designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://instagram.com/chriscondeart?utm_medium=copy_link"
											><i
												style="color:;"
												class="mdi mdi-instagram peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-writer role-content"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/digivee.jpg"
										alt="Digivee"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#digivee"
										id="digivee"
										><i class="mdi mdi-link"></i></a
									>
									Digivee
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-content"
										style="background:rgb(50, 205, 50)"
										>Content Lead</span
									><span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									>
								</div>
								<span>
									<div>Content Lead; Writer</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-3d-artist"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/drdze.jpg"
										alt="Dr. Dze"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#dr-dze"
										id="dr-dze"
										><i class="mdi mdi-link"></i></a
									>
									Dr. Dze
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									>
								</div>
								<span>
									<div>SFM artist and animator</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div class="showcase_profile embed flex role-writer">
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/floatonfire.jpg"
										alt="floatonfire"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#floatonfire"
										id="floatonfire"
										><i class="mdi mdi-link"></i></a
									>
									floatonfire
								</h2>
								<div class="role-row">
									<span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									>
								</div>
								<span>
									<div>
										writer, misc. contributor, <em
											>guide to the cult</em
										>
									</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-3d-artist"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/glitch.jpg"
										alt="Glitch"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#glitch"
										id="glitch"
										><i class="mdi mdi-link"></i></a
									>
									Glitch
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									>
								</div>
								<span>
									<div>3D Artist</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div class="showcase_profile embed flex role-weapon">
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/higps.jpg"
										alt="HiGPS"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#higps"
										id="higps"
										><i class="mdi mdi-link"></i></a
									>
									HiGPS
								</h2>
								<div class="role-row">
									<span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									>
								</div>
								<span>
									<div>
										Founder of BalanceMod and Weapon
										Designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/Higps"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://balancemod.tf/"
											><i
												style="color:;"
												class="mdi mdi-web peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sysadmin role-sourcemod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/invader.jpg"
										alt="Invader"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#invader"
										id="invader"
										><i class="mdi mdi-link"></i></a
									>
									Invader
								</h2>
								<div class="role-row">
									<span
										class="role-sysadmin"
										style="color:rgb(173, 20, 87)"
										>SysAdmin</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									>
								</div>
								<span>
									<div>
										CI/CD Pipeline Maintainer and System
										Admin
									</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sourcemod role-weapon role-events role-mod sub-role-game-mod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/ivory.jpg"
										alt="Ivory"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#ivory"
										id="ivory"
										><i class="mdi mdi-link"></i></a
									>
									Ivory
								</h2>
								<div class="role-row">
									<span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									><span
										class="role-events"
										style="color:rgb(29, 172, 152)"
										>Events Team</span
									><span
										class="role-mod"
										style="color:rgb(226, 117, 202)"
										>Moderation</span
									><span
										class="role-mod sub-role-game-mod"
										style="color:rgb(226, 117, 202)"
										>Game Moderator</span
									>
								</div>
								<span>
									<div>
										SourceMod developer/Weapon designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/Ivory42"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-webdev sub-role-python role-sourcemod role-weapon"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/kaputon.jpg"
										alt="Kaputon"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#kaputon"
										id="kaputon"
										><i class="mdi mdi-link"></i></a
									>
									Kaputon
								</h2>
								<div class="role-row">
									<span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-webdev sub-role-python"
										style="color:rgb(233, 30, 99)"
										>Python Developer</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									>
								</div>
								<span>
									<div>
										SourceMod Developer; Python Developer;
										Weapon Designer; Game Designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/Kaputon"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.youtube.com/channel/UC0ake5-6QnFTZgboGwQwnsg"
											><i
												style="color:;"
												class="mdi mdi-youtube peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-writer role-hr role-mod sub-role-discord-mod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img src="/images/team/kat.jpg" alt="Kat" />
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a class="anchor" href="/team#kat" id="kat"
										><i class="mdi mdi-link"></i></a
									>
									Kat
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-hr"
										style="background:rgb(50, 205, 50)"
										>Human Resources Lead</span
									><span
										class="role-badge role-mod"
										style="background:rgb(226, 117, 202)"
										>Moderation Lead</span
									><span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									><span
										class="role-mod sub-role-discord-mod"
										style="color:rgb(226, 117, 202)"
										>Discord Moderator</span
									>
								</div>
								<span>
									<div>"..."</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div class="showcase_profile embed flex role-events">
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/kaya.jpg"
										alt="KAYA"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#kaya"
										id="kaya"
										><i class="mdi mdi-link"></i></a
									>
									KAYA
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-events"
										style="background:rgb(29, 172, 152)"
										>Events Team Lead</span
									>
								</div>
								<span>
									<div>Events Team Lead</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/KayaDLX"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.youtube.com/channel/UCbVIyxBRmWe_P5dhpdoGvkg"
											><i
												style="color:;"
												class="mdi mdi-youtube peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/KayaDLX"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-3d-artist sub-role-2d-artist sub-role-graphic-designer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/manndarinchik.jpg"
										alt="Manndarinchik"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#manndarinchik"
										id="manndarinchik"
										><i class="mdi mdi-link"></i></a
									>
									Manndarinchik
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-artist"
										style="background:rgb(31, 139, 76)"
										>Artist Lead</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									><span
										class="role-artist sub-role-2d-artist"
										style="color:rgb(31, 139, 76)"
										>2D-Artist</span
									><span
										class="role-artist sub-role-graphic-designer"
										style="color:rgb(31, 139, 76)"
										>Graphic Designer</span
									>
								</div>
								<span>
									<div>
										Artist Lead; 3D artist and graphical
										designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/ManndarinSFM"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-composer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/mrmodez.jpg"
										alt="MrModez"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#mrmodez"
										id="mrmodez"
										><i class="mdi mdi-link"></i></a
									>
									MrModez
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-composer"
										style="color:rgb(31, 139, 76)"
										>Composer</span
									>
								</div>
								<span>
									<div>Composer</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://youtube.com/mrmodez"
											><i
												style="color:;"
												class="mdi mdi-youtube peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/MrModez"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-2d-artist"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/anon.png"
										alt="Narklos"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#narklos"
										id="narklos"
										><i class="mdi mdi-link"></i></a
									>
									Narklos
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-2d-artist"
										style="color:rgb(31, 139, 76)"
										>2D-Artist</span
									>
								</div>
								<span>
									<div>2D Artist</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/narklos"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sysadmin role-webdev role-sourcemod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/omegadraconis.jpg"
										alt="omegadraconis"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#omegadraconis"
										id="omegadraconis"
										><i class="mdi mdi-link"></i></a
									>
									omegadraconis
								</h2>
								<div class="role-row">
									<span
										class="role-sysadmin"
										style="color:rgb(173, 20, 87)"
										>SysAdmin</span
									><span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									>
								</div>
								<span>
									<div>Network Admin and System Admin</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-mod sub-role-game-mod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/oreztov.jpg"
										alt="Oreztov"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#oreztov"
										id="oreztov"
										><i class="mdi mdi-link"></i></a
									>
									Oreztov
								</h2>
								<div class="role-row">
									<span
										class="role-mod"
										style="color:rgb(226, 117, 202)"
										>Moderation</span
									><span
										class="role-mod sub-role-game-mod"
										style="color:rgb(226, 117, 202)"
										>Game Moderator</span
									>
								</div>
								<span>
									<div>It's In The Game</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div class="showcase_profile embed flex role-sysadmin">
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/ostoja.jpg"
										alt="Ostojλ"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#ostoj%CE%BB"
										id="ostojλ"
										><i class="mdi mdi-link"></i></a
									>
									Ostojλ
								</h2>
								<div class="role-row">
									<span
										class="role-sysadmin"
										style="color:rgb(173, 20, 87)"
										>SysAdmin</span
									>
								</div>
								<span>
									<div>
										Pterodactyl Admin and System Maintainer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/OstojaOfficial"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/OfficialOstoja"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div class="showcase_profile embed flex role-events">
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/peter_cipher.jpg"
										alt="Peter Cipher"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#peter-cipher"
										id="peter-cipher"
										><i class="mdi mdi-link"></i></a
									>
									Peter Cipher
								</h2>
								<div class="role-row">
									<span
										class="role-events"
										style="color:rgb(29, 172, 152)"
										>Events Team</span
									>
								</div>
								<span>
									<div>Events Team organizer</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-composer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/polybrow.jpg"
										alt="Polybrow"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#polybrow"
										id="polybrow"
										><i class="mdi mdi-link"></i></a
									>
									Polybrow
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-composer"
										style="color:rgb(31, 139, 76)"
										>Composer</span
									>
								</div>
								<span>
									<div>Composer</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.twitch.tv/polybrow"
											><i
												style="color:;"
												class="mdi mdi-twitch peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/polybrow"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.youtube.com/channel/UCQPr2Hl7spU-mtV8AjnXvfQ"
											><i
												style="color:;"
												class="mdi mdi-youtube peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sourcemod role-weapon"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/quality.jpg"
										alt="Quaity"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#quality"
										id="quality"
										><i class="mdi mdi-link"></i></a
									>
									Quaity
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-weapon"
										style="background:rgb(50, 205, 50)"
										>Weapon Balance Lead</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									>
								</div>
								<span>
									<div>
										Obsessed with dispensers and backpacks
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/qualitykk"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-webdev sub-role-python role-sourcemod role-launcher"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/rob5300.jpg"
										alt="rob5300"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#rob5300"
										id="rob5300"
										><i class="mdi mdi-link"></i></a
									>
									rob5300
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-launcher"
										style="background:rgb(233, 30, 99)"
										>Launcher Developer Lead</span
									><span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-webdev sub-role-python"
										style="color:rgb(233, 30, 99)"
										>Python Developer</span
									><span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									>
								</div>
								<span>
									<div>
										C.TF Community Launcher Developer Lead
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/robb5300"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/CreatorsTF/Creators.TF-Community-Launcher"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-writer role-artist sub-role-3d-artist sub-role-graphic-designer role-mod sub-role-game-mod"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/headcrab.jpg"
										alt="Sgt. Headcrab"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#sgt-headcrab"
										id="sgt-headcrab"
										><i class="mdi mdi-link"></i></a
									>
									Sgt. Headcrab
								</h2>
								<div class="role-row">
									<span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									><span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									><span
										class="role-artist sub-role-graphic-designer"
										style="color:rgb(31, 139, 76)"
										>Graphic Designer</span
									><span
										class="role-mod"
										style="color:rgb(226, 117, 202)"
										>Moderation</span
									><span
										class="role-mod sub-role-game-mod"
										style="color:rgb(226, 117, 202)"
										>Game Moderator</span
									>
								</div>
								<span>
									<div>Writer and graphical designer</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/BoomSquid_mdl"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sourcemod role-weapon sub-role-level-designer role-events"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/spyro.jpg"
										alt="Spyro"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#spyro"
										id="spyro"
										><i class="mdi mdi-link"></i></a
									>
									Spyro
								</h2>
								<div class="role-row">
									<span
										class="role-sourcemod"
										style="color:rgb(233, 30, 99)"
										>SourceMod Developer</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									><span
										class="role-weapon sub-role-level-designer"
										style="color:rgb(50, 205, 50)"
										>Level Designer</span
									><span
										class="role-events"
										style="color:rgb(29, 172, 152)"
										>Events Team</span
									>
								</div>
								<span>
									<div>
										SourceMod Developer; Level Designer
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/Spyrokun5"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-writer role-artist sub-role-3d-artist sub-role-2d-artist role-pr"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/tom.jpg"
										alt="Tom Y."
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#tom-y"
										id="tom-y"
										><i class="mdi mdi-link"></i></a
									>
									Tom Y.
								</h2>
								<div class="role-row">
									<span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									><span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									><span
										class="role-artist sub-role-2d-artist"
										style="color:rgb(31, 139, 76)"
										>2D-Artist</span
									><span
										class="role-pr"
										style="color:rgb(50, 205, 50)"
										>Social Media / Public Relations</span
									>
								</div>
								<span>
									<div>Yamaza. Tom Yamaza</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/Tom_Yamaza"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-sysadmin role-webdev"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/tumble.jpg"
										alt="Tumble"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#tumble"
										id="tumble"
										><i class="mdi mdi-link"></i></a
									>
									Tumble
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-webdev"
										style="background:rgb(233, 30, 99)"
										>WebDev Lead</span
									><span
										class="role-sysadmin"
										style="color:rgb(173, 20, 87)"
										>SysAdmin</span
									>
								</div>
								<span>
									<div>
										I love working on this website and
										encourage feature creep
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/tumble1999/"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="mailto:tumblegamer@gmail.com"
											><i
												style="color:;"
												class="mdi mdi-email peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://tumble1999.github.io/"
											><i
												style="color:;"
												class="mdi mdi-web peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://www.reddit.com/user/tumblegamer"
											><i
												style="color:;"
												class="mdi mdi-reddit peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/tumble1999"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-artist sub-role-3d-artist role-weapon"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/umklaidet.jpg"
										alt="UmKlaiDet"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#umkladet"
										id="umkladet"
										><i class="mdi mdi-link"></i></a
									>
									UmKlaiDet
								</h2>
								<div class="role-row">
									<span
										class="role-artist"
										style="color:rgb(31, 139, 76)"
										>Artist</span
									><span
										class="role-artist sub-role-3d-artist"
										style="color:rgb(31, 139, 76)"
										>3D Artist</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									>
								</div>
								<span>
									<div>3D modeller</div>
									<div class="peopleContactBox"></div>
								</span>
							</div>
						</div>
					</div>
					<div
						class="showcase_profile embed flex role-webdev sub-role-python role-sourcemod role-writer role-pr sub-role-video-editor role-weapon sub-role-level-designer"
					>
						<div class="flex">
							<div class="avatar">
								<a>
									<img
										src="/images/team/zonical.jpg"
										alt="ZoNiCaL"
									/>
								</a>
							</div>
							<div class="miniprofile-data">
								<h2>
									<a
										class="anchor"
										href="/team#zonical"
										id="zonical"
										><i class="mdi mdi-link"></i></a
									>
									ZoNiCaL
								</h2>
								<div class="role-row">
									<span
										class="role-badge role-sourcemod"
										style="background:rgb(233, 30, 99)"
										>SourceMod Developer Lead</span
									><span
										class="role-webdev"
										style="color:rgb(233, 30, 99)"
										>WebDev</span
									><span
										class="role-webdev sub-role-python"
										style="color:rgb(233, 30, 99)"
										>Python Developer</span
									><span
										class="role-writer"
										style="color:rgb(52, 152, 219)"
										>Writer</span
									><span
										class="role-pr"
										style="color:rgb(50, 205, 50)"
										>Social Media / Public Relations</span
									><span
										class="role-pr sub-role-video-editor"
										style="color:rgb(50, 205, 50)"
										>VideoEditor</span
									><span
										class="role-weapon"
										style="color:rgb(50, 205, 50)"
										>Weapon Balance</span
									><span
										class="role-weapon sub-role-level-designer"
										style="color:rgb(50, 205, 50)"
										>Level Designer</span
									>
								</div>
								<span>
									<div>
										SourceMod Lead, <em
											>professional kiwi</em
										>
									</div>
									<div class="peopleContactBox">
										<a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://github.com/zonical"
											><i
												style="color:;"
												class="mdi mdi-github peopleContactLinks"
											></i></a
										><a
											class="peopleContactBoxLinks"
											target="_blank"
											href="https://twitter.com/ZoNiCaL2"
											><i
												style="color:;"
												class="mdi mdi-twitter peopleContactLinks"
											></i></a
										>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style>
				.post-content.role-project .role-project {
					display: block;
				}

				#role-project-button.active {
					background-color: rgb(255, 203, 155);
					color: black;
				}

				.post-content.role-sysadmin .role-sysadmin {
					display: block;
				}

				#role-sysadmin-button.active {
					background-color: rgb(173, 20, 87);
					color: black;
				}

				.post-content.role-webdev .role-webdev {
					display: block;
				}

				#role-webdev-button.active {
					background-color: rgb(233, 30, 99);
					color: black;
				}

				.post-content.role-sourcemod .role-sourcemod {
					display: block;
				}

				#role-sourcemod-button.active {
					background-color: rgb(233, 30, 99);
					color: black;
				}

				.post-content.role-launcher .role-launcher {
					display: block;
				}

				#role-launcher-button.active {
					background-color: rgb(233, 30, 99);
					color: black;
				}

				.post-content.role-writer .role-writer {
					display: block;
				}

				#role-writer-button.active {
					background-color: rgb(52, 152, 219);
					color: black;
				}

				.post-content.role-artist .role-artist {
					display: block;
				}

				#role-artist-button.active {
					background-color: rgb(31, 139, 76);
					color: black;
				}

				.post-content.role-content .role-content {
					display: block;
				}

				#role-content-button.active {
					background-color: rgb(50, 205, 50);
					color: black;
				}

				.post-content.role-pr .role-pr {
					display: block;
				}

				#role-pr-button.active {
					background-color: rgb(50, 205, 50);
					color: black;
				}

				.post-content.role-hr .role-hr {
					display: block;
				}

				#role-hr-button.active {
					background-color: rgb(50, 205, 50);
					color: black;
				}

				.post-content.role-weapon .role-weapon {
					display: block;
				}

				#role-weapon-button.active {
					background-color: rgb(50, 205, 50);
					color: black;
				}

				.post-content.role-events .role-events {
					display: block;
				}

				#role-events-button.active {
					background-color: rgb(29, 172, 152);
					color: black;
				}

				.post-content.role-mod .role-mod {
					display: block;
				}

				#role-mod-button.active {
					background-color: rgb(226, 117, 202);
					color: black;
				}
			</style>
		</div>
	</div>
</Layout>
