:root
{
    --ctfdark-color-content: #aaa;
    --ctfdark-color-foreground: #eee;
    --ctfdark-color-background: #2b2826;
}

/** HOTFIX - Navigation bar positioning & sizing.
************/
.header_container > *
{
    margin: 0 5mm;
}

.header_logotype
{
    height: inherit;
    padding-top: 3mm;
}

.header_logotype img
{
    height: 15mm;
}

.header_navigation
{
    padding: initial !important;
}

.main_navigation
{
    gap: 5mm;
}
/***************************************************/


/** HOTFIX - Default browser styling overrides.
/*******/
body
{
    color: var(--ctfdark-color-foreground);
    background: var(--ctfdark-color-background);
    min-height: 100vh;
}

main
{
    color: var(--ctfdark-color-content);
}
/***************************************************/
