<footer>
	<div id="wrapper" class="flex">
		<div class="col flex">
			<a href="/" target="_blank" rel="noreferrer noopener">
				<div class="company_copyright creators">
				</div>
			</a>
			<div class="copyright">
				<p>© Creators.TF Team 2019 - <span id="copyright-year-field">2022</span></p>
				<p>Creators.TF, the Creators.TF logo and Creators.TF are developed, founded and owned by the
					Creators.TF Team.</p>
			</div>
		</div>
		<div class="col flex">
			<a href="https://valvesoftware.com/" target="_blank" rel="noreferrer noopener">
				<div class="company_copyright valve"></div>
			</a>
			<div class="copyright">
				<p>Valve, the Valve logo, Steam, the Steam logo, Team Fortress, the Team Fortress logo are
					trademarks and/or registered trademarks of Valve Corporation. We are not affiliated with
					Valve Corporation. All rights belong to Valve Corporation.</p>
			</div>
		</div>
	</div>
</footer>
