<nav class="header_container_wrapper center">
	<div class="header_container center">
		<a class="header_logotype" href="/">
			<img
				src="/images/creators_logo_gear_newest.png"
				alt="Creators.TF Logo"
			/>
		</a>
		<ul class="header_navigation main_navigation">
			<li>
			</li>
			<li>
				<a href="/blog">
					<i class="mdi mdi-post"></i> Blog
				</a>
			</li>
			<li>
				<a href="/team">
					<i class="mdi mdi-account"></i> Team
				</a>
			</li>
		</ul>
	</div>
</nav>
