<aside class="right-panels">
	<div class="container infobox">
		<span class="panel-title white">Social Media</span>
		<div class="vcontainer links">
			<a href="https://discord.gg/K4Cyb7q" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-discord link-mini"></i>Discord
			</a>
			<a href="https://twitter.com/creatorstf" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-twitter link-mini"></i>Twitter
			</a>
			<a href="https://www.youtube.com/channel/UCSwnTvTlQd8bsaLZU1RT3fw" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-youtube link-mini"></i>YouTube
			</a>
			<a href="https://www.reddit.com/user/CreatorsTF/" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-reddit link-mini"></i>Reddit
			</a>
			<a href="https://steamcommunity.com/groups/CreatorsTF" target="_blank" rel="noreferrer noopener">
				<i class="mdi mdi-steam link-mini"></i>Steam Group
			</a>
		</div>
	</div>
	<div class="container infobox">
		<span class="panel-title white">Update History</span>
		<a href="/blog/125">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/helloween-2021.jpg)">
			</div>
		</a><a href="/blog/118">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/belation.png)">
			</div>
		</a><a href="/landing/digitaldirective">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/digitaldirective.jpg)">
			</div>
		</a><a href="/blog/85">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/snowedinsmissmas.jpg)">
			</div>
		</a><a href="/landing/barbocabarto">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/halloween2020.jpg)">
			</div>
		</a><a href="/blog/69">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/backtofight.jpg)">
			</div>
		</a><a href="/landing/classful">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/classful.jpg)">
			</div>
		</a><a href="/landing/hazardousenvironments">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/hazardousenvironments.jpg)">
			</div>
		</a><a href="/blog/14">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/new_beginning.jpg)">
			</div>
		</a><a href="/landing/selfmadesmissmas">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/selfmadesmissmas.jpg)">
			</div>
		</a>
	</div>
	<div class="container infobox">
		<span class="panel-title white">Archived Pages</span>
		<a href="/donate">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/tf_pages/launcher/modsupport.jpg)">
			</div>
		</a>
		<a href="/assetpack">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/store_banner.png)">
			</div>
		</a>
		<a href="/landing/digitaldirective/countdown">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/tf_pages/digitaldirective/robotaugmentations/supplydrops.jpg)">
			</div>
		</a>
		<a href="/landing/launcher">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/tf_pages/launcher/autoupdater.jpg)">
			</div>
		</a>
		<a href="/landing/promo">
			<div class="vcontainerprevupd monthly"
				style="background-image: url(/images/updates/history/promo.jpg)">
			</div>
		</a>
	</div>
</aside>
