body {
    background-color: var(--color-page);
}
body >* {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.ctf-pwa-button {
	text-transform: uppercase;
	padding: 12px;
	height:48px;
	width:48px;
	font-size: 12px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--color-nav);
	margin:2px;
	color: var(--color-white);
}

.ctf-pwa-button.active {
	background-color: rgba(255,255,255,.2);
}

.ctf-pwa-button i {
	font-size: 24px;
}