
/* Classlist */
.classlist {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: max-content;
	position: relative;
}
.classlist >* {
	margin-right: 10px;
	height:max-content ;
	/**display: none;*/
}

.classlist a {
	/* pointer-events: none; */
	transition: none;
}

.classlist .active {
	font-size: 3em;
}

/* .classlist .active, .classlist .active ~ * {
	display: block;
} */


/* Loadout */
.loadout {
    display: flex;
	align-items: flex-start;
}
.loadout-slots {
	width: 62vw;
	opacity: 70%;
}

.loadout-slots > * {
    display: none;
}

.loadout-slots > .active {
    display: unset;
}

.loadout-sections {
    margin-left: auto;
    display: flex;
    flex-flow: column;
}


#loadout-preview {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
	z-index: -10;
	display: none;
}

.loadout-preview .loadout-slots {
	display: none;
}

.loadout-preview #loadout-preview {
	display: block;
}


.loadout-preview .loadout-sections>*:first-child ~ * {
	display: none;
}

canvas {
	width: 100%;
	height: 100%;
	outline: currentcolor none medium;
}