.ctf-pwa-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: ;
    height: 3px;
    z-index: 200;
}
.ctf-pwa-loading.done {
    display: none;
}
.ctf-pwa-loading > * {
    height: 100%;
    background-color: var(--branding-orange);
    transition: width .4s ease;
}
