.ctf-pwa-news-types {
	display: flex;
	/* align-items: stretch; */
	height: 100%;
	/* width: 175%; */
}
.ctf-pwa-news-types >* {
	flex:1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	max-height: 48px;
	height: 48px;
}
.ctf-pwa-news-types *:last-child {
	margin-left: 16px;
}

.ctf-pwa-news-types .active {
    border-bottom: solid var(--color-white) 5px;
	/* background-color: rgba(1,1,1,.3); */
}

.ctf-profile {
	flex: unset;
	max-height: 40px;
	align-self: center;
}