@font-face {
    font-family: "DIN Black";
    src: url("din/DINBk.ttf") format('truetype');
}
@font-face {
    font-family: "DIN Bold";
    src: url("din/DINBd.ttf") format('truetype');
}
@font-face {
    font-family: "DIN Regular";
    src: url("din/DINRg.ttf") format('truetype');
}
@font-face {
    font-family: "DIN Medium";
    src: url("din/DINMd.ttf") format('truetype');
}
@font-face {
    font-family: "DIN Light";
    src: url("din/DINLi.ttf") format('truetype');
}

/* ========================================================== */

@font-face {
    font-family: "Ocra";
    src: url("ocra.ttf") format('truetype');
}
@font-face {
    font-family: "TF2";
    src: url("tf2.ttf") format('truetype');
}
@font-face {
    font-family: "TF2 Build";
    src: url("tf2build.ttf") format('truetype');
}
@font-face {
    font-family: "TF2 Professor";
    src: url("tf2professor_1.ttf") format('truetype');
}
@font-face {
    font-family: "TF2 Secondary";
    src: url("tf2secondary.ttf") format('truetype');
}

@font-face {
    font-family: "Calibri";
    src: url("Calibri.woff2") format('woff2');
}

/* ========================================================== */

/* use google fonts api lol */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
